/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
--header-height: 3.5rem;

/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
--black-color:  #171C26;
--black-color-light: #1D232F;
--black-color-lighten: #252B37;
--white-color: #fff;
--body-color: #fff;

--first-color-alt: #048654;
--scroll-body-color: #FBFEFD
--first-color: #069C54;
--title-color: #F1F3F2;

--h3-font-size: 1rem;
--small-font-size: .813rem;
--mb-3: 1.5rem;
/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
--body-font: "Poppins", sans-serif;
--normal-font-size: .938rem;

/*========== Font weight ==========*/
--font-regular: 400;
--font-semi-bold: 600;


/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

/* media size 1024 Channel
-------------------------------------------------- */
/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
:root {
--normal-font-size: 1rem;
}
}
/* end 1024 Channel
-------------------------------------------------- */
/*=============== BASE ===============*/
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
font-family: var(--body-font);
font-size: var(--normal-font-size);
background-color: var(--body-color);
}

ul {
list-style: none;
/* Color highlighting when pressed on mobile devices */
/*-webkit-tap-highlight-color: transparent;*/
}

a {
text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
max-width: 1120px;
margin-inline: 1.5rem;
}

.bd-container {
max-width: 1120px;
/*margin-top: 3.5rem;*/
}
/*=============== HEADER ===============*/
.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: var(--black-color);
box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
color: var(--white-color);
}

.nav__data {
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav__logo {
    color: var(--white-color);
    font-weight: var(--font-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.nav__logo__img{
    display: inline-block;
    width: 45px;
    height: 35px;
}

.nav__logo:hover {
color: var(--white-color);
}

.nav__toggle {
position: relative;
display: flex;
width: 32px;
height: 32px;
justify-content: right;
margin-right: 2rem;
}

.nav__burger,
.nav__close {
position: absolute;
width: max-content;
height: max-content;
inset: 0;
margin: auto;
font-size: 1.25rem;
cursor: pointer;
transition: opacity .1s, transform .4s;
}

.nav__close {
opacity: 0;
}

/* media size 1118 Channel
-------------------------------------------------- */
/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
.nav__menu {
position: absolute;
left: 0;
top: 2.5rem;
width: 100%;
height: calc(100vh - 3.5rem);
overflow: auto;
pointer-events: none;
opacity: 0;
transition: top .4s;
}

.nav__menu::-webkit-scrollbar {
width: 0;
}
.nav__list {
background-color: var(--black-color);
padding-top: 1rem;
}
}

/* end 1024 Channel
-------------------------------------------------- */
.nav__link {
color: var(--white-color);
background-color: var(--black-color);
/*font-weight: var(--font-semi-bold);*/
/*font-weight: var(--font-semi-bold);*/
padding: 1.25rem 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
transition: background-color .3s;
}

.nav__link:hover {
background-color: var(--black-color-light);
color: var(--white-color);
}

.nav__link a {
color: var(--white-color);
}

/* Show menu */
.show-menu {
opacity: 1;
top: 3.5rem;
pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
opacity: 0;
transform: rotate(90deg);
}

.show-icon .nav__close {
opacity: 1;
transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
cursor: pointer;
}

.dropdown__arrow {
font-size: 1.25rem;
font-weight: initial;
transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
padding: 1.25rem 1.25rem 1.25rem 2.5rem;
color: var(--white-color);
background-color: var(--black-color-light);
display: flex;
align-items: center;
column-gap: .5rem;
font-weight: var(--font-semi-bold);
transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
font-size: 1.25rem;
font-weight: initial;
}

.dropdown__link a {
color: var(--white-color);
}

.dropdown__link:hover,
.dropdown__sublink:hover {
background-color: var(--black-color);
color: var(--white-color);
}

.dropdown__menu,
.dropdown__submenu {
max-height: 0;
overflow: hidden;
transition: max-height .4s ease-out;
opacity:0;
pointer-events: none;
margin-left: -2rem;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
max-height: 1000px;
transition: max-height .4s ease-in;
opacity:1;
pointer-events: initial;
 margin-left:-2rem;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
margin-left: auto;
}

.dropdown__sublink {
background-color: var(--black-color-lighten);
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
.container {
margin-inline: 1rem;
}

.nav__link {
padding-inline: 1rem;
}

.nav__link a {
color: var(--white-color);
}

.dropdown__link a {
color: var(--white-color);
}

.nav__data {
height: 100%;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
}

}

/*=============== BREAKPOINTS ===============*//*=============== BREAKPOINTS ===============*/
/* media size 1118 Channel
-------------------------------------------------- */
/* For large devices */
@media screen and (min-width: 1118px) {

.container {
margin-inline: auto;
}

.nav {
height: calc(var(--header-height) + 2rem);
display: flex;
justify-content: space-between;
}

.nav__toggle {
display: none;
}

.nav__list {
height: 100%;
display: flex;
column-gap: 1.5rem;
}

.nav__link {
height: 100%;
padding: 0;
justify-content: initial;
column-gap: .25rem;
}

.nav__link:hover  {
background-color: transparent;
color: var(--white-color);
}

.nav__link a {
color: var(--white-color);
}

.dropdown__item,
.dropdown__subitem {
position: relative;
}

.dropdown__menu,
.dropdown__submenu {
max-height: 0; /*max-height: initial;*/
overflow: hidden;  /*overflow: initial;*/
position: absolute;
left: 0;
top: 6rem;
opacity: 0;
pointer-events: none;
transition: max-height .4s ease-out; /*transition: opacity .3s, top .3s;*/
 margin-left:-2rem;
}

.dropdown__link,
.dropdown__sublink {
padding: 1.25rem 1.5rem 1.25rem 1.5rem;
color: var(--white-color);
background-color: var(--black-color-light);
display: flex;
font-weight: var(--font-regular);
transition: background-color .3s;
text-align: auto;
justify-content: space-between;

}

.dropdown__menu div{
position: relative;
width: 330px; /*450*/
}


.dropdown__submenu {
position: absolute;
left: 100%;
top: .5rem;
}

/* Show dropdown menu */
.dropdown__item:hover .dropdown__menu {
max-height: initial;
overflow: initial;
position: absolute;
opacity: 1;
top: 5.5rem;
pointer-events: initial;
transition: top .3s;
color: var(--white-color);
 margin-left:-2rem;
}

/* Show dropdown submenu */
.dropdown__subitem:hover > .dropdown__submenu {
opacity: 1;
top: 0;
pointer-events: initial;
transition: top .3s;
}

.dropdown__hidden {
display: none;
}

.dropdown__link a {
color: var(--white-color);
}
}
/* end 1118 Channel
-------------------------------------------------- */
/*=============== Scroll Page ===============*/
html{
  scroll-behavior: smooth;
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  /*background: rgba(6,156,84,.5);*/
  background:  #444444;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  /*background-color: var(--first-color-alt);*/
  background-color: #5b5b5b;
}

.scrolltop__icon{
  font-size: 1.8rem;
  /*color: var(--scroll-body-color);*/
  color: #fff;
}

/* Show scrolltop */
.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*=============== CLASS BODY CSS ===============*/
.bd-grid{
  display: grid;
  gap: 1.5rem;
}

/*========== CLASS CSS ==========*/
.section{
  /*padding: 4rem 0 2rem;*/
  padding: 0rem 0 0rem;
}


/*========== FOOTER ==========*/

.footer-section{
  background-color: #1D232F;
  padding:2rem;
}

.footer__container{
  /*grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));*/
  row-gap: 2rem;
  background-color: #1D232F;
  align-content:right;
  grid-template-columns: repeat(3, 1fr);
  justify-content: right;
}

.footer__description{
  display: block;
  font-size: var(--small-font-size);
  margin: .25rem 0 var(--mb-3);
}

.footer__social{
  font-size: 1.5rem;
  color: #fff;
  margin-right: var(--mb-2);
}

.footer__title{
  font-size: var(--h2-font-size);
  color: #fff;
  margin-bottom: var(--mb-2);
}

.footer__link{
  display: inline-block;
  color: #fff;
  margin-bottom: var(--mb-1);
}

.footer__link:hover{
  color: #fff;
}

.footer__copy{
  text-align: center;
  font-size: .8rem;
  color: #999999;
  margin-top: 2.0rem;
}

.footer__content{
  text-align: left;
}

.footer__img{
   display: inline-block;
   font-size:24px;
   color:#fff;
}

.footer__text{
 margin-left:10px;
}

.footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:13px;
}

/*========== BreakPoint ==========*/
/* media size max 1117 to min 1000 Channel
-------------------------------------------------- */
@media screen and (max-width: 1117px) and (min-width: 1000px){
.container {
margin-inline: 1rem;
}

.nav__link {
padding-inline: 1rem;
}

.nav__link a {
color: var(--white-color);
}

.nav__data {
height: 100%;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.dropdown__link a {
color: var(--white-color);
}
}
/* end max 1117 to min 1000 Channel
-------------------------------------------------- */
/* media size max 1000 to min 800 Channel
-------------------------------------------------- */
/*========== BreakPoint ==========*/
@media screen and (max-width: 1000px) and (min-width: 800px){
.container {
margin-inline: 1rem;
}

.nav__link {
padding-inline: 1rem;
}

.nav__link a {
color: var(--white-color);
}

.nav__data {
height: 100%;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.dropdown__link a {
color: var(--white-color);
}

.section{
  /*padding: 4rem 0 2rem;*/
  padding: 0rem 0 0rem;
}

}
/* end max 1000 to min 800 Channel
-------------------------------------------------- */
/* media size max 800 to min 600 Channel
-------------------------------------------------- */
/*========== BreakPoint ==========*/
/* For small devices */
/*@media screen and (max-width: 678px) {*/
@media screen and (max-width: 800px) and (min-width: 600px){
.container {
margin-inline: 1rem;
}

.nav__link {
padding-inline: 1rem;
}

.nav__link a {
color: var(--white-color);
}
.dropdown__link a {
color: var(--white-color);
}

.nav__data {
height: 100%;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.section{
  /*padding: 4rem 0 2rem;*/
  padding: 0rem 0 0rem;
}
}
/* end media size max 800 to min 600 Channel
-------------------------------------------------- */
/* media size max 600 to min 400 Channel
-------------------------------------------------- */
/*========== BreakPoint ==========*/
/*@media screen and (max-width: 500px) {*/
@media screen and (max-width: 600px) and (min-width: 400px){
.container {
margin-inline: 1rem;
}

.nav__link {
padding-inline: 1rem;
}

.nav__link a {
color: var(--white-color);
}

.nav__data {
height: 100%;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
}


.dropdown__link a {
color: var(--white-color);
}

.section{
  /*padding: 4rem 0 2rem;*/
  padding: 0rem 0 0rem;
}

}
/* end max 600 to min 400 Channel
-------------------------------------------------- */


