<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Dashboard</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/custom.css" th:href="@{css/custom.css}"/>
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="static/js/custom.js" th:src="@{js/custom.js}"></script>
    </head>
  <body>
      <!-- give a fragment name so that we can import from other html files -->
	  <nav class="navbar navbar-default dashboard-navbar" th:fragment="dashboardnav">
	      <div class="container-fluid">
	        <div class="navbar-header">
	           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	           </button>
	          <a class="navbar-brand" href="/dashboard" th:href="@{/dashboard}" title="NCL"><img class="img-circle img-responsive" src="../static/images/logo_20.png" th:src="@{~/images/logo_20.png}" alt="NCL"/></a>
	        </div>
	        <div class="collapse navbar-collapse" id="myNavbar">
	           <ul class="nav navbar-nav dashboard-navbar">
	               <li><a href="/teams" th:href="@{/teams}"><i class="fa fa-leaf"></i> Team</a></li>
	               <li><a href="/experiments" th:href="@{/experiments}"><i class="fa fa-tasks"></i> Experiment</a></li>
	               <li><a href="#"><i class="fa fa-umbrella"></i> Help</a></li>
	           </ul>
	           <ul class="nav navbar-nav navbar-right dashboard-navbar">
	               <li class="dropdown">
	                   <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-lg"></i> <span class="caret"></span></a>
	                   <ul class="dropdown-menu">
	                       <li><a href="/account_settings" th:href="@{/account_settings}">Edit Account Settings</a></li>
	                       <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-sign-out"></i> Sign Out</a></li>
	                   </ul>
	               </li>
	           </ul>
	       </div> <!-- /.navbar-collapse -->
	      </div> <!-- /.container-fluid -->
	 </nav>
  </body>
</html>