<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" th:href="@{~/css/animate.min.css}"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{~/css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/lightbox.css" th:href="@{~/css/lightbox.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{~/css/main.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/responsive.css" th:href="@{~/css/responsive.css}"/>
        <link rel="stylesheet" type="text/css" id="static/css-preset" href="css/presets/preset1.css" th:href="@{~/css/presets/preset1.css}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/ncl_favicon1.png"/>

    </head>
  <body>

      <!-- give a fragment name so that we can import from other html files -->
   		<div th:fragment="footer">
				<footer id="footer">
					<div class="footer-bgcolor">
						<div class="container">
							<p>&nbsp;</p>
							<div class="row">
								<div class="col-sm-3 col-sm-offset-1">
									<ul class="address">
										<li><i class="fa fa-phone"></i> <span> Phone: </span>+65 6601 1056</li>
										<li><i class="fa fa-map-marker"></i> <span> Address: </span><a href="https://www.google.com.sg/maps/place/Innovation+4.0/@1.2947287,103.7407406,13z/data=!4m5!3m4!1s0x31da1b3be9c6fabd:0xa50c38c2456942de!8m2!3d1.2946431!4d103.7757601?hl=en" >Innovation 4.0,3 Research Link,NUS,Singapore-117602</a></li>
									</ul>
									<div class="social-icons2">
									</div>
								</div>
								<div class="col-sm-4">
									<a href="terms_and_conditions" th:href="@{/terms_and_conditions}" th:text="#{signup.termsAndCondition}">Terms and Conditions</a> | <a href="#" th:href="@{/orderform/download}">Reservation</a> <!--| <a th:href="@{/public_teams}">Public&nbsp;Teams</a>--> | <a th:href="@{/data/public}">Public Datasets</a>
								</div>
								<div class="col-sm-2">
									<ul>
										<a class="envelope" th:href="#{support.email.link}"><i class="fa fa-envelope fa-3x"></i></a>
										<a href="">&nbsp;</a>
										<!--<a class="github" href="https://github.com/nus-ncl"><i class="fa fa-github fa-3x"></i></a>-->
									</ul>
								</div>

							</div> <!-- row -->
						</div> <!-- container -->
					</div>
				</footer>
   		</div> <!-- main-nav -->
	  <object th:include="fragments/javascript :: javascript" th:remove="tag" />
  </body>
</html>