<!-- 
    This is unused as of April 06 as not sure how to change the title dynamically
    HTML CSS <head/> css imports
    author: yeoteye
 -->
 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title>National Cybersecurity R&amp;D Laboratories</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" th:href="@{~/css/animate.min.css}"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{~/css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/lightbox.css" th:href="@{~/css/lightbox.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{~/css/main.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/responsive.css" th:href="@{~/css/responsive.css}"/>
        <link rel="stylesheet" type="text/css" id="static/css-preset" href="css/presets/preset1.css" th:href="@{~/css/presets/preset1.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/flexslider.css" th:href="@{~/css/flexslider.css}"/>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/ncl_favicon1.png" th:href="@{~/images/ncl_favicon1.png}"/>

        <meta name="google-site-verification" content="9Rbb0iUDVKBNIkwpyLKnoyTN79LBNFQxLPcRNgYKeHQ" />
    </head>
  <body>
  </body>
</html>