<!-- 
    This is unused as of April 06 as not sure how to change the title dynamically
    HTML CSS <head/> css imports
    author: yeoteye
 -->
 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="javascript">
        <script src="https://unpkg.com/scrollreveal" ></script>
        <script type="text/javascript" src="static/js/html5shiv.js" th:src="@{~/js/html5shiv.js}"></script>
        <script type="text/javascript" src="static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{~/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script type="text/javascript" src="static/js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
        <script type="text/javascript" src="static/js/nav.js" th:src="@{~/js/nav.js}"></script>
        <script type="text/javascript" src="static/js/infra.js" th:src="@{~/js/infra.js}"></script>
        <script type="text/javascript" src="static/js/events.js" th:src="@{~/js/events.js}"></script>
        <script type="text/javascript" src="static/js/price.js" th:src="@{~/js/price.js}"></script>
    </div>
  </body>
</html>