<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories</title>
</head>
<body>
<!-- give a fragment name so that we can import from other html files -->
<div class="main-nav navbar-fixed-top" th:fragment="loginnav" style="background-color: #B4B4B4">
    <div class="container">

        <div class="navbar-header">
            <a href="index.html" th:href="@{/}"><img src="/images/NCL_Logo_0525.png" alt="logo" width="100"
                                                     class="logo1"/></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color: #333333">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div> <!-- navbar-header -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left login-navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Home
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <li><a href="../about.html" th:href="@{~/about}">About NCL</a></li>
                        <li><a href="../people.html" th:href="@{~/people}">Team</a></li>
                        <li><a href= "features.html" th:href="@{~/features}">NCL Testbed Features</a></li>
                        <li><a href="../services_and_tools1.html" th:href="@{~/services_tools}">Environments and Services</a></li>
                        <li><a href="../ncl_offering_data.html" th:href="@{~/data_resources}">Data</a></li>
                        <li><a href="collaborators.html" th:href="@{~/collaborators}">Collaborators</a></li>
                    <!--    <li><a href="community.html" th:href="@{~/community}">Community</a></li>  -->
                        <li><a href="career.html" th:href="@{~/career}">Career</a></li>
                      <!--  <li><a href="scholarship.html" th:href="@{~/scholarship}">Scholarship</a></li>  -->
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Research
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <!--<li><a href="../research.html" th:href="@{~/research}">Research Areas</a></li>-->
                        <li><a href="../ncl_publications.html" th:href="@{~/nclpublications}">Paper,Talks and News Articles</a></li>
                        <li><a href="../other_publication.html" th:href="@{~/otherPublication}">Publications from projects that used NCL testbed</a></li>
                    </ul>
                </li>

                <li class="scroll"><a href="https://ncl-sg.blogspot.com/">Tech Blog</a></li>

                <li class="scroll"><a href="../pricing.html" th:href="@{~/pricing}">Pricing</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Testbed
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <li><a href="AviationRunwaySystem.html" th:href="@{~/AviationRunwaySystem}">Aviation Runway System (New)</a></li>
                        <li><a href="RailwayMetroSystem.html" th:href="@{~/RailwayMetroSystem}">Land based Railway System</a></li>
                        <li><a href="PowerGridOTSystem.html" th:href="@{~/PowerGridOTSystem}">Power Grid OT Simulation System</a></li>
                        <!--<li><a href="updates.html" th:href="@{~/updates}">Updates</a></li>-->
                        <li><a href="../testbedInformation.html" th:href="@{~/testbedInformation}">General Info</a></li>
                        <!--<li><a href="testbednodesstatus.html" th:href="@{~/testbedNodesStatus}">Node Status</a></li>-->
                        <li><a href="/NCL_Testbed_Documentation.pdf">Documentation</a></li>
                        <li><a href="/tutorials.html" th:href="@{/tutorials}"><span
                                th:text="#{nav.tutorial}">Tutorials</span></a></li>
                        <li><a href="resources.html" th:href="@{~/resources}">External Links</a></li>
                        <li><a href="dataset.html" th:href="@{~/dataset}">AI-Testbed</a></li>

                        <!-- <li><a href="calendar.html" th:href="@{~/calendar}">Usage Calendar</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
                    <ul class="dropdown-menu ">
                        <li><a href="recent_events.html" th:href="@{~/recent_events}">Recent Events</a></li>
                        <li><a href="event.html" th:href="@{~/event}">Past Events</a></li>
                    </ul>
                </li>

                <li class="scroll"><a href="contactus.html" th:href="@{~/contactus}">Contact Us</a></li>

            
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right login-navbar-right">
                <li><a href="#" th:href="@{/signup2}">Create account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right login-navbar-right1">
                <li><a href="#" th:href="@{/login}">Log In</a></li>
            </ul>

        -->
        </div> <!-- navigation links -->


    </div> <!-- container -->
    <div class="container-fluid" th:if="${@environment.getProperty('ncl.web.service.maintenance.enabled')}">
        <div class="row maintenance-navbar" th:text="${@environment.getProperty('ncl.web.service.maintenance.notice')}">
            MAINTENANCE NOTICE
        </div>
    </div>
</div> <!-- main-nav -->
<object th:include="fragments/javascript :: javascript" th:remove="tag"/>
</body>
</html>
