<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="static/css/animate.min.css" th:href="@{~/css/animate.min.css}"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{~/css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/lightbox.css" th:href="@{~/css/lightbox.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/responsive.css" th:href="@{~/css/responsive.css}"/>
        <link rel="stylesheet" type="text/css" id="static/css-preset" href="css/presets/preset1.css" th:href="@{~/css/presets/preset1.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{~/css/main.css}"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/ncl_favicon.png"/>
        
	  <!--[if lt IE 9]>
	    <script type="text/javascript" src="static/js/html5shiv.js" th:src="@{~/js/html5shiv.js}"></script>
	    <script type="text/javascript" src="static/js/respond.min.js" th:src="@{~/js/respond.min.js}"></script>
	  <![endif]-->
	  
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{~/js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script type="text/javascript" src="static/js/jquery.inview.min.js" th:src="@{~/js/jquery.inview.min.js}"></script>
		<script type="text/javascript" src="static/js/wow.min.js" th:src="@{~/js/wow.min.js}"></script>
		<script type="text/javascript" src="static/js/mousescroll.js" th:src="@{~/js/mousescroll.js}"></script>
		<script type="text/javascript" src="static/js/smoothscroll.js" th:src="@{~/js/smoothscroll.js}"></script>
		<script type="text/javascript" src="static/js/jquery.countTo.js" th:src="@{~/js/jquery.countTo.js}"></script>
		<script type="text/javascript" src="static/js/lightbox.min.js" th:src="@{~/js/lightbox.min.js}"></script>
		<script type="text/javascript" src="static/js/main.js" th:src="@{~/js/main.js}"></script>
    </head>
  <body>
      <!-- give a fragment name so that we can import from other html files -->
   		<div class="main-nav" th:fragment="loginnav">
   			<div class="container">
   			
   				<div class="navbar-header">
   					<a href="#" th:href="@{/}"><img src="images/nav_icon.png" alt="logo" width="134" height="87" class="logo1" /></a>
   					<button type="button" class="navbar-toggle icon-pad" data-toggle="collapse" data-target=".navbar-collapse">
   						<span class="sr-only">Toggle navigation</span>
   						<span class="icon-bar"></span>
   						<span class="icon-bar"></span>
   						<span class="icon-bar"></span>
   					</button>
   				</div> <!-- navbar-header -->
   				
   				<div class="collapse navbar-collapse">
   					<ul class="nav navbar-nav navbar-left">
   						<li class="scroll"><a href="#joinUs" th:href="@{/#joinUs}">Join Us</a></li>
   						<li class="scroll"><a href="#team" th:href="@{/#team}">Our Team</a></li>
   						<li class="scroll"><a href="#blog" th:href="@{/#blog}">News &amp; Events</a></li>
   					</ul>
   					<ul class="nav navbar-nav navbar-right">
   						<li><a href="#" th:href="@{/login}">Log in</a></li>
   						<li><a href="#" th:href="@{/signup2}">Sign Up</a></li>
   					</ul>
   				</div> <!-- navigation links -->
   				
   			</div> <!-- container -->
   		</div> <!-- main-nav -->
  </body>
</html>