<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="images/newui/ncl_favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"/>
    <title >National Cybersecurity R&amp;D Lab</title>

    <!--=============== CSS ===============-->
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css" th:href="@{~/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="static/css/newui/nav.css" th:href="@{~/css/newui/nav.css}"/>
    <link rel="stylesheet" type="text/css" href="static/css/newui/carousel.css" th:href="@{~/css/newui/carousel.css}"/>
    <link rel="stylesheet" type="text/css" href="static/css/newui/aboutus.css" th:href="@{~/css/newui/aboutus.css}"/>
   <!-- <link rel="stylesheet" type="text/css" href="static/css/newui/slider.css" th:href="@{~/css/newui/slider.css}"/> -->
    <!--=============== JS ===============-->
    <!--<script type="text/javascript" src="static/js/nav.js" th:src="@{~/js/nav.js}"></script>
    <script type="text/javascript" src="static/js/slider.js" th:src="@{~/js/slider.js}"></script>-->

</head>
<body>
<!--=============== HEADER ===============-->
<header class="header" th:fragment="nav">
    <nav class="nav container">
        <div class="nav__data">
            <a href="#" class="nav__logo">
                <img class="nav__logo__img" src="/images/newui/ncl_logo.png" alt="Logo" />
                <span>National<br/>Cybersecurity R&amp;D Lab</span>
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>

        <!--=============== NAV MENU ===============-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <!--=============== DROPDOWN HOME ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        <a href="../#home" th:href="@{~/#home}">Home</a> <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu" >
                        <li>
                            <a href="../#about" th:href="@{~/#about}" class="dropdown__link">About us
                            </a>
                        </li>
                        <li>
                            <a href="../#whatwedo" th:href="@{~/#whatwedo}" class="dropdown__link">
                                What We Do
                            </a>
                        </li>
                        <li>
                            <a href="../#ourteam" th:href="@{~/#ourteam}" class="dropdown__link">
                                Our Team
                            </a>
                        </li>
                        <li>
                            <a href="../#collaborators"  th:href="@{/#collaborators}" class="dropdown__link">Collaborators
                            </a>
                        </li>
                        <li >
                            <div>
                                <a href="#careers" class="dropdown__link" >Careers
                                </a></div>
                        </li>
                    </ul>
                </li>

                <!--=============== DROPDOWN Services ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Services <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li><div>
                            <a href="../services_and_tools.html" th:href="@{~/services_tools}" class="dropdown__link">
                                Environment , Data, Tools &amp; Services
                            </a>
                            </div>
                        </li>
                        <li>
                            <a href="../infrserver.html" th:href="@{~/infraserver}" class="dropdown__link">
                                Infra Servers
                            </a>
                        </li>
                        <li>
                            <a href="../pricing.html" th:href="@{~/pricing}"  class="dropdown__link">
                                Pricelist
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                How To Apply
                            </a>
                        </li>
                    </ul>
                </li>

                <!--=============== DROPDOWN Events ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Events <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li><div>
                            <a href="#" class="dropdown__link">
                                2023 Events
                            </a></div>
                        </li>
                        <li><div>
                            <a href="#" class="dropdown__link">
                                Past Events
                            </a></div>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                CiDEx
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                LockShield
                            </a>
                        </li>
                        <li><div>
                            <a href="#" class="dropdown__link">
                                Cross Sword
                            </a></div>
                        </li>
                    </ul>
                </li>
                <!--=============== DROPDOWN Publications ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Publications <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li><div>
                            <a href="../ncl_publications.html" th:href="@{~/nclpublications}" class="dropdown__link">
                                NCL Research Publications
                            </a></div>
                        </li>

                        <li><div>
                            <a href="../ncl_newsarticles.html" th:href="@{~/nclnewsarticles}" class="dropdown__link">
                                NCL News Articles
                            </a></div>
                        </li>
                        <li><div>
                            <a href="../ncl_testbedpublications.html" th:href="@{~/ncltestbedpublications}" class="dropdown__link">
                                Publications from Projects that use NCL Testbed
                            </a></div>
                        </li>
                        <li>
                            <a href="https://ncl-sg.blogspot.com/" class="dropdown__link" target="_blank">
                                Techblog
                            </a>
                        </li>

                    </ul>
                </li>
                <!--=============== DROPDOWN Training ===============-->
                <li class="dropdown__item">
                    <div class="nav__link">
                        Trainings <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li><div>
                            <a href="#" class="dropdown__link">
                                Cyber-Range
                            </a></div>
                        </li>

                        <li><div>
                            <a href="#" class="dropdown__link">
                                Cyber Exercise
                            </a> </div>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                IJCO
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                NJCO
                            </a>
                        </li>
                        <li><div>
                            <a href="#" class="dropdown__link">
                                Scholarship
                            </a></div>
                        </li>

                    </ul>
                </li>

                <!--=============== DROPDOWN Account ===============-->

                <li class="dropdown__item">
                    <div class="nav__link">
                        Account <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li>
                            <a href="../login.html" th:href="@{~/login}" class="dropdown__link">
                                Login
                            </a>
                        </li>

                        <li><div>
                            <a href="#" class="dropdown__link">
                                Sign up
                            </a></div>
                        </li>

                    </ul>
                </li>
                <!--=============== Contact ===============-->

                <li><a href="#" class="nav__link">Contact Us</a></li>
            </ul>

        </div>

    </nav>

</header>
<!--=============== JS ===============-->
<object th:include="fragments/javascript :: javascript" th:remove="tag"/>
</body>
</html>
