/*
    Customised CSS to override some Bootstrap CSS
    author: yeoteye
    date: April 05 2016
*/

/* general */
.mybg {
	background-color: #ffffff;
}

.dashboard-navbar {
    letter-spacing: 2px;
    font-size: 12px !important;
}

.dashboard-navbar > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

.dashboard-navbar li a:hover, .dashboard-navbar li.active a {
  color: #039be5 !important;
  background-color: #fff !important;
}

.login-navbar {
	margin-bottom: 0;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

/* index page */
.bg-1, .bg-2, .bg-3 {
	padding: 60px 50px;
}

.bg-alternate {
    background-color: #474e5d;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #ea5361;
}

.carousel-indicators li {
    border-color: #ea5361;
}

.carousel-indicators li.active {
    background-color: #ea5361;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}

#customers h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

#services {
	color: #ffffff;
}

#services h2 {
    font-size: 24px;
    text-transform: uppercase;
    /* color: #303030; */
    font-weight: 600;
    margin-bottom: 30px;
}

#services h4 {
	font-size: 19px;
	line-height: 1.375em;
	/* color: #303030; */
	font-weight: 400;
	margin-bottom: 30px;
}

.services-logo {
	color: #ea5361;
	font-size: 50px;
}

/* login page */
#login-dp {
	border-radius: 10px;
    min-width: 250px;
    overflow:hidden;
    background-color:rgba(255,255,255, 1.0) !important;
}

#login-dp .form-group {
	padding: 10px;
    margin-bottom: 10px;
}

.login-menu {
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/* register form */
#step2, #step3, #step4 {
    display: none;
}

.registration-panel {
	 padding: 10px;
	 margin-top: 50px;
	 border-color: #039be5;
	 border-radius: 10px;
	 background-color:rgba(255,255,255, 0.8) !important;
}

.registration-panel .panel-heading {
	 background: none;
	 margin-bottom: 10px;
	 text-align: center;
	 color: #777;
}

/*progressbar*/
#progressbar {
	 margin-top: 20px;
	 margin-bottom: 30px;
	 overflow: hidden;
	 /*CSS counters to number the steps*/
	 counter-reset: step;
}

#progressbar li {
	 list-style-type: none;
	 color: #777;
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 13px;
	 width: 33.33%; /* change width if there are more tabs, eg, 4 tabs = 100% divide 4 */
	 float: left;
	 position: relative;
}

#progressbar li:before {
	 text-align: center;
	 content: counter(step);
	 counter-increment: step;
	 width: 30px;
	 line-height: 30px;
	 display: block;
	 font-size: 11px;
	 color: #333;
	 background: white;
	 border-radius: 3px;
	 margin: 0 auto 5px auto;
}
  
/*progressbar connectors*/
#progressbar li:after {
	 content: '';
	 width: 100%;
	 height: 2px;
	 background: white;
	 position: absolute;
	 left: -50%;
	 top: 14px;
	 z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	 /*connector not needed before the first step*/
	 content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	 background: #27AE60;
	 color: white;
}

/* teams */
.team-heading-current-team {
	color: #039be5;
}

.team-panel-current-team {
	border-color: #039be5;
}

.team-heading-request-participation {
	color: #73c20e;
}

.team-panel-request-participation {
	border-color: #73c20e;
}

.team-heading-join-request {
	color: #fca44b;
}

.team-panel-join-request {
	border-color: #fca44b;
}

.team-panel {
	margin-bottom: 100px;
}

.badge-danger {
	background-color: #dd4b39;
}

/* experiment page */
.expStatusStop {
	font-weight: bold;
	color: #dd4b39
}

.expStatusReady {
	font-weight: bold;
	color: #73c20e;
}

/* account details page */
.account-change-success {
	font-weight: bold;
	color: #29a20d;
}

.password-change-mismatch {
	font-weight: bold;
	color: #dd4b39;
}

/* registration page */
#step2, #step3, #step4_1, #step4_2 {
	display: none;
}
