/*
    Customised CSS to override some Bootstrap CSS
    author: yeoteye
    date: April 05 2016
*/

/* general */
.mybg {
	background-color: #759ebe; !important;
}

/* login page */
#login-dp {
    min-width: 250px;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .form-group {
	padding: 10px;
    margin-bottom: 10px;
}

.login-menu {
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.helloworld {
	color: red;
}