/*
    Customised CSS to override some Bootstrap CSS
    author: yeoteye
    date: April 05 2016
*/

/* general */

.dashboard-navbar {
    letter-spacing: 2px;
    font-size: 12px !important;
}

.dashboard-navbar > li > a {
  font-weight: bold;
  text-transform: uppercase;
}

.dashboard-navbar li a:hover, .dashboard-navbar li.active a {
  color: #039be5 !important;
  background-color: #fff !important;
}

/* login page */
#login-dp {
	border-radius: 10px;
    min-width: 250px;
    overflow:hidden;
    background-color:rgba(255,255,255, 1.0) !important;
}

#login-dp .form-group {
	padding: 10px;
    margin-bottom: 10px;
}

.login-menu {
	width: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.registration-panel {
	 padding: 10px;
	 margin-top: 50px;
	 border-color: #039be5;
	 border-radius: 10px;
	 background-color:rgba(255,255,255, 0.8) !important;
}

.registration-panel .panel-heading {
	 background: none;
	 margin-bottom: 10px;
	 text-align: center;
	 color: #777;
}

/*progressbar*/
#progressbar {
	 margin-top: 20px;
	 margin-bottom: 30px;
	 overflow: hidden;
	 /*CSS counters to number the steps*/
	 counter-reset: step;
}

#progressbar li {
	 list-style-type: none;
	 color: #777;
	 text-align: center;
	 text-transform: uppercase;
	 font-size: 13px;
	 width: 25%; /* change width if there are more tabs, eg, 4 tabs = 100% divide 4 */
	 float: left;
	 position: relative;
}

#progressbar li:before {
	 text-align: center;
	 content: counter(step);
	 counter-increment: step;
	 width: 30px;
	 line-height: 30px;
	 display: block;
	 font-size: 11px;
	 color: #000;
	 background: #FFF;
	 border: 1px #039be5 solid;
	 border-raidus: 3px;
	 margin: 0 auto 5px auto;
}
  
/*progressbar connectors*/
#progressbar li:after {
	 content: '';
	 width: 100%;
	 height: 2px;
	 background: #039be5;
	 position: absolute;
	 left: -50%;
	 top: 14px;
	 z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	 /*connector not needed before the first step*/
	 content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	 background: #039be5;
	 color: #FFF;
}

/* teams */
.team-heading-current-team {
	color: #039be5;
}

.team-panel-current-team {
	border-color: #039be5;
}

.team-heading-request-participation {
	color: #73c20e;
}

.team-panel-request-participation {
	border-color: #73c20e;
}

.team-heading-join-request {
	color: #fca44b;
}

.team-panel-join-request {
	border-color: #fca44b;
}

.team-panel {
	margin-bottom: 100px;
}

.badge-danger {
	background-color: #dd4b39;
}

/* experiment page */
.expStatusStop {
	font-weight: bold;
	color: #dd4b39
}

.expStatusReady {
	font-weight: bold;
	color: #73c20e;
}

/* account details page */
.account-change-success {
	font-weight: bold;
	color: #29a20d;
}

.password-change-mismatch {
	font-weight: bold;
	color: #dd4b39;
}

/* registration page */
#step2, #step3, #step4_1, #step4_2 {
	display: none;
}

/* data page question mark mouseover */
.data-name-tooltip {
    position: relative;
    display: inline-block;
}

.data-name-tooltip .tooltiptext {
	opacity: 0.7;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0 0px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.data-name-tooltip:hover .tooltiptext {
    visibility: visible;
}

.data-name-tooltip .tooltiptext {
	text-align: center;
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* license tooltip mouseover */
.license-tooltip {
    position: relative;
    display: inline-block;
}

.license-tooltip .tooltiptext {
	opacity: 0.7;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0 0px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.license-tooltip:hover .tooltiptext {
    visibility: visible;
}

.license-tooltip .tooltiptext {
	padding: 10px;
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/*
========================= CSS from merging with web design layout =========================
*/

/*************************
*******Typography******
**************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h7 {
  color: #FFF;
  font-size: 30px;
  alignment : center; 
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h4,
.parallax h5,
.parallax h6 {
  color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
  font-weight: 300;
  color: #fff;
}

/*
.btn {
  border: 0;
  border-radius: 0;
}

.btn.btn-primary:hover {
  background-color: #017fb5;
}*/

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

section {
  padding: 100px 0;
}

.heading {
  padding-bottom:50px;
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 30%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}

.caption .btn-start:hover {
  color: #FFF;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.banner {
	height : 900px;
	padding-top: auto;
	padding-bottom: 30%;
}

.background3 {
	background-image: url(../images/slider/1.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-attachment: fixed;
}

.h12 {
 color : #028fcc;
}

/*************************
********Join Us CSS*******
**************************/
.h13 {
	font-weight: bold;
	color : #028fcc;
}

.join-us-background {
	background-color: #D4D4D4;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  height: 90px;
  line-height: 90px;
  width: 90px;  
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
  background-color: #333;
}

.our-services .col-sm-4 {
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4), 
.our-services .col-sm-4:nth-child(5), 
.our-services .col-sm-4:nth-child(6) {
  border-bottom:0;
  padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3), 
.our-services .col-sm-4:nth-child(6) {
  border-right:0;
}

.service-info h3 {
  margin-top: 35px;
}

/*************************
********About CSS*******
**************************/
#about-us {
  background-image: url(../images/about-bg.jpg);
  padding: 60px 0;
}

#about-us h2 {
  margin-top: 0;
  color: #fff;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}

.progress{
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 25px;
}

.progress-bar{
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 600;
}


.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}

/* ==========================================================================
Portfolio
========================================================================== */
.effects { padding-left: 15px; }
.effects .img { position: relative; margin-bottom: 50px; position: relative; z-index: 1; overflow: hidden; }
.effects .img:nth-child(n) { margin-right: 5px; }
.effects .img:first-child { margin-left: -15px; }
.effects .img:last-child { margin-right: 0; }
.effects .img img { display: block; margin: 0; padding: 0; height: auto; }
.overlay { display: block; position: absolute; z-index: 20; background: rgba(100, 194, 158, 0.8); overflow: hidden; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
a.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px; text-align: center; background-color: #000; cursor: pointer; }
a.close-overlay.hidden { display: none; }
a.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #fff; font-weight: 600; font-size: 14px; text-transform: uppercase; line-height: 30px; }
.overlay-effect .img i { font-size: 30px; }
.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; }
.overlay-effect .overlay a.expand { left: 0; right: 0; bottom: 47%; margin: 0 auto -30px auto; }
.overlay-effect .img.hover .overlay { height: 100%; opacity: 1; }
.img img { width: -webkit-calc(100% + 40px) !important; width: calc(100% + 40px) !important; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -moz-transition: opacity 0.35s, -moz-transform 0.35s; -o-transition: opacity 0.35s, -o-transform 0.35s; -webkit-transform: translate3d(-40px, 0, 0); transform: translate3d(-40px, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.img:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }

/* ==========================================================================
FlexSlider Custom CSS
========================================================================== */
ul.slides li { margin-bottom: 20px; }

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.wp3 { background: url('../img/iphone-bg.png') no-repeat center center; background-position: 200px 10px; height: 100%; }

/*************************
******News Events CSS*****
**************************/
.news-header {
	text-align: center;
	color : #028fcc;
}

.news-header::after { content: " "; border: solid 2px #ffffff; display: block; width: 35px; margin: 25px auto; }


/*************************
***********Team CSS*******
**************************/
.team-nav {
	margin-bottom: 20px;
}

.middle{
	margin-bottom: 20px;
	alignment : center;  
}


.member-info ul {
	list-style: none;
	padding-left: 0px;
}

#team {
  padding-top: 0;
}

.team-members {
  margin-bottom: 30px;
}

.social-icons {
  margin-top:30px;
  text-align: center;
  padding-bottom: 30px;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #9ba0a3;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team-member {
  text-align: center;
  color: #333;
  font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
  background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.team-member:hover .social-icons ul li a.dribbble {
  background-color: #ff5b92;
}
.team-member:hover .social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.team-member:hover .social-icons ul li a.rss {
  background-color: #ff6b00;
}

#team .img-responsive {
  width: 100%;
}

.member-info h3 {
  margin-top: 35px;
}

.member-info h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #999;
}

/*************************
***Navigation Bar CSS*****
**************************/
.logo1 {
	alignment : center;
	padding :15px;
}

.login-navbar-right li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin:20px;
  background-color: #028fcc;
  border-radius: 2px;
  border: 1px solid #028fcc;
}

.login-navbar-right li a:hover {
	color: #028fcc;
	background-color: none;
	border-color: #028fcc;
}

.navbar-brand h1 {
	margin-top: 5px;
}

.login-navbar-left li a {
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding-top: 39px;
	padding-bottom: 10px;
	margin-left:20px;
}

.login-navbar-left li.active a {
	background-color: rgba(0,0,0,.4);
	padding-top: 39px;
	padding-bottom: 30px;
	margin-left:20px;
}

.dashboard-navbar-left li a {
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left:20px;
}

.dashboard-navbar-right > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown-menu li a {
	 color: #000;
	 text-transform: uppercase;
	 font-size: 14px;
	 font-weight: 600;
	 margin:20px;
}

.dropdown-menu li a:hover {
	color: #028fcc;
}

/*************************
**********Blog CSS********
**************************/

.post-thumb {
  position: relative;
}

.post-icon {
  position: absolute;
  top:10px;
  right:10px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius:4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.post-meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.post-meta span {
  margin-right: 16px;
}

#post-carousel .carousel-indicators {
  bottom: 3px;
  left: 90%;
}

.blog-left-control, .blog-right-control {
  position: absolute;
  top: 45%;
  width: 30px;
  text-align: center;
  color: rgba(255,255,255,.7);
  font-size: 36px;
}

.blog-left-control {
  left: 0;
}

.blog-right-control {
  right: 0;
}

.blog-left-control:hover, .blog-right-control:hover {
  color: #fff;  
}

.entry-header h3 a {
  line-height: 30px;
}

.entry-header .date, 
.entry-header .cetagory {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.entry-header .date:after {
  content: "";
  position: absolute;
  left: 0;
  bottom:-22px;
  width: 20px;
  height: 3px;
}

.entry-content {
  font-size: 14px;
}

.load-more {
  display:block;
  text-align: center;
  margin-top: 70px;
}

.btn-loadmore {
  border: 1px solid #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 125px;
  text-transform: uppercase;
}

.btn-loadmore:hover {
  color:#fff;
}

/*************************
**********Contact CSS*****
**************************/

#contact {
  padding-top: 0px;
  padding-bottom: 0;
}

#google-map {
  height: 350px;
}

#contact-us {
  background-image;
  padding-bottom: 30px; 
}

#contact-us .heading {
  padding-top: 95px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

#footer {
  color:#fff;
}

#footer1 {
  color:#000;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.8);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}

/*Presets*/

.background1 { 
	background-color: #D4D4D4;
}

.banner {
	height : 900px;
	padding-top: auto;
	padding-bottom: 30%;
}

.background2 { 
	background-color: rgba(0,0,0,.9);
	padding: 50px;
}

.background3 {
	background-image: url(../images/slider/1.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center;
 	background-attachment: fixed;
}


h9 {
	text-align: right;
}

.social-icons2{
	text-align: left;
	color:#FFF ;
}

.github {
	color : #FFf; 
}

.envelope {
	color :#FFF;
}

.map {
	color : #FFf; 
}

.teambackground{
	color :#FFF;
	alignment : center; 
	
}

h8 {
	font-size: 20px;
 color: #000;
  text-transform: uppercase;
  font-weight: 600;
}


h10 {
	font-size: 18px;
	color : #FFF;
	font-size: 18px;
	font-weight: 600;
}

h12 {
 color : #028fcc;	
}

#p1{
	color :#FFF;
	font-size: 18px;
	font-size: 1.5vw;
	text-tranform: none;
}

h13{
 color : #028fcc;
}

.icon-pad{
	margin: 30px;
}