/*
    Customised CSS to override some Bootstrap CSS
    author: yeoteye
    date: April 05 2016
*/

/* general */

.dashboard-navbar {
    letter-spacing: 2px;
    font-size: 12px !important;
}

.dashboard-navbar > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-navbar li a:hover, .dashboard-navbar li.active a {
    color: #1eafbb !important;
    background-color: #FFF !important;
}

.maintenance-navbar {
    background-color: #fde073;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
}

/* login page */
#login-dp {
    border-radius: 10px;
    min-width: 250px;
    overflow:hidden;
    background-color:rgba(255,255,255, 1.0) !important;
}

#login-dp .form-group {
    padding: 10px;
    margin-bottom: 10px;
    border: 0px;
}

.login-menu {
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.registration-panel {
    padding: 10px;
    margin-top: 50px;
    /*border-color: #333;*/
    border-radius: 10px;
    background-color:rgba(255,255,255, 0.8) !important;
    border: 1px solid #ccc ;
}

.registration-panel .panel-heading {
    background: none;
    margin-bottom: 5px;
    text-align: center;
    color: #777;
    border-color: #1eafbb;
}

/*progressbar*/
#progressbar {
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #777;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    width: 25%; /* change width if there are more tabs, eg, 4 tabs = 100% divide 4 */
    float: left;
    position: relative;
}

#progressbar li:before {
    text-align: center;
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 30px;
    display: block;
    font-size: 11px;
    color: #000;
    background: #FFF;
    border: 1px #1eafbb solid;
    border-raidus: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #1eafbb;
    position: absolute;
    left: -50%;
    top: 14px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #1eafbb;
    color: #FFF;
}

/* for the tab buttons Apply for New Team and Apply to Join an existing team in the reduced registration page */
.tab-group {
    list-style: none;
    padding: 0;
    margin: 20px 0 20px 0;
}

/* before the button is hover or clicked */
.tab-group > li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(160,179,176, .25);
    color: #a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    transition:.5s ease;
}

.tab-group > li a:hover {
    background: #21989c;
    color: #FFF;
}

/* after the button has been clicked */
.tab-group > li.active a {
    background: #21b3b7;
    color: #FFF;
}

/* teams */
.team-panel {
    border: 0;
}

.team-heading-current-team {
    color: #FFF;
    background-color : #333;
    padding: 15px;
    padding-top: 15px;
    font-size: 22px;
}

.team-panel-current-team {
    border-color: #1eafbb;
}

.team-heading-request-participation {
    color: #73c20e;
}

.team-panel-request-participation {
    border-color: #73c20e;
}

.team-heading-join-request {
    color: #fca44b;
}

.team-panel-join-request {
    border-color: #fca44b;
}

.team-panel {
    margin-bottom: 100px;
}

.team-panel-footer {
    /* to get rid of the top border in the panel footer */
    border: 0;
}

.badge-danger {
    background-color: #dd4b39;
}

/* experiment page */
.expStatusStop {
    font-weight: bold;
    color: #dd4b39
}

.expStatusReady {
    font-weight: bold;
    color: #73c20e;
}

/* experiment modify to style network config editor */
.network-config-editor {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

/* experiment profile activity log to allow vertical scroll */
pre {
    height: auto;
    max-height: 480px;
    overflow: auto;
}

/* experiment instructions to ssh into nodes */
.exp-details {
    margin-left: 20px;
}

/* account details page */
.account-change-success {
    font-weight: bold;
    color: #29a20d;
}

/* account details page */
.account-change-fail {
    font-weight: bold;
    color: #dd4b39;
}


.password-change-mismatch {
    font-weight: bold;
    color: #dd4b39;
}

/* registration page */
#step2, #step3, #step4_1, #step4_2 {
    display: none;
}

/* data page question mark mouseover */
.data-name-tooltip {
    position: relative;
    display: inline-block;
}

.data-name-tooltip .tooltiptext {
    opacity: 0.7;
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0 0px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.data-name-tooltip:hover .tooltiptext {
    visibility: visible;
}

.data-name-tooltip .tooltiptext {
    text-align: center;
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* experiment max duration settings */
.exp-max-duration-tooltip {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 2;
    white-space: initial;
    z-index: 9999;
}

/* license tooltip mouseover */
.license-tooltip {
    position: relative;
    display: inline-block;
}

.license-tooltip .tooltiptext {
    opacity: 0.7;
    visibility: hidden;

    width: 300px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 0 0px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.license-tooltip:hover .tooltiptext {
    visibility: visible;
}

.license-tooltip .tooltiptext {
    padding: 10px;
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/*
========================= CSS from merging with web design layout =========================
*/

/*************************
*******Typography******
**************************/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    background-color: #fff;
    height : 100%;
    padding-top: 90px; /* to fixed the spacing between navbar and body content when using navbar-fixed-top */
    margin: 0 0 100px; /* bottom = footer height */
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}


h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    margin: 10px;
    alignment : center;
    margin-bottom: 10px;
    padding: 10px;
}

h3 {
    font-size: 18px;
    font-weight: 300px;
    color: #000;

}


h19{
    font-size: 14px;
    font-weight: bold;
    margin: 2px;
    padding: 2px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.parallax,
.parallax h1,
.parallax h2,
.parallax h3,
.parallax h5,
.parallax h6 {
    color: #fff;
}

.parallax input[type="text"],
.parallax input[type="text"]:hover,
.parallax input[type="email"],
.parallax input[type="email"]:hover,
.parallax input[type="url"],
.parallax input[type="url"]:hover,
.parallax input[type="password"],
.parallax input[type="password"]:hover,
.parallax textarea,
.parallax textarea:hover {
    font-weight: 300;
    color: #fff;
}


/*.btn {*/
  /*border: 0;*/
  /*border-radius: 0;*/
/*}*/

/*.btn.btn-primary:hover {*/
  /*background-color: #1eafbb;*/
/*}*/

.navbar-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav > li.dropdown > a:focus {
    background-color: #B4B4B4;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline:none;
    outline-offset: 0;
    text-decoration:none;
    background: transparent;
}

a {
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

section {
    padding: 100px 0;
}

.heading {
    padding-bottom:50px;
}

/* Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: #fff;
}

.preloader > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

/*************************
********Home CSS**********
**************************/
#home-slider {
    overflow: hidden;
    position: relative;
}

#home-slider .caption {
    position: absolute;
    top: 149px;
    margin-top: -104px;
    left: 1px;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
}

#home-slider .caption h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}


#home-slider .caption h14 {
    color: #000;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}



.caption .btn-start {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    padding:14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}

.caption .btn-start1 {
    color: #21b3b7;
    font-size: 14px;
    font-weight: 600;
    padding:14px 40px;
    border: 1px solid #6e6d6c;
    border-radius: 4px;
    margin-top: 40px;
}


.caption .btn-start:hover {
    color: #FFF;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    background-size:cover ;
    height: 350px;
    margin: 0 auto;
}

.carousel-fade .carousel-inner .item:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.0);

}


.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.left-control, .right-control {
    position: absolute;
    top: 466px;
    height: 51px;
    width: 51px;
    line-height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.left-control {
    left: -51px
}

.right-control {
    right: -57px;
}

.left-control:hover,
.right-control:hover {
    color: #fff;
}

#home-slider:hover .left-control {
    left:30px
}

#home-slider:hover .right-control {
    right:30px
}

#home-slider .fa-angle-down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    color: #fff;
    display: inline-block;
    width: 24px;
    margin-left: -12px;
    font-size: 24px;
    line-height: 24px;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite;
}

.banner {
    height : 350px;
    padding-top: auto;
    padding-bottom: 30%;

}

.background3 {
    background-image: url(../images/slider/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.h12 {
    color : #21b3b7;
}

/*************************
********Join Us CSS*******
**************************/
.h13 {
    font-weight: bold;
    color : #21b3b7;
}

.join-us-background {
    background-color: #D4D4D4;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 36px;
    height: 90px;
    line-height: 90px;
    width: 90px;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
    background-color: #333;
}

.our-services .col-sm-4 {
    border-right:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4),
.our-services .col-sm-4:nth-child(5),
.our-services .col-sm-4:nth-child(6) {
    border-bottom:0;
    padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3),
.our-services .col-sm-4:nth-child(6) {
    border-right:0;
}

.service-info h3 {
    margin-top: 35px;

}

/*************************
********About CSS*******
**************************/
#about-us {
    background-image: url(../images/slider/111.jpg);
    padding: 60px 0;
}

#about-us h2 {
    margin-top: 0;
    color: #fff;
}

#about-us .lead {
    font-size: 16px;
    margin-bottom: 10px;
}

#about-us h1 {
    margin-bottom: 30px;
}

.progress{
    height: 20px;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-bottom: 25px;
}

.progress-bar{
    box-shadow: none;
    -webkit-box-shadow: none;
    text-align: right;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
}


.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    transition:  width 2s ease-in-out;
}

/* ==========================================================================
Portfolio
========================================================================== */
.effects { padding-left: 15px; }
.effects .img { position: relative; margin-bottom: 50px; position: relative; z-index: 1; overflow: hidden; }
.effects .img:nth-child(n) { margin-right: 5px; }
.effects .img:first-child { margin-left: -15px; }
.effects .img:last-child { margin-right: 0; }
.effects .img img { display: block; margin: 0; padding: 0; height: auto; }
.overlay { display: block; position: absolute; z-index: 20; background: rgba(100, 194, 158, 0.8); overflow: hidden; transition: all 0.5s; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; }
a.close-overlay { display: block; position: absolute; top: 0; right: 0; z-index: 100; width: 45px; height: 45px; font-size: 20px; font-weight: 700; color: #fff; line-height: 45px; text-align: center; background-color: #000; cursor: pointer; }
a.close-overlay.hidden { display: none; }
a.expand { display: block; position: absolute; z-index: 100; text-align: center; color: #fff; font-weight: 600; font-size: 14px; text-transform: uppercase; line-height: 30px; }
.overlay-effect .img i { font-size: 30px; }
.overlay-effect .overlay { bottom: 0; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; }
.overlay-effect .overlay a.expand { left: 0; right: 0; bottom: 47%; margin: 0 auto -30px auto; }
.overlay-effect .img.hover .overlay { height: 100%; opacity: 1; }
.img img { width: -webkit-calc(100% + 40px) !important; width: calc(100% + 40px) !important; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -moz-transition: opacity 0.35s, -moz-transform 0.35s; -o-transition: opacity 0.35s, -o-transform 0.35s; -webkit-transform: translate3d(-40px, 0, 0); transform: translate3d(-40px, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.img:hover img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -ms-transform: translate3d(-40px, 0, 0); }
.designs { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50px; }

/* ==========================================================================
FlexSlider Custom CSS
========================================================================== */
ul.slides li { margin-bottom: 20px; }

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 { visibility: hidden; }
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight { visibility: visible; }
.delay-05s { animation-delay: 0.5s; -webkit-animation-delay: 0.5s; }
.delay-1s { animation-delay: 1s; -webkit-animation-delay: 1s; }
.wp3 { background: url('../img/iphone-bg.png') no-repeat center center; background-position: 200px 10px; height: 100%; }

/*************************
******News Events CSS*****
**************************/
.event-date {
    color: #21b3b7;
    font-weight: bold;
    font-size: 1em;
}

.news-header {
    text-align: left;
    color : #000;
    font-weight: bold;

}

.news-header1 {
    text-align: justify;
    color : #000;
    font-size: 16px;
   /* font-weight: bold;*/

}

.news-header::after { content: " "; width: 35px; margin: 25px auto; }

.upcoming-event-box {
    border: 1px solid #eee;
    border-bottom: 3px solid #ccc;
    height: 320px;
}


/*************************
***********Team CSS*******
**************************/
.team-nav {
    margin-bottom: 20px;
}

.middle{
    margin-bottom: 20px;
    alignment : center;
}


.member-info ul {
    list-style: none;
    padding-left: 0px;
}

#team {
    padding-top: 0;
}

.team-members {
    margin-bottom: 30px;
}

.social-icons {
    margin-top:30px;
    text-align: center;
    padding-bottom: 30px;
}

/*.social-icons {
    margin-top:30px;
    margin-left: 25px;
    padding-bottom: 30px;
}*/

.social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.social-icons ul li {
    float: left;
    margin-right: 8px;
}

.social-icons ul li:last-child {
    margin-right: 0;
}

.social-icons ul li a {
    color:#fff;
    background-color: #9ba0a3;
    height: 36px;
    width: 36px;
    line-height: 36px;
    display: block;
    font-size: 16px;
    opacity: 0.8;
}

.social-icons ul li a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.team-member {
    text-align: center;
    color: #333;
    font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
    background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
    background-color: #2ac6f7;
}
.team-member:hover .social-icons ul li a.dribbble {
    background-color: #ff5b92;
}
.team-member:hover .social-icons ul li a.linkedin {
    background-color: #036dc0;
}
.team-member:hover .social-icons ul li a.github {
    background-color: #0e2f44;
}
.team-member:hover .social-icons ul li a.rss {
    background-color: #ff6b00;
}

#team .img-responsive {
    width: 100%;
}

.member-info h3 {
    margin-top: 35px;
}

.member-info h4 {
    font-size: 14px;
    margin-bottom: 15px;
    color: #999;
    alignment-adjust:central;
}

/*************************
***Navigation Bar CSS*****
**************************/
.logo1 {
    alignment : center;
    padding :10px;
    opacity: 1;

}

.login-navbar-right1 li a {
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-left:10px;
    margin-right:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #5499C7;
    border-radius: 2px;
    border: 1px solid #5499C7;!important
}


.login-navbar-right li a {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-left:10px;
    margin-right:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #21b3b7;
    border-radius: 2px;
    border: 1px solid #21b3b7;!important
}

.login-navbar-right li a:hover {
    color: #21b3b7;
    background-color: none;
    border-color: #21b3b7;
}

.login-navbar-right li a:hover {
    color: #21b3b7;
    background-color: none;
    border-color: #21b3b7;
}

.bar-brand h1 {
    margin-top: 5px;
}

.login-navbar-left li a {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 39px;
    padding-bottom: 10px;
}

.login-navbar-left li.active a {
    background-color: #B4B4B4;
    padding-top: 39px;
    padding-bottom: 30px;
}

.dashboard-navbar-left li a {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:20px;
}

.dashboard-navbar-right > li > a {
    padding-top: 40px;
    padding-bottom: 25px;
}


.dropdown-menu li a {
    color: #000;
    background-color:#FFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top : 10px;
    border-radius:4px;
    padding :10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown-menu li a:hover {
    color: #21b3b7;
}

/*************************
**********Blog CSS********
**************************/

.post-thumb {
    position: relative;
}

.post-icon {
    position: absolute;
    top:10px;
    right:10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius:4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.post-meta {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.post-meta span {
    margin-right: 16px;
}

#post-carousel .carousel-indicators {
    bottom: 3px;
    left: 90%;
}

.blog-left-control, .blog-right-control {
    position: absolute;
    top: 45%;
    width: 30px;
    text-align: center;
    color: rgba(255,255,255,.7);
    font-size: 36px;
}

.blog-left-control {
    left: 0;
}

.blog-right-control {
    right: 0;
}

.blog-left-control:hover, .blog-right-control:hover {
    color: #fff;
}

.entry-header h3 a {
    line-height: 30px;
}

.entry-header .date,
.entry-header .cetagory {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
}

.entry-header .date:after {
    content: "";
    position: absolute;
    left: 0;
    bottom:-22px;
    width: 20px;
    height: 3px;
}

.entry-content {
    font-size: 14px;
}

.load-more {
    display:block;
    text-align: center;
    margin-top: 70px;
}

.btn-loadmore {
    border: 1px solid #f2f2f2;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 125px;
    text-transform: uppercase;
}

.btn-loadmore:hover {
    color:#fff;
}

/*************************
**********Contact CSS*****
**************************/

#contact {
    padding-top: 0px;
    padding-bottom: 0;
}

#google-map {
    height: 350px;
}

#contact-us {
    background-image: url(../images/contactusbackground.png);
    padding-bottom: 30px;
}

#contact-us .heading {
    padding-top: 95px;
}

.contact-info {
    padding-left:70px;
    font-weight: 300;
}

ul.address {
    margin-top: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li {
    margin-bottom: 8px;
}

.contact-info ul li a {
    color: #000;
}

#footer {
    color:#fff;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100px;
}

.footer-bgcolor {
    background-color: #000;
}

#footer1 {
    color:#000;
}

.footer-top {
    position: relative;
    padding:10px 0
}

#footer .footer-bottom {
    background-color: #fff;
    padding: 10px 0 5px;
}

#footer .footer-bottom a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 5px;
}

#footer .social-icons {
    margin-top: 15px;
}

#footer .social-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .social-icons ul li a {
    background-color: rgba(0,0,0,.8);
    border-radius: 4px;
    line-height: 33px;
}

#footer .social-icons ul li a:hover {
    color: #fff
}

#footer .social-icons ul li a.envelope:hover {
    background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
    background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
    background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
    background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
    background-color: #036dc0;
}
#footer .social-icons ul li a.github:hover {
    background-color: #0e2f44;
}
#footer .social-icons ul li a.tumblr:hover {
    background-color: #ff6b00;
}

/*Presets*/

.background1 {
    background-color: #E9E9E9;
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.banner {
    height : 650px;
    padding-top: auto;
    padding-bottom: 30%;
}

.background2 {
    background-color: rgba(0,0,0,.2);
    padding: 50px;
}

.background3 {
    background-image: url(../images/slider/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.background5 {
    background-image: url(../images/back5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.background6 {
    background-image: url(../images/contactus.jpg);

}

.background7 {
    background-image: url(../images/backgroundsol.png);
    background-repeat: no-repeat;
    background-position: right;

}



.social-icons2{
    text-align: left;
    color:#FFF ;
}



.github {
    color : #FFf;
}

.envelope {
    color :#FFF;
}

.map {
    color : #FFf;
}


.github1 {
    color : #000;

}

.envelope1 {
    color :#000;
}

.map1 {
    color : #000;
}

.teambackground{
    color :#FFF;
    alignment : center;

}

#p1{
    color :#FFF;
    font-size: 18px;
    font-size: 1.5vw;
    text-tranform: none;
}


.icon-pad{
    margin: 30px;
}

.h14{
    color: #000;
    font-size: 3em;
    font-weight: bold;
    line-height: 40px;
}


.resources {
    border-top: 10px solid #70B4EB;
    background-color: #ABD0EF;
    padding: 20px;

}



.box h2{
    text-align:center;
    position:relative;
    top:20px;
}
.box {

    height:650px auto;

    background:#FFF;
    margin:40px auto;
    position: relative;
}

.box6 {
    width:100%;
    height:450px;
    background:#E2E2E2;
    margin:40px auto;
}

.box7 {
    width:100%;
    height:350px;

    background:#E2E2E2;
    margin:40px auto;
}

/*==================================================
 * Effect 5
 * ===============================================*/
.effect5
{
    position: relative;
}
.effect5:before, .effect5:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 25px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 35px 20px #777;
    transform: rotate(-8deg);

}
.effect5:after
{
    transform: rotate(8deg);
    right: 10px;
    left: auto;
}



.box1 h2{
    text-align:center;
    position:relative;
    top:80px;
}
.box1 {
    width:90%;
    height:320px;
    background:#D0DFFB;
    margin:40px auto;
    padding: 20px;

}


.box2 {
    width:90%;
    height:320px;
    background:#D5FDDF;
    margin:40px auto;
    padding: 20px;

}


.box3 {
    width:90%;
    height:320px;
    background:#FEF9D6;
    margin:40px auto;
    padding: 20px;

}

.box4 {
    width:90%;
    height:320px;
    background:#F3F3F3;
    margin:40px auto;
    padding: 20px;

}

.box6 {
    width:90%;
    height:350px;
    background:#FFF;
    margin:40px auto;
    padding: 20px;

}


/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
}
.effect2:after
{
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.single-table ul {
    list-style: none;
    padding-left: 0px;
}

.scrollToTop{
    width:100px;
    height:130px;
    padding:10px;
    text-align:center;
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:650px;
    right:90px;
    display:none;
    background-image: url(../images/up-arrow.png);
}
.scrollToTop:hover{
    text-decoration:none;
}



.background4 {
    background-image: url(../images/indexbac.png);


}

/*.h15{
    font-size: 6em;
    color : #1eafbb;
    font-weight: bold;
    line-height: 70px;
    !*
    font-size: 80px;
    margin: 20px;
    alignment : center;
    margin-bottom: 10px;
    color : #1eafbb;
    font-weight: bold;
    padding:20px;
    *!
}*/

.h15{
    font-size: 5em;
    color : #1eafbb;
    font-weight: bold;
    line-height: 70px;
    /*
    font-size: 80px;
    margin: 20px;
    alignment : center;
    margin-bottom: 10px;
    color : #1eafbb;
    font-weight: bold;
    padding:20px;
    */
}

.h16{
     font-size: 18px;
     alignment : center;
     color : #333;
 }
.h21{
    font-size: 4em;
    color : #1eafbb;
    font-weight: bold;
    line-height: 150px;
    alignment : center;
    /*
    font-size: 80px;
    margin: 20px;
    alignment : center;
    margin-bottom: 10px;
    color : #1eafbb;
    font-weight: bold;
    padding:20px;
    */
}
.agency {
    margin-left: 150px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}



table {
    width:100%;
    padding: 12px;
}

/*th, td {*/
    /*padding: 12px;*/
    /*text-align: center;*/
/*}*/


.table1{
    border-collapse: collapse;
    text-align: center;
    padding: 12px !important;
}

.table1 {
    border: 1px solid #CCC;
    padding: 12px;
}

.table1 th {
    border: 1px solid #CCC;
    padding: 12px;
    text-align: center;
}

.table1 tr > td {
    border: 1px solid #CCC;
    padding: 12px;
}

.dashhead{
    color : #1eafbb;
    font-weight: bold;
    background-color: transparent;
    font-size: 40px;
}


.dashpanel{
    /*border: 0px;*/
    /*margin-top: 50px;*/
    /*background-color: white;*/
    /*width: 100%;*/
    /*border-bottom: 0px;*/
    /*border-color: #333;*/
    /*border-radius: 10px;*/
    /*background-color:rgba(255,255,255, 0.7) !important;*/
    padding: 20px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #CCC;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    /*background-color:rgba(255,255,255, 0.7) !important;*/
 }





.dashpanel2{
    border-bottom: 1px solid #CCC;
    padding: 8px;
}

.dashpanel_teams {
    padding: 10px;
    margin-top: 10px;
    background-color: #1eafbb;
    border: 2px solid #CCC;
    border-radius: 10px;
    height: 300px;
    text-align: center;
}

.dashpanel_experiments {
    padding: 10px;
    margin-top: 10px;
    background-color: #1eafbb;
    border: 2px solid #CCC;
    border-radius: 10px;
    height: 300px;
    text-align: center;
}

.dashboard_stats {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 120px;
    color: #FFF;
}

.dashpanel_admin {
    padding: 2px;
    margin-top: 1px;
    background-color: transparent;
    border: 0px;
    border-color: #333;
    border-radius: 10px;
    background-color:rgba(255,255,255, 0.7) !important;
}

.loginhead{
    background-color: #333333;

}

.h30 {
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: bold;
    color:#000;
}

/* for standardized button colors */
.btn-standard{
    font-weight: bold;
    color:#333;
    background-color: #f3f3f3;
    border-color: #cacaca;
}

.btn-standard.focus,.btn-standard:focus{
    color:#333;
    background-color:#f3f3f3;
    border-color:#cacaca;
}

.btn-standard:hover{
    font-weight: bold;
    color:#333;
    background-color: #e4e4e4;
    border-color:#cacaca;
}

/* for special registration button colors */
.btn-special{
    font-weight: bold;
    color:#1eafbb;
    background-color: #f3f3f3;
    border-color: #cacaca;
}

.btn-special.focus,.btn-special:focus{
    color:#1eafbb;
    background-color:#f3f3f3;
    border-color:#cacaca;
}

.btn-special:hover{
    font-weight: bold;
    color:#1eafbb;
    background-color: #e4e4e4;
    border-color:#cacaca;
}

/* for the standardized icon colors */
.btn-fa-green {
    color: #1eafbb;
}

.btn-fa-red {
    color: #dd4b39;
}

.btn-fa-yellow{
    color: #FFD700;
}

.btn-fa-loading {
    color: #1a8edc;
}

/*for experiments - to view details after starting up */
.exp-modal {
    top: 10%;
}

/*for admin - Teams management page to push down the modal when click on team owner */
.admin-modal {
    top: 20%;
}

/* for admin teams management page */
.team-owner-info-header {
    text-align: center;
    background-color: #f3f3f3;
}

.team-owner-info-header h4,
.team-owner-info-header .close {
     color: #333;
}

.team-owner-info-body ul {
     list-style: none;
}

/* for admin node status page*/


.blue-tick {
    color: #5890ff;
}

.boxes{
    padding: 20px;
    border: 1px solid lightgrey;
    margin: 25px;
}

.form{
    color: #333;
    padding-top: 15px;
    font-size: 28px;
    font-weight: 600;

}

.nav-stacked{
    border-bottom: 1px solid #CCC;
    width: 180px;
    padding: 15px;
}

.padding{
    margin: 0;
    padding: 0;
    color: #FFF;
    background-color : #333;
    padding: 15px;
    padding-top: 15px;
    font-size: 22px;
}

html {
    position: relative;
    min-height: 100%;
}

.pwdwidgetdiv
{
    width:100%;
}
.pwdfield
{
    width:100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.pwdopsdiv
{
    display: block;
    float: left;
    margin-right:6px;
}
.pwdopsdiv a
{
    font-family : Arial, Helvetica, sans-serif;
    font-size : 12px;
    padding-top: 10px;
}

.pwdstrengthbar
{
    float:right;
    background:#cccccc;
    height:4px;
    margin:0;

}

.pwdstrength
{
    float:right;
    height:20px;
    width:100%;
    margin-top:0px;

}
.pwdstrengthstr
{
    float:right;
    clear:both;
    font-family : Arial, Helvetica, sans-serif;
    font-size : 15px;

}

.loginback
{
    background-image: url(../images/login1-web.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.registration-panel1
{
    padding: 30px;
    margin-top: 50px;
    background-color: transparent;
    border: 0px;
    margin: 30px;
    width: 600px;
    /*border-color: #333;*/
    /*border-radius: 10px;*/
    background-color:rgba(255,255,255, 0.7) !important;
}

.registration-panel2
{
    padding: 30px;
    margin-top: 50px;
    background-color: transparent;
    border: 0px;
    margin: 30px;
    /*border-color: #333;*/
    /*border-radius: 10px;*/
    background-color:rgba(255,255,255, 0.6) !important;
}


.loginpanel {
    background-color: transparent;
    border: 0px;
}

.loginform {
    display: inline-block;
    padding: 0px;
    width: 100%;
}

.welcome {
  font-size: 25px;
 margin-top: 20px;
    padding-top: 20px;

}

.registerback
{
    background-image: url(../images/register1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.registertitle{
    padding-bottom : 20px;
    border-bottom: 1px solid #CCC;
}


.loginbackground
{
    background-color: #FFFFff;
    /*background-color: #eaeff5;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/

}

.panel-footer
{
    background-color: transparent;
    border-bottom: transparent;

}

.sticky-container{
    /*background-color: #333;*/
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: -40px;
    top:130px;
    width: 300px;

}

.sticky li{
    list-style-type: none;
    background-color: #333;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
}

.sticky li:hover{
    /*margin-right: -115px;*/
    /*-webkit-transform: translateX(-115px);
    -moz-transform: translateX(-115px);
    -o-transform: translateX(-115px);
    -ms-transform: translateX(-115px);
    transform:translateX(-115px);*/
    /*background-color: #8e44ad;*/

}

.sticky li img{
    float: left;
    margin: 5px 5px;
    margin-right: 10px;

}

.sticky li p{
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 43px;

}

.cc-wraper {
    background-color: transparent;
    height:300px;
    overflow: inherit;
}
.fixed {
    position: fixed;
}
.cc-contactpop {
    background-color:#fff;
    color:#333;
    width:350px;
    bottom: 0;
    right: 50px;
    border-radius: 6px 6px 0px 0px;
    z-index: 1;
}
.cc-contactpop h1 {
    border-radius: 6px 6px 0px 0px;
    text-align:center;
    color:#fff;
    text-shadow:none;
    font-size:19px;
    font-weight:600;
    background-color:#eb6166;
    margin:0;
    padding:15px;
    cursor:pointer;
}
.cc-contactpop h1 span {
    font-style: oblique;
}
.cc-contactpop p {
    text-align:center;
    padding:10px 15px;
}
.cc-contactpop i {
    position:absolute;
    top:0px;
    right:0px;
    color: #333;
    font-weight: 500;
    font-size: 15px;
    padding:20px;
    cursor:pointer;
}
.cc-contactpop form {
    padding:0px 15px;
    position: relative;
}
.cc-contactpop input {
    font-family: "PT Sans",sans-serif;
    font-size: 0.875em;
    width: 90%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #fff;
    border: solid 1px #eb6166;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.cc-contactpop input:hover {
    background: #eb6166;
}
.cc-contactpop textarea {
    font-family: "PT Sans",sans-serif;
    font-size: 0.875em;
    width: 90%;
    max-width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #fff;
    border: solid 1px #eb6166;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
.cc-contactpop textarea:hover {
    background: #eb6166;
}
.cc-contactpop button {
    font-family: "PT Sans",sans-serif;
    font-size: 0.875em;
    padding:10px;
    background:transparent;
    width: 100%;
    color: #333;
    outline:none;
    cursor: pointer;
    border: solid 1px #eb6166;
    border-top:0;
}
.cc-contactpop button:hover {
    background:#eb6166;
}

.background8 {
    background-image: url(../images/tools2.jpg);
    background-size: cover;
    background-position: center;


}

/**
 * Remove background if window width is 6OOpx or less
 */
@media all and ( max-width: 1000px ) {
    .background8 {
        background: none;
    }
}

.realization {
    font-family: "Courier New";
    font-size: 12px;
}

.topnav {
    width: 213px;
    padding: 40px 28px 25px 0;
    font-family: 'Open Sans', sans-serif;
}
/* for those seamless transitions */
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    color: #21b3b7;
    background-color: rgba(51,51,51,.7);
}

.spinner > h1 {
    position: absolute;
    color: #21b3b7;
    top: 20%;
    left: 40%;
    margin-top: -15px;
    margin-left: -15px;
    height: 50px;
    width: 500px;
    display: inline-block;
}

.spinner > i {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    margin-top: -15px;
    margin-left: -15px;
    display: inline-block;
}

ul.topnav {
    padding: 0;
    margin: 0;
    font-size: 1em;
    line-height: 0.5em;
    list-style: none;
}

ul.topnav li {}

ul.topnav li a {
    line-height: 30px;
    font-size: 18px;
    padding: 10px 5px;
    color: #000;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    list-style-type: none;
}

ul.topnav li a:hover {
    background-color:#675C7C;
    color:white;
}

ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
    list-style-type: none;
}

ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
}

ul.topnav ul li a {
    padding-left: 20px;
    font-size: 15px;
    font-weight: normal;
    outline:0;
    list-style-type: none;
}

ul.topnav ul li a:hover {
    background-color:#1eafbb;
    color:#675C7C;
}

ul.topnav ul ul li a {
    color: #8c8c8c;;
    padding-left: 40px;
    list-style-type: none;
}

ul.topnav ul ul li a:hover {
    background-color:#D3CEB8;
    color:#675C7C;
}

ul.topnav span{
    float:right;
}

/*.SUE_Table > th, td{*/
    /*border: 1px solid black;*/
    /*border-collapse: collapse;*/
    /*font-family: "Times New Roman", serif;*/
    /*text-align: center;*/
    /*padding: 5px;*/
    /*width:100%;*/
    /*white-space:nowrap;*/
/*}*/
/*.SUE_Table > th {*/
    /*color: #00C7BA;*/
/*}*/

#vul h3 {
   color: #21b3b7;
   font-size: 25px;
   font-weight: bold;
    padding-left: 10px;
    padding-bottom: 30px;
}

#SUETable {
    /*border-collapse: collapse;*/
    white-space:inherit;
    /*didn't apply*/
    /* #21b3b7*/

}

#SUETable th, td {
    text-align: left;

}

#SUETable td {
    font-size: 14px;
    padding: 3px;

}


.container-1{
    position: relative;
    /*left: 650px;*/
    left: 640px;
    bottom: 30px;
}

.filter-table {
    padding-left: 10px;
    position: relative;
    padding-right: 0px;
}


#teammanagement td {
    text-align: center;
}

#currentdate, #newdate {
    text-align: center;
}


    /*.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
        outline:none;
        background: #ffffff;
    }*/

h6 {
    color: #21b3b7;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;

}

img {

    image-rendering: auto;
    image-rendering: crisp-edges;
}

/*Pricing*/
.wrapper {

    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #9f9f9f;
    font-size: 15px;


}


.package {
    width:400px;
    alignment: center;
    height: 420px;
    border: 3px solid #e8e8e8;
    border-radius: 7px;
    padding: 24px;
    position: relative;
}



.name {
    color: #565656;
    font-weight: 500;
    font-size: 3rem;
    margin-top: -5px;
    margin-bottom:8px;

}

h16 {
font-weight: bold;
    color:#ac2925;
    padding-top: 0px;
}



hr {
    background-color: #dedede;
    border: none;
    height: 1px;
}


.brilliant {
    border-color: #33c4b6;
}
/* Triangle */
.brilliant::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 64px 64px 0 0;
    border-color: #3bc6b8 transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}
.brilliant::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color: white;
    position: absolute;
    left: 9px;
    top: 6px;
    text-shadow: 0 0 2px #37c5b6;
    font-size: 1.4rem;
}

#about img {
margin-top: 30px;
    width: 100%;
    height: auto;
}

@media(max-width: 528px) {
    body {
        font-size: 10px;
    }
    #about {
        width: 100%;
    }
    pre {
        font-size: 7px;
    }
}


h18{
    color: #3b5999;

}

.tutorialbackground{
    border: 2px solid #ccc ;
    padding:10px;
    margin: 0px;
    margin: 0px;
}


.nodebackground1{
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-bottom: 3px solid #999;
    margin-top: 20px;
    padding:30px;
}



.backadmin {
    padding:30px;
    margin: 10px;
    border-radius: 10px;
    background-color:#FFF;
    width: 22%;

}


h11{
    border: 2px solid #CCC;
    padding: 10px;
    font-size: 26px !important;
}

h12{
    font-size: 26px !important;
    padding-left: 0px;

}


navsmall{
    font-size: 17px!important;
    color : #eb6166!important;
    text-decoration: underline!important;
    padding-top: 10px;
    margin-top: 10px;

}

h13{
    color: #eb6166;

}

/* for events */

.button {
    background-color: #1eafbb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    alignment-adjust:right;

}

h30{
    color :#000;
    font-weight:300;
}

h31{
    color :#2D2D2D;
    font-weight:300;
    font-size:24px;
}

.backgroundevent {
    border: 1px #333 solid;
    padding : 25px;


}


h32 {
    font-weight: bold;
    color : #21b3b7;
    font-size: 20px;
}

h33{
    color : #F00;
}

h34{
    color :#c9302c;
    font-size:15px;

}

h35{
    background-color: transparent;
    font-size: 16px;
}

.h35{
    background-color: #f5f5f5;
    width: 700px;
    padding-top: 5px;
    border-bottom: 1px #ccc solid;
    }

h36{
    padding: 15px;
    border-bottom: 1px #ccc solid;
    font-size: 30px;
    margin: 10px;

}

.times{
    color: #ac2925;
}

.check{
    color:#00C7BA;
}


.checkbackground{
    border: 1px solid #ccc ;
    padding:0px;
    margin: 0px;
    width: 750px;
    height: 400px;
    padding-left: 10px;
}

h37{
    padding: 15px;
    border-top: 1px #ccc solid;
    font-size: 16px;
    margin: 10px;
    width: 700px;
}


h38{
    padding: 15px;
    border: 1px #ccc solid;
    font-size: 16px;
    margin: 10px;
    width: 300px;
    color:#00C7BA ;
}


.footnote {
    font-size: 13px;
    font-style: italic;
}

.promo-video-container {
    display: inline-block;

}

h17{
    font-size: 60px;
    margin: 2px;
    color: #737373;
    padding-right: 20px;
    border-right:1px solid #8c8c8c;

}

.events-tooltiptext {
    font-size: 0.7em;
    line-height: 1.1;
    margin-top: 10px;
    text-align: justify;
}

.events-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0;
}

.events-tooltip .events-tooltiptext {
    visibility: hidden;
    width: 320px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 6px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.events-tooltip .events-tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.events-tooltip:hover .events-tooltiptext {
    visibility: visible;
}


/* testbed info */
.active-users {
    border-radius: 10px;
    padding: 20px;
    font-size: 2em;
    color: #FFF;
    margin-right: 10px;
}

.stats {
    border-top: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-bottom: 3px solid #CCC;
    background: #FFF;
    padding: 20px;
    height: 120px;
}

.stats-category {
    color:#999;
    font-size: 12px;
    font-weight:bold;
    text-transform: uppercase;
}

.stats-info {
    margin-left: 20px;
    margin-top: 10px;
    text-align: right;
}

.stats-value {
    font-size:3em;
    font-weight:bold;
}


.up {
    height: 10px;
    width: 10px;
    background-color: #f5deb3;
}

.down {
    flex-grow: 1;
    background-color: #9acd32;
}




.table2 tr{
    background:#f9f9f9;
    padding: 40px;
    height:  50px;

}

.table2 td{
    border-bottom: #CCCCCC 2px solid;
    margin: 10px;


}

.table2 tr:hover{
    background-color: #CCCCCC;
    padding-left:20px;
    margin: 20px;
}

h22 {
    font-weight: 400;
    color: #333333;
    padding-bottom: 20px;
    height: 40px;
    font-size: 25px;
}

h23 {
    font-size: 1em;
    color: #000;
}

h24{
    font-weight:500;
    color: #333333;
    height: 35px;
    font-size:18px;
    margin: 0;
    padding-top: 20px;
    padding-left: 15px;
    cursor:pointer;

}

h25{
    font-weight:800;
    float:right;
    font-size: 25px;
    cursor:pointer;
}

h26 {
    font-weight: 400;
    color: #333333;
    padding-bottom: 20px;
    height: 40px;
    font-size: 15px;
}

.hide
{
    display: none;
    padding-left: 15px;;
}

.show
{
    display: block;
    background-color: #f9f9f9;
    padding-bottom: 10px;
    padding-left:25px;
    padding-right:25px;
}

/* for downloading of resources */
/* display resource malicious label message */
#downloadMaliciousLabel {
    font-size: 12px;
    height: auto;
    margin-left: 10px;
    padding: 10px;
    width: auto;
}

.clean_resources {
    background-color: #4CAF50;
    color: #FFF;
}

.malicious_resources {
    background-color: #F44336;
    color: #FFF;
}


/* wrap around for data resources names display after users click on the Download button at Data page */
.data-resource-name-wrap {
    width: 11em;
    word-wrap: break-word;
}

/* color display codes to indicate if a data resource is malicious or not */
.data-resource-red {
    color: #F44336;
}

.data-resource-green {
    color: #4CAF50;
}

.data-resource-gray {
    color: #999999;
}

#resourcedisplay-tooltip {
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 5px;
}