<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
    <section id="about-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 justify">
                    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                        <h2>About us</h2>
                        <p>NCL is a national shared infrastructure that provides computing resources, repeatable and
                            controllable experimentation environments, as well as application services. The
                            infrastructure includes a cluster of 300 nodes that provides a wide range of provisioning
                            mechanisms, security data and security services. NCL aims to provide a platform that fosters
                            and encourages collaboration among researchers in academia, government bodies and the
                            industry.</p>
                        <p>&nbsp;</p>
                        <p>The software stack that manages the NCL infrastructure is based on <a
                                href="https://www.isi.deterlab.net/index.php3">DETERLab</a>, which is a security and
                            education-enhanced version of <a href="https://www.emulab.net/">Emulab</a>. NCL is also
                            collaborating with the DETERLab team on <a href="research.html" th:href="@{~/research}">testbed
                                research</a>.</p>
                        <p>&nbsp;</p>
                        <p align="justify" style="text-transform:none;">The laboratory is funded by the National
                            Research Foundation (NRF) since November 2015.</p>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-sm-12 embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/206349173?title=0&amp;byline=0&amp;portrait=0"
                                frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true"
                                allowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#about-us-->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-12 ">
                <div class="background4">
                    <div class="h15">
                        <p>Our Team</p>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
            <ul class="nav nav-tabs nav-justified team-nav">
                <li class="active"><a href="#asoprof" data-toggle="pill">Principal Investigators</a></li>
                <li><a href="#Co-Inv" data-toggle="pill">Management&amp;Operations </a></li>
                <li><a href="#Research" data-toggle="pill">Research</a></li>
                <li><a href="#Students" data-toggle="pill">Students</a></li>
                <!--<li><a href="#Intern" data-toggle="pill">Internship</a></li>-->
                <p>&nbsp;</p>
            </ul> <!-- teams navigation -->
            <div class="tab-content text-center ">
                <div id="asoprof" class="tab-pane fade in active">
                    <div class="container ">
                        <div class="row team-members">
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--	<img src="images/team/1.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3 align="center">CHANG Ee-Chien</h3>
                                    <p align="center">Associate Professor, Lead PI</p>
                                    <div align="center">
                                        <ul>
                                            <li>Network Security</li>
                                            <li>Applied Cryptography</li>
                                            <li>Multimedia/Biometric Security</li>
                                        </ul>
                                    </div>
                                </div> <!-- member info -->
                                <div class="row">
                                    <div class="team-member wow flipInY">
                                        <div class="social-icons">
                                            <ul>
                                                <li><a class="linkedin"
                                                       href="https://sg.linkedin.com/in/ee-chien-chang-2321b535"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                                <li><a class="dribbble" href="http://www.comp.nus.edu.sg/~changec/"><i
                                                        class="fa fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-image">
                                    <div class="member-info">
                                        <h3 align="center">LIANG Zhenkai</h3>
                                        <p align="center">Associate Professor, Lead PI</p>
                                        <div align="center">
                                            <ul>
                                                <li>System and Software Security</li>
                                                <li>Web Security</li>
                                                <li>Mobile Security</li>
                                            </ul>
                                        </div>
                                    </div> <!-- member info -->
                                    <div class="row">
                                        <div class="team-member wow flipInY">
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a class="linkedin" href="https://sg.linkedin.com/in/liangzk"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                                    <li><a class="dribbble"
                                                           href="http://www.comp.nus.edu.sg/%7Eliangzk"><i
                                                            class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div><!-- social icons -->
                                        </div>
                                    </div>
                                </div> <!-- member image -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-image">
                                    <div class="member-info">
                                        <h3 align="center">CHAN Mun Choon</h3>
                                        <p align="center">Associate Professor</p>
                                        <div align="center">
                                            <ul>
                                                <li>Smartphone Based Applications</li>
                                                <li>Sensor Network Protocols</li>
                                                <li>DTN Applications</li>
                                            </ul>
                                        </div>
                                    </div> <!-- member info -->
                                    <div class="row">
                                        <div class="team-member wow flipInY">
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a class="linkedin"
                                                           href="https://sg.linkedin.com/in/mun-choon-chan-4b0707105"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                                    <li><a class="dribbble" href="https://www.comp.nus.edu.sg/~chanmc/"><i
                                                            class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div><!-- social icons -->
                                        </div>
                                    </div>
                                </div> <!-- member image -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-image">
                                    <div class="member-info">
                                        <h3 align="center">Abhik ROYCHOUDHURY</h3>
                                        <p align="center">Professor</p>
                                        <div align="center">
                                            <ul>
                                                <li>Software Testing&amp;Anaylsis</li>
                                                <li>Software Security</li>
                                                <li>Trustworthy Software</li>
                                            </ul>
                                        </div>
                                    </div> <!-- member info -->
                                    <div class="row">
                                        <div class="team-member wow flipInY">
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a class="linkedin"
                                                           href="https://sg.linkedin.com/in/abhik-roychoudhury-17521a9"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                                    <li><a class="dribbble" href="http://www.comp.nus.edu.sg/~abhik"><i
                                                            class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div><!-- social icons -->
                                        </div>
                                    </div>
                                </div> <!-- member image -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-image">
                                    <div class="member-info">
                                        <h3 align="center">Prateek SAXENA</h3>
                                        <p align="center">Assistant Professor</p>
                                        <div align="center">
                                            <ul>
                                                <li>Operating Systems</li>
                                                <li>Computing Security</li>
                                                <li>Programming Languages</li>
                                            </ul>
                                        </div>
                                    </div> <!-- member info -->
                                    <div class="row">
                                        <div class="team-member wow flipInY">
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a class="linkedin"
                                                           href="https://sg.linkedin.com/in/prateek-saxena-8b241347"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                                    <li><a class="dribbble"
                                                           href="http://www.comp.nus.edu.sg/~prateeks/"><i
                                                            class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div><!-- social icons -->
                                        </div>
                                    </div>
                                </div> <!-- member image -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-image">
                                    <div class="member-info">
                                        <h3 align="center">TEO Yong Meng</h3>
                                        <p align="center">Associate Professor</p>
                                        <div align="center">
                                            <ul>
                                                <li>Parallel&amp;Distributed Simulation</li>
                                                <li>Grid Computing</li>
                                                <li>Parallel Computer Architecture</li>
                                            </ul>
                                        </div>
                                    </div> <!-- member info -->
                                    <div class="row">
                                        <div class="team-member wow flipInY">
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a class="dribbble" href="http://www.comp.nus.edu.sg/~teoym/"><i
                                                            class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div><!-- social icons -->
                                        </div>
                                    </div>
                                </div> <!-- member image -->
                            </div><!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-image">
                                    <div class="member-info">
                                        <h3 align="center">Roland YAP Hock Chuan</h3>
                                        <p align="center">Associate Professor</p>
                                        <div align="center">
                                            <ul>
                                                <li>Programming Languages</li>
                                                <li>Program Analysis</li>
                                                <li>Constraint Solving Algorithms</li>
                                            </ul>
                                        </div>
                                    </div> <!-- member info -->
                                    <div class="row">
                                        <div class="team-member wow flipInY">
                                            <div class="social-icons">
                                                <ul>
                                                    <li><a class="dribbble" href="http://www.comp.nus.edu.sg/%7Eryap"><i
                                                            class="fa fa-link"></i></a></li>
                                                </ul>
                                            </div><!-- social icons -->
                                        </div>
                                    </div>
                                </div> <!-- member image -->
                            </div><!-- col-sm-3 -->
                        </div>
                    </div>
                </div>
                <div id="Co-Inv" class="tab-pane fade">
                    <div class="container">
                        <div class="row team-members">
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--	<img src="images/team/8.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Dr. GUO Charng Rang</h3>
                                    <p>Programme Director</p>
                                    <ul>
                                        <li>Trusted System Vating</li>
                                        <li>Cryptography</li>
                                        <li></li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-info">
                                    <h3>LI Qun</h3>
                                    <p>Applied Research Scientist</p>
                                    <ul>
                                        <li>Product Development</li>
                                        <li>Open-source Software</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a class="linkedin"
                                                   href="https://www.linkedin.com/in/qun-li-1250478/"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                            <!--<li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/15.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>TRAN Ly Vu</h3>
                                    <p>IT Software Engineer</p>
                                    <ul>
                                        <li>System, Network and IT Infrastructure</li>
                                        <li>Web Development</li>
                                        <li>Open-source Contributor</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a class="github"
                                                   href="https://github.com/tranlyvu"><i
                                                    class="fa fa-github"></i></a></li>
                                            <!--<li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/15.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Anand AGRAWAL</h3>
                                    <p>Software Engineer</p>
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                           <li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/15.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Kynaston ONG</h3>
                                    <p>Project Engineer</p>
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                           <li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/15.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Edward HSIAO</h3>
                                    <p>Project Engineer</p>
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                           <li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/15.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Hnin Htet Htet Naing</h3>
                                    <p>Project Engineer</p>
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                           <li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                        </div>
                    </div>
                </div>
                <div id="Research" class="tab-pane fade">
                    <div class="container">
                        <div class="row team-members">
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/9.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Dr. Chunwang ZHANG</h3>
                                    <p>Research Fellow</p>
                                    <ul>
                                        <li>Cloud Security</li>
                                        <li>Cloud Computing</li>
                                        <li>Big Data System</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a class="linkedin"
                                                   href="https://sg.linkedin.com/in/chunwang-zhang-a3bb246a"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                            <li><a class="dribbble" href="http://www.comp.nus.edu.sg/~chunwang/"><i
                                                    class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/9.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Dr. Sakar SAJAL</h3>
                                    <p>Research Fellow</p>
                                    <ul>
                                        <li>Cyber Physical System</li>
                                        <li>Cyber Security for Power Sector</li>
                                        <li>Pattern Recognition</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a class="linkedin"
                                                   href=""><i
                                                    class="fa fa-linkedin"></i></a></li>
                                            <!--<li><a class="dribbble"><i class="fa fa-link"></i></a></li>&ndash;&gt;-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/15.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Dr. Chitra JAVALI</h3>
                                    <p>Research Fellow</p>
                                    <ul>
                                        <li>IoT Security</li>
                                        <li>Applied Cryptography</li>
                                        <li>Data Analytics for Security</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                           <li><a class="dribbble"><i class="fa fa-link"></i></a></li>-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/9.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>YEO Te Ye</h3>
                                    <p>Research Assistant</p>
                                    <ul>
                                        <li>Computer Security</li>
                                        <li>Audiophile</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a class="linkedin"
                                                   href="https://sg.linkedin.com/in/yeo-te-ye-820291112"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                            <!--<li><a class="dribbble"><i class="fa fa-link"></i></a></li>&ndash;&gt;-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/9.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>James NG</h3>
                                    <p>Research Assistant</p>
                                    <ul>
                                        <li>Application Development</li>
                                        <li>Software Security</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <li><a class="linkedin"
                                                   href="https://sg.linkedin.com/in/nghianja"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                            <!--<li><a class="dribbble"><i class="fa fa-link"></i></a></li>&ndash;&gt;-->
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->

                            <div style="margin:20px;padding-top:300px;border-bottom:2px dotted grey; width: 250px"
                                 align="left"><h2>Research Visitor</h2></div>
                            <div class="col-sm-3"
                                 style="margin:20px;width:1120px;height:280px;padding:5px;border:2px dotted grey">
                                <div class="member-info">
                                    <h3>Prof. Hui Tian</h3>
                                    <p>Ph. D, Associate Professor</p>
                                    <p>Chair of Department of Network and Information Security, College of Computer
                                        Science and Technology, National Huaqiao University, Xiamen 361021, China</p>
                                    <ul>
                                        <li>TEL.: (86)592-6162552</li>
                                        <li>FAX.: (86)592-6162556</li>
                                        <li>Email: cshtian@gmail.com, htian@hqu.edu.cn</li>
                                    </ul>
                                </div> <!-- member info -->
                            </div>

                        </div>
                    </div>
                </div>
                <div id="Students" class="tab-pane fade">
                    <div class="container">
                        <div class="row team-members">
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/18.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>CHUA Zheng Leong</h3>
                                    <p>PhD Student</p>
                                    <ul>
                                        <li>Systems Security</li>
                                        <li>Software Testing</li>
                                        <li>Binary Analysis</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--	<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                                            <li><a class="dribbble" href="https://www.comp.nus.edu.sg/~chuazl/"><i
                                                    class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/18.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>Pravein Govindan KANNAN</h3>
                                    <p>PhD Student</p>
                                    <ul>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--	<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                                            <li><a class="dribbble" href="http://www.comp.nus.edu.sg/~pravein/"><i
                                                    class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                            <div class="col-sm-3"
                                 style="margin:20px;width:250px;height:280px;padding:5px;border:2px dotted grey">
                                <!--<img src="images/team/18.png" class="img-circle" />-->
                                <div class="member-info">
                                    <h3>DANG Khanh Hung</h3>
                                    <p>PhD Student</p>
                                    <ul>
                                        <li>Privacy-preserving Computation</li>
                                        <li>System Security</li>
                                        <li>Applied Cryptography</li>
                                    </ul>
                                </div> <!-- member info -->
                                <div class="team-member wow flipInY">
                                    <div class="social-icons">
                                        <ul>
                                            <!--	<li><a class="linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                                            <li><a class="dribbble" href="http://www.comp.nus.edu.sg/~hungdang/"><i
                                                    class="fa fa-link"></i></a></li>
                                        </ul>
                                    </div> <!-- social icons -->
                                </div> <!-- team member -->
                            </div> <!-- col-sm-3 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-9 col-sm-offset-1">
                    <div class="h15">
                        <p>Collaborators</p>
                    </div>
                </div>
                <div class="col-sm-3 text-center" style=" margin:20px; width:320px;height:280px;padding:10px">
                    <img src="images/deter.png" width="280" height="132" class="img"/>
                    <div>
                    </div>
                </div>
                <div class="col-sm-4 text-center" style=" margin:20px; width:355px;height:280px;padding:10px">
                    <img src="images/CyberTest%20Systems.png" width="400" height="100" class="img"/>
                    <div>
                    </div>
                </div>
                <div class="col-sm-3 text-center" style=" margin:20px; width:320px;height:280px;padding:10px">
                    <img src="images/SUTD.jpg" width="260" height="136" class="img"/>
                    <div>
                    </div>
                </div>
                <div class="col-sm-3 text-center" style=" margin:20px; width:320px;height:280px;padding:10px">
                    <img src="images/SMUlogo.png" width="300" height="100" class="img"/>
                    <div><p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
