<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Experiment</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav">&nbsp;</div>
        <div class="container">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row ">

                <div class="heading col-sm-12 tutorialbackground ">
                       <div class="col-sm-6">
                        <p>&nbsp;</p>
                        <h2>Step 1 </h2>
                        <p>Go to dashboard page and take note of the username under Info!: Use your username: XXX to access the experiments' nodes. </p>
                        </div>
                    <div class="col-sm-6">
                        <img preload="true" minimal-lightbox="images/dashboard1.png" src="images/dashboard1.png" width="500" height="325" alt="screenshot"/></div>
                </div>
                <div class="heading col-sm-12 tutorialbackground ">
                       <div class="col-sm-6">
                            <h2>Step 2 </h2>
                            <p>Ensure the experiment status is "running". </p>
                        </div>
                    <div class="col-sm-6">
                        <img preload="true" minimal-lightbox="images/runningexp.png" src="images/runningexp.png" width="500" height="325" alt="screenshot"/></div>
                </div>
                <div class="heading col-sm-12 tutorialbackground ">
                        <div class="col-sm-6">
                            <h2>Step 3</h2>
                            <p>Click "View" on the running experiment to view more details. </p>
                        <p>Note the qualified name, e.g. n0.demoexp.project.ncl.sg. </p></div>
                        <div class="col-sm-6">
                            <img preload="true" minimal-lightbox="images/lview.png" src="images/lview.png" width="500" height="275" alt="screenshot"/>
                        </div>
                </div>
                <div class="heading col-sm-12 tutorialbackground ">
                    <div class="col-sm-6">
                        <h2>Step 4 </h2>
                        <p>Using a SSH client </p>
                         <p>(i) SSH into users.v1.ncl.sg with the username from Step1</p>
                          <p>(ii) After that, SSH into the node with the qualifed name from Step3</p>
                       </div>
                    <div class="col-sm-6">
                        <img preload="true" minimal-lightbox="images/createexperiment3.png" src="images/createexperiment3.png" width="500" height="325" alt="screenshot"/>
                    </div>
                </div>
           </div>
        </div> <!-- container -->
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div th:replace="fragments/footer:: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>