<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Edit Account Details</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/custom.css" th:href="@{css/custom.css}"/>
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="static/js/custom.js" th:src="@{js/custom.js}"></script>
    </head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
                <form  method="post" action="#" th:action="@{/account_settings}" th:object="${editUser}" role="form">
                    <fieldset>
                        <h2 th:text="#{acc.info.header.accInfo}">Account Info</h2>
                        <div class="form-group">
                            <label for="email"><span th:text="#{acc.info.email}">Email</span>:</label>
                            <input type="text" class="form-control" th:field="*{email}" readonly="readonly"/>
                        </div>
                        <!-- TODO The page displays empty password for now because it will display the password value in HTML -->
                        <span class="password-change-mismatch" th:if="${editPassword eq 'unsuccess'}"><i class="fa fa-exclamation-triangle"></i> <span th:text="#{acc.info.pwdEmpty}">Password cannot be empty.</span></span>
                        <div class="form-group">
                            <label for="password"><span th:text="#{acc.info.password}">Password</span>:</label>
                            <input type="password" class="form-control" th:field="*{password}"/>
                        	<span class="password-change-mismatch" th:if="${editPasswordMismatch eq 'unsuccess'}"><i class="fa fa-exclamation-triangle"></i> <span th:text="#{acc.info.pwdMismatch}">Password mismatch.</span></span>
                        	<span class="account-change-success" th:if="${editPassword eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.pwdSuccess}">Password change success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword"><span th:text="#{acc.info.confirmPassword}">Confirm Password</span>:</label>
                            <input type="password" class="form-control" th:field="*{confirmPassword}"/>
                            <span class="password-change-mismatch" th:if="${editPasswordMismatch eq 'unsuccess'}"><i class="fa fa-exclamation-triangle"></i> <span th:text="#{acc.info.pwdMismatch}">Password mismatch.</span></span>
                        	<span class="account-change-success" th:if="${editPassword eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.pwdSuccess}">Password change success.</span></span>
                        </div>
                        <h2 th:text="#{acc.info.header.personInfo}">Personal Info</h2>
                        <div class="form-group">
                            <label for="name"><span th:text="#{acc.info.fullName}">Full Name</span>:</label>
                            <input type="text" class="form-control" th:field="*{name}"/>
                            <span class="account-change-success" th:if="${editName eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.nameSuccess}">Name changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="jobTitle"><span th:text="#{acc.info.jobTitle}">Job Title</span>:</label>
                            <input type="text" class="form-control" th:field="*{jobTitle}"/>
                            <span class="account-change-success" th:if="${editJobTitle eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.jobTitleSuccess}">Job title changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="institution"><span th:text="#{acc.info.institution}">Institution/Employee</span>:</label>
                            <input type="text" class="form-control" th:field="*{institution}"/>
                            <span class="account-change-success" th:if="${editInstitution eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.institutionSuccess}">Institution changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="institutionAbbreviation"><span th:text="#{acc.info.abbrev}">Institution Abbreviation</span>:</label>
                            <input type="text" class="form-control" th:field="*{institutionAbbreviation}"/>
                            <span class="account-change-success" th:if="${editInstitutionAbbreviation eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.abbrevSuccess}">Institution abbreviation changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="website"><span th:text="#{acc.info.website}">Institution Website</span>:</label>
                            <input type="text" class="form-control" th:field="*{website}"/>
                            <span class="account-change-success" th:if="${editWebsite eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.websiteSuccess}">Website changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="address1"><span th:text="#{acc.info.addr1}">Address 1</span>:</label>
                            <input type="text" class="form-control" th:field="*{address1}"/>
                            <span class="account-change-success" th:if="${editAddress1 eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.addr1Success}">Address 1 changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="address2"><span th:text="#{acc.info.addr2}">Address 2</span>:</label>
                            <input type="text" class="form-control" th:field="*{address2}"/>
                            <span class="account-change-success" th:if="${editAddress2 eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.addr2Success}">Address 2 changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="country"><span th:text="#{acc.info.country}">Country</span>:</label>
                            <input type="text" class="form-control" th:field="*{country}"/>
                            <span class="account-change-success" th:if="${editCountry eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.countrySuccess}">Country changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="city"><span th:text="#{acc.info.city}">City</span>:</label>
                            <input type="text" class="form-control" th:field="*{city}"/>
                            <span class="account-change-success" th:if="${editCity eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.citySuccess}">City changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="province"><span th:text="#{acc.info.state}">State/Province</span>:</label>
                            <input type="text" class="form-control" th:field="*{province}"/>
                            <span class="account-change-success" th:if="${editProvince eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.stateSuccess}">State/province changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="postalCode"><span th:text="#{acc.info.postal}">Postal Code</span>:</label>
                            <input type="text" class="form-control" th:field="*{postalCode}"/>
                            <span class="account-change-success" th:if="${editPostalCode eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{acc.info.postalSuccess}">Postal code changed success.</span></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="#" th:href="@{/dashboard}" class="btn btn-danger">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->
    </body>
</html>