<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Edit Account Details</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/custom.css" th:href="@{css/custom.css}"/>
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="static/js/custom.js" th:src="@{js/custom.js}"></script>
    </head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
                <form  method="post" action="#" th:action="@{/account_settings}" th:object="${editUser}" role="form">
                    <fieldset>
                        <h2>Account Info</h2>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" th:field="*{email}" readonly="readonly"/>
                        </div>
                        <!-- TODO The page displays empty password for now because it will display the password value in HTML -->
                        <span class="password-change-mismatch" th:if="${editPassword eq 'unsuccess'}"><i class="fa fa-exclamation-triangle"></i> Password cannot be empty.</span>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" th:field="*{passwodrd}"/>
                        	<span class="password-change-mismatch" th:if="${editPasswordMismatch eq 'unsuccess'}"><i class="fa fa-exclamation-triangle"></i> Password mismatch.</span>
                        	<span class="account-change-success" th:if="${editPassword eq 'success'}"><i class="fa fa-check"></i> Password change success.</span>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password:</label>
                            <input type="password" class="form-control" th:field="*{confirmPassword}"/>
                            <span class="password-change-mismatch" th:if="${editPasswordMismatch eq 'unsuccess'}"><i class="fa fa-exclamation-triangle"></i> Password mismatch.</span>
                        	<span class="account-change-success" th:if="${editPassword eq 'success'}"><i class="fa fa-check"></i> Password change success.</span>
                        </div>
                        <h2>Personal Info</h2>
                        <div class="form-group">
                            <label for="name">Full Name:</label>
                            <input type="text" class="form-control" th:field="*{name}"/>
                            <span class="account-change-success" th:if="${editName eq 'success'}"><i class="fa fa-check"></i> Name changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="jobTitle">Job Title:</label>
                            <input type="text" class="form-control" th:field="*{jobTitle}"/>
                            <span class="account-change-success" th:if="${editJobTitle eq 'success'}"><i class="fa fa-check"></i> Job title changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="institution">Institution/Employee:</label>
                            <input type="text" class="form-control" th:field="*{institution}"/>
                            <span class="account-change-success" th:if="${editInstitution eq 'success'}"><i class="fa fa-check"></i> Institution changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="institutionAbbreviation">Institution Abbreviation:</label>
                            <input type="text" class="form-control" th:field="*{institutionAbbreviation}"/>
                            <span class="account-change-success" th:if="${editInstitutionAbbreviation eq 'success'}"><i class="fa fa-check"></i> Institution abbreviation changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="website">Institution Website:</label>
                            <input type="text" class="form-control" th:field="*{website}"/>
                            <span class="account-change-success" th:if="${editWebsite eq 'success'}"><i class="fa fa-check"></i> Website changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="address1">Address 1:</label>
                            <input type="text" class="form-control" th:field="*{address1}"/>
                            <span class="account-change-success" th:if="${editAddress1 eq 'success'}"><i class="fa fa-check"></i> Address 1 changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="address2">Address 2:</label>
                            <input type="text" class="form-control" th:field="*{address2}"/>
                            <span class="account-change-success" th:if="${editAddress2 eq 'success'}"><i class="fa fa-check"></i> Address 2 changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="country">Country:</label>
                            <input type="text" class="form-control" th:field="*{country}"/>
                            <span class="account-change-success" th:if="${editCountry eq 'success'}"><i class="fa fa-check"></i> Country changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" th:field="*{city}"/>
                            <span class="account-change-success" th:if="${editCity eq 'success'}"><i class="fa fa-check"></i> City changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="province">State/Province:</label>
                            <input type="text" class="form-control" th:field="*{province}"/>
                            <span class="account-change-success" th:if="${editProvince eq 'success'}"><i class="fa fa-check"></i> State/province changed success.</span>
                        </div>
                        <div class="form-group">
                            <label for="postalCode">Postal Code:</label>
                            <input type="text" class="form-control" th:field="*{postalCode}"/>
                            <span class="account-change-success" th:if="${editPostalCode eq 'success'}"><i class="fa fa-check"></i> Postal code changed success.</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="#" th:href="@{/dashboard}" class="btn btn-danger">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->
    </body>
</html>