<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Resources</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
	<body class="mybg loginbackground">
		<div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
		<p>&nbsp;</p>
		<div class="container ">
			<p>&nbsp;</p>
			<div class="row dashpanel">
				<h2 class="team-heading team-heading-current-team padding">Update Resource</h2>
				<p>&nbsp;</p>
				<form method="post" action="#" th:action="@{/admin/data/{did}/resources/{rid}/update(did=${did},rid=${dataresource.id})}" th:object="${dataresource}" role="form">
					<span class="account-change-success" th:if="${editMaliciousFlag eq 'success'}"><i class="fa fa-check"></i> <span th:text="${'Data resource has been updated to ' + dataresource.maliciousFlag}">TEXT</span></span>
					<div class="form-group">
						<label for="data-resc-id">ID</label>
						<input id="data-resc-id" type="text" class="form-control" th:field="*{id}" readonly="readonly"/>
					</div>
					<div class="form-group">
						<label for="data-resc-uri">URI</label>
						<input id="data-resc-uri" type="text" class="form-control" th:field="*{uri}" readonly="readonly"/>
					</div>
					<div class="form-group">
						<label for="data-resc-malicious">Malicious</label>
						<select id="data-resc-malicious" class="form-control" th:field="*{maliciousFlag}">
							<option value="clean">CLEAN</option>
							<option value="malicious">MALICIOUS</option>
							<option value="not scanned">NOT SCANNED</option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-standard">Update</button>
					</div>
				</form>
			</div> <!-- row -->
		</div> <!-- container -->

		<div th:replace="fragments/footer :: footer"></div>
		<object th:include="fragments/javascript :: javascript" th:remove="tag" />
	</body>
</html>