<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Admin</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
                <form  method="post" action="#" th:action="@{/admin/node/add}" th:object="${node}" role="form">
                    <fieldset>
                        <h2 th:text="#{admin.header}">Add Node</h2>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Type. eg. Win7-64-aries" th:field="*{nodeType}"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Class" th:field="*{nodeClass}"/>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isVirtNode}"/> <strong><span th:text="#{admin.virtnode}">isvirtnode</span></strong></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{isSubNode}"/> <strong><span th:text="#{admin.subnode}">issubnode</span></strong></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adminmfs_osid"><span th:text="#{admin.adminmfs}">Adminmfs_osid:</span></label>
                            <select class="form-control" th:field="*{adminMfsOSID}">
                                <option value="emulab-ops-FREEBSD"><span th:text="#{admin.adminmfs.option1}">emulab-ops-FREEBSD</span></option>
                            </select>
                        </div>
                       <div class="form-group">
                            <label for="bios"><span th:text="#{admin.bios}">bios_waittime:</span></label>
							<input type="text" class="form-control" th:field="*{biosWaitTime}"/>
                        </div>
                       <div class="form-group">
                            <label for="control_interface"><span th:text="#{admin.interface}">control_interface:</span></label>
							<input type="text" class="form-control" th:field="*{networkInterface}"/>
                        </div>
                       <div class="form-group">
                            <label for="default_os"><span th:text="#{admin.defaultOS}">default_os:</span></label>
							<input type="text" class="form-control" th:field="*{defaultOS}"/>
                        </div>
                       <div class="form-group">
                            <label for="disksize"><span th:text="#{admin.disksize}">disksize (GB):</span></label>
							<input type="text" class="form-control" th:field="*{diskSize}"/>
                        </div>
                       <div class="form-group">
                            <label for="cpu_freq"><span th:text="#{admin.cpuFreq}">cpu_freq (mHz):</span></label>
							<input type="text" class="form-control" th:field="*{cpuFreq}"/>
                        </div>
                       <div class="form-group">
                            <label for="memory"><span th:text="#{admin.memory}">memory (MB):</span></label>
							<input type="text" class="form-control" th:field="*{memory}"/>
                        </div>
                       <div class="form-group">
                            <label for="processor"><span th:text="#{admin.processor}">processor:</span></label>
							<input type="text" class="form-control" th:field="*{processor}"/>
                        </div>
                       <div class="form-group">
                            <label for="virtMachinesPerNode"><span th:text="#{admin.virtualMachinesPerNode}">virtual machines per node:</span></label>
							<input type="text" class="form-control" th:field="*{virtMachinesPerNode}"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer_fixed :: footer-fixed"></div>
    </body>
</html>