<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Approve New User</title>
         <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{~/css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{~/css/main.css}"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/ncl_favicon.png" th:href="@{~/images/ncl_favicon.png}"/>
        
	  <!--[if lt IE 9]>
	    <script type="text/javascript" src="static/js/html5shiv.js" th:src="@{~/js/html5shiv.js}"></script>
	    <script type="text/javascript" src="static/js/respond.min.js" th:src="@{~/js/respond.min.js}"></script>
	  <![endif]-->
	  
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{~/js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="static/js/main.js" th:src="@{~/js/main.js}"></script>
    </head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
		                <h2 th:text="#{user.approve.header}">Approve New User</h2>
                    </div> <!-- panel heading -->
                    <div class="panel-body">
                    	<!-- user's controlled teams have some join request awaiting approval -->
                    	<th:block th:if="not ${#lists.isEmpty(joinApprovalList)}">
	                        <table class="table table-responsive" th:if="not ${#lists.isEmpty(joinApprovalList)}">
	                            <thead>
	                                <th th:text="#{team.table.awaiting.approval.header.name}"></th>
	                                <th th:text="#{team.table.awaiting.approval.header.email}"></th>
	                                <th th:text="#{team.table.awaiting.approval.header.dateOfApplication}"></th>
	                                <th th:text="#{team.table.awaiting.approval.header.team}"></th>
	                                <th><!-- Actions --></th>
	                            </thead>
	                            <!-- get each team's join request map -->
								<tr th:each="joinInfo : ${joinApprovalList}">
									<td th:text="${joinInfo.userName}">Request Issuer Name</td>
									<td th:text="${joinInfo.userEmail}">Request Issuer Email</td>
									<td th:text="${joinInfo.applicationDate}">Request Issuer Date</td>
									<td th:text="${joinInfo.teamName}">Team wanting to join</td>
									<td>
										<a href="#" th:href="@{/approve_new_user/accept/{teamId}/{userId}(teamId=${joinInfo.teamId},userId=${joinInfo.userId})}" title="Accept" class="btn btn-success"><i class="fa fa-check-circle-o fa-lg"></i> Accept</a>
										<a href="#" title="Reject" class="btn btn-danger"><i class="fa fa-times-circle-o fa-lg"></i> Reject</a>
									</td>
								</tr>
	                            <!--<tr th:each="team : ${teamMapOwnedByUser}">-->
	                            	<!--<th:block th:each="joinRequestEntry : ${team.value.joinRequestMap}">-->
	                            		<!--<td th:text="${joinRequestEntry.value.name}">Request Issuer Name</td>-->
	                            		<!--<td th:text="${joinRequestEntry.value.email}">Request Issuer Email</td>-->
	                            		<!--<td th:text="${team.value.getUserJoinRequestDate(joinRequestEntry.key)}">Request Issuer Date</td>-->
	                            		<!--<td th:text="${team.value.name}">Team wanting to join</td>-->
		                                <!--<td>-->
		                                    <!--<a href="#" title="Accept" class="btn btn-success" th:href="@{/approve_new_user/accept/{teamId}/{userId}(teamId=${team.key}, userId=${joinRequestEntry.key})}"><i class="fa fa-check-circle-o fa-lg"></i> Accept</a>-->
		                                    <!--<a href="#" title="Reject" class="btn btn-danger" th:href="@{/approve_new_user/reject/{teamId}/{userId}(teamId=${team.key}, userId=${joinRequestEntry.key})}"><i class="fa fa-times-circle-o fa-lg"></i> Reject</a>-->
		                               <!--</td>-->
	                            	<!--</th:block>-->
	                            <!--</tr>-->
	                        </table>
	                        <!--<p th:if="${teamMapOwnedByUser.isEmpty()}" th:text="#{user.approve.notTeamOwner}">You are not a team owner of any teams yet.</p>-->
                    	</th:block>
                    	<!-- user's controlled teams have NO join request awaiting approval -->
                    	<p th:if="${#lists.isEmpty(joinApprovalList)}" th:text="#{user.approve.noMembersAwaiting}">You have no members awaiting for your approval yet.</p>
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div> <!-- row -->
        </div> <!-- container -->  
    </body>
</html>