<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Approve new user</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
				<p>&nbsp;</p>
                <div class="panel panel-primary team-panel team-panel-current-team">
					<h2 class="team-heading team-heading-current-team" th:text="#{user.approve.header}">Approve New User</h2>
                    <div class="panel-body">
                    	<!-- user's controlled teams have some join request awaiting approval -->
                    	<th:block th:if="not ${#lists.isEmpty(joinApprovalList)}">
	                        <table class="table table-responsive" th:if="not ${#lists.isEmpty(joinApprovalList)}">
	                            <thead>
	                                <th th:text="#{team.table.awaiting.approval.header.name}"></th>
	                                <th th:text="#{team.table.awaiting.approval.header.email}"></th>
	                                <th th:text="#{team.table.awaiting.approval.header.dateOfApplication}"></th>
	                                <th th:text="#{team.table.awaiting.approval.header.team}"></th>
	                                <th><!-- Actions --></th>
	                            </thead>
	                            <!-- get each team's join request map -->
								<tr th:each="joinInfo : ${joinApprovalList}">
									<td th:text="${joinInfo.userName}">Request Issuer Name</td>
									<td th:text="${joinInfo.userEmail}">Request Issuer Email</td>
									<td th:text="${joinInfo.applicationDate}">Request Issuer Date</td>
									<td th:text="${joinInfo.teamName}">Team wanting to join</td>
									<td>
										<a href="#" th:href="@{/approve_new_user/accept/{teamId}/{userId}(teamId=${joinInfo.teamId},userId=${joinInfo.userId})}" title="Accept" class="btn btn-standard"><i class="fa fa-check-circle-o fa-lg btn-fa-green"></i> Accept</a>
										<a href="#" title="Reject" class="btn btn-standard"><i class="fa fa-times-circle-o fa-lg btn-fa-red"></i> Reject</a>
									</td>
								</tr>
	                            <!--<tr th:each="team : ${teamMapOwnedByUser}">-->
	                            	<!--<th:block th:each="joinRequestEntry : ${team.value.joinRequestMap}">-->
	                            		<!--<td th:text="${joinRequestEntry.value.name}">Request Issuer Name</td>-->
	                            		<!--<td th:text="${joinRequestEntry.value.email}">Request Issuer Email</td>-->
	                            		<!--<td th:text="${team.value.getUserJoinRequestDate(joinRequestEntry.key)}">Request Issuer Date</td>-->
	                            		<!--<td th:text="${team.value.name}">Team wanting to join</td>-->
		                                <!--<td>-->
		                                    <!--<a href="#" title="Accept" class="btn btn-success" th:href="@{/approve_new_user/accept/{teamId}/{userId}(teamId=${team.key}, userId=${joinRequestEntry.key})}"><i class="fa fa-check-circle-o fa-lg"></i> Accept</a>-->
		                                    <!--<a href="#" title="Reject" class="btn btn-danger" th:href="@{/approve_new_user/reject/{teamId}/{userId}(teamId=${team.key}, userId=${joinRequestEntry.key})}"><i class="fa fa-times-circle-o fa-lg"></i> Reject</a>-->
		                               <!--</td>-->
	                            	<!--</th:block>-->
	                            <!--</tr>-->
	                        </table>
	                        <!--<p th:if="${teamMapOwnedByUser.isEmpty()}" th:text="#{user.approve.notTeamOwner}">You are not a team owner of any teams yet.</p>-->
                    	</th:block>
                    	<!-- user's controlled teams have NO join request awaiting approval -->
                    	<p th:if="${#lists.isEmpty(joinApprovalList)}" th:text="#{user.approve.noMembersAwaiting}">You have no members awaiting for your approval yet.</p>
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div> <!-- row -->
        </div> <!-- container -->
		<div th:replace="fragments/footer_fixed :: footer-fixed"></div>
    </body>
</html>