<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
    <link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>

<body>
<div layout:fragment="content">
<section id="joinUs" class="join-us">
    <div class="container ">
        <div class="row ">
            <div class="box effect5">
                <div class="heading text-center col-sm-10 col-sm-offset-1 ">
                    <div class="col-sm-5"><img src="images/board.jpg" width="330" height="220"
                                               class="img-responsive"/>
                    </div>
                    <div class="col-sm-7">
                        <p align="justify">The National Cybersecurity R&amp;D Lab (NCL) invites applications for the positions of
                            <span class="h13">(Senior) Research Fellows, Research Assistants, Systems Engineer, (Lead) Software Engineer, as well as Student Interns</span>
                            (undergraduate and graduate).</p><p>&nbsp;</p>
                        <p align="justify">If you are interested in joining NCL, please contact: <br />Professor Chang Ee-Chien (changec@comp.nus.edu.sg),<br />Professor Liang Zhenkai (liangzk@comp.nus.edu.sg) and <br />cc NCL Support (support@ncl.sg) </p>
                        <!--<p align="justify">NCL invites applications for a few research positions in the area of-->
                        <!--cyber security, including <span class="h13">Research Fellows, Research Assistants and Student Interns</span>-->
                        <!--(undergraduate and graduate).</p>-->
                        <!--<p align="justify">Applicants should possess knowledge or experiences in one or more-->
                        <!--cybersecurity research areas (e.g.system/ software/ web/ mobile security), networking,-->
                        <!--virtualization and/or big data systems, etc.</p>-->
                        <!--<p align="justify">You will be working with the team together to make the testbed and its-->
                        <!--associated various services up and fully ready for use. You will have chance to work on-->
                        <!--cloud provisioning technologies (e.g. OpenStack), big-data management systems (e.g.-->
                        <!--HDFS), and various advanced and latest topics in cyber security.</p>-->
                        <!--<p align="justify">For more information, please contact: </p>-->
                        <!--<p align="left">Associate Professor Chang Ee-Chien <a href="mailto:changec@comp.nus.edu.sg">changec@comp.nus.edu.sg</a>-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section> <!-- join us -->

<div class="container">
    <div class="table-responsive">
        <table class="table2">
            <tr>
                <h22>Positions Available in NCL :</h22><p>&nbsp;</p>
                <td> <p>&nbsp;</p>
                    <p onclick="myFunction('RA')"><h24>Research Fellow / Research Assistants</h24><h25>&nbsp;&nbsp; + &nbsp;&nbsp;</h25>  </p>
                    <div id="RA" class="hide position">
                        <p>&nbsp;</p>
                        <strong>Job Description</strong>
                        <p align="justify">The National Cybersecurity R&amp;D Lab (NCL) is a national shared infrastructure that provides computing resources, repeatable and controllable experimentation environments, as well as data and application services for cybersecurity R&amp;D community (https://ncl.sg).  NCL is hosted in the School of Computing, National University of Singapore. NCL invites applications for the positions of Research Fellows and Research Assistants in the areas of cybersecurity. The Research Fellows/Assistants will work closely with the Principal Investigators and lab members on one or more research projects conducted in the lab. He/she should possess experience or interest in at least one of the following research areas:</p>
                       <ul>
                           <li>Malware Analysis </li>
                           <li>Multi-agents systems and human behaviour analysis </li>
                           <li>Network Security</li>
                           <li>Automated traffic generation &amp; cyber-range</li>
                           <li>Data anonymization</li>
                           <li>Virtualization </li>
                       </ul>

                        <Strong>Requirements</Strong>
                        <p>For Research Fellow Position</p>
                        <ul>
                            <li>A PhD degree in a relevant area </li>
                            <li>Good Publication record </li>
                            <li>Experience in research </li>
                        </ul>
                        <p>For Research Assistant Position</p>
                        <ul>
                            <li>A Bachelor degree with Honours in a relevant area</li>
                            <li>Experience in research </li>
                        </ul>
                        <p>&nbsp;</p>
                  </div>
                </td>

            </tr>
            <tr>
                <td> <p>&nbsp;</p>
                    <p onclick="myFunction('IA')"><h24>IT Analyst / Systems Engineer</h24><h25>&nbsp;&nbsp; + &nbsp;&nbsp;</h25> </p>
                    <div id="IA" class="hide">
                        <p>&nbsp;</p>
                        <strong>Job Description</strong>
                        <p align="justify">An IT Analyst or Systems Engineer is required in the National Cybersecurity R&amp;D Lab (NCL) in infrastructure operations and administration, especially in storage, server, networking, IT security administration, computer room operations, technical application development and maintenance.</p>
                        <p><strong>Duties and Responsibilities</strong></p>
                        <ul>
                            <li>Participate in the design, setup, operation and management of all IT equipment related to the National Cybersecurity R&amp;D lab (NCL) </li>
                            <li>Provide 2nd/3rd level technical support to NCL Technical Services</li>
                            <li>Troubleshoot and resolve faults</li>
                            <li>Develop new technical applications and maintaining existing ones</li>
                            <li>Ensure proper IT security implementation and protection of services.</li>
                        </ul>

                        <strong>Requirements</strong>
                        <ul>
                            <li>Minimum 3 years of relevant work experience</li>
                            <li>Tertiary degree holders with relevant specialization or courses/modules/projects </li>
                            <li>Able to work independently with minimal supervision</li>
                            <li>Possesses good analytical, problem-solving, communication and interpersonal skills</li>
                            <li>Love to do network and systems programming, enjoy learning technical   details and experimenting with systems and technologies, e.g
                            <ul>
                                <li  style=" list-style-type:none"> - Operating and File Systems (Solaris, NFS, OpenStack, Ceph, VMware, Windows, etc)</li>
                                <li style=" list-style-type:none"> - Network infrastructure (firewalls, routers, switches)</li>
                                <li style=" list-style-type:none"> - Network services (DNS, DDNS, DHCP, VPN, Web, VRRP, load balancer)</li>
                                <li style=" list-style-type:none"> - SSL accelerator and application load balancer.</li>
                                <li style=" list-style-type:none"> - Open source technologies, in particular Linux, Apache, MySQL.</li>
                                <li style=" list-style-type:none"> - Programming with Perl, PHP, sh/bash, and C.)</li>
                                <li style=" list-style-type:none"> - IT security principles, access controls, policies, and vulnerability assessment systems.</li>
                                <li style=" list-style-type:none"> - Relevant certifications such as CCNA, CISSP, will be an advantage.</li>
                            </ul>
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </td>

            </tr>
            <tr>
                <td> <p>&nbsp;</p>
                    <p onclick="myFunction('SE')" ><h24>Software Engineer / Lead Software Engineer</h24><h25>&nbsp;&nbsp; + &nbsp;&nbsp;</h25>  </p>
                    <div id="SE" class="hide">
                        <p>&nbsp;</p>
                        <strong>Job Description</strong>
                        <p align="justify">A Software Engineer or Lead Software Engineer is required in the National Cybersecurity R&amp;D Lab (NCL) in the design, development, implementation and management of technical applications and services.</p>
                        <p><strong>Duties and Responsibilities</strong></p>
                        <ul>
                            <li>Participate/lead in the design, implementation, management and maintenance of all the applications and services provided by the National Cybersecurity R&amp;D lab (NCL) </li>
                            <li>Provide technical support to NCL customers and researchers</li>
                            <li>Troubleshoot and bug fix</li>
                            <li>Develop new technical applications and maintaining existing ones</li>
                            <li>Ensure proper IT security implementation and protection of services</li>
                        </ul>

                        <strong>Requirements</strong>
                        <ul>
                            <li>A Bachelor’s Degree in Computer Science or a relevant area </li>
                            <li>Minimum 1 year of relevant work experience for Software Engineer, and minimum 5 years of work experience for Lead Software Engineer </li>
                            <li>Strong programming background in Java, Python, HTML, PHP, etc</li>
                            <li>Experience with applications development under Linux systems</li>
                            <li>Familiar with open source projects such as OpenStack, Apache, MySQL etc. would be a plus   </li>
                            <li>Able to work independently with minimal supervision  </li>
                            <li>Possesses good analytical, problem-solving, communication and interpersonal skills  </li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </td>

            </tr>
       </table>
    </div>
    <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p> <p>&nbsp;</p>
</div>

<script type="text/javascript">
    function myFunction(id)
    {
        var obj = document.getElementById(id);
        if(obj.className == 'show')
        {
            obj.className = 'hide';
        }
        else
        {
            obj.className = 'show'
        }
    }
</script>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
