<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
     <section>
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-9 col-sm-offset-1">
                    <div class="h15">
                        <p>Collaborators</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center" style=" margin:20px; width:320px;height:280px;padding:10px">
                    <p></p>
                    <img src="images/deter.png" width="100%" class="img"/>
                </div>
                <div class="col-sm-4 text-center" style=" margin:20px; width:320px;height:280px;padding:10px">
                    <img src="images/SUTD.jpg" width="100%" class="img"/>
                </div>
                <div class="col-sm-4 text-center" style=" margin:20px; width:320px;height:280px;padding:10px">
                    <img src="images/SMUlogo.png" width="100%" class="img"/>
                </div>
                <div class="col-sm-4 text-center" style=" margin:20px; width:355px;height:280px;padding:10px">
                    <a href="https://c4e.cz"><img src="images/c4e_Logo.jpg" width="100%" class="img"/></a>
                </div>
            </div>
        </div>
    </section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
