<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Contact Us</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
<body>
<!-- main nav -->
<div class="main-nav navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="index.html" th:href="@{/}"><img src="images/ncl_favicon1.png" alt="logo" width="53" height="53" class="logo1" /></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div> <!-- navbar-header -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left login-navbar-left">
				<li class="scroll"><a href="about.html">About</a></li>
				<li class="scroll"><a href="event.html">Events</a></li>
				<li class="scroll"><a href="plan.html">Features</a></li>
				<li class="scroll"><a href="pricing.html">Pricing</a></li>
				<li class="scroll"><a href="research.html">Research</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Support
						<span class="caret"></span></a>
					<ul class="dropdown-menu ">
						<li><a href="http://ncl.sg/docs-ncl/">Tutorial</a></li>
						<li><a href="resources.html">External Resources</a></li>
						<li><a href="calendar.html">Usage Calendar</a></li>
					</ul>
				</li>
				<li class="scroll"><a href="contactus.html">Contact Us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right login-navbar-right">
				<li><a href="#" th:href="@{/signup2}">Create account</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right login-navbar-right1">
				<li><a href="#" th:href="@{/login}">Log In</a></li>
			</ul>
		</div> <!-- navigation links -->
	</div>
</div> <!-- main-nav -->
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="container">
		<div class="row">
			<div class="heading text-center col-sm-10 col-sm-offset-1">
				<div class="h15">
					<p>Contact Us</p>
				</div>
					<p>&nbsp;</p>
					<h4>If you have questions or feedback about NCL, we'd love to hear from you!</h4>
					<p>&nbsp;</p>
				<div class="col-sm-1  col-sm-offset-1">
					<ul class="address">
						<li><h4><i class="fa fa-phone" ></i></h4></li>
						<li><h4><i class="fa fa-map-marker"></i></h4></li>
						<li><h4><i class="fa fa-envelope"></i></h4></li>
					</ul>
				</div>
				<div class="col-sm-9 text-left" >
					<ul class="address">
						<li><h4><span> Phone : </span>+65 6601 1056</h4></li>
						<li><h4><span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></h4></li>
						<li><h4><span>Email:</span><a href="mailto:support@ncl.sg"> support@ncl.sg</a></h4></li>
						<p>&nbsp;</p>
					</ul>
			</div>
			</div>
		</div>
	</div>
		<div th:replace="fragments/footer:: footer"></div>
		<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>

