<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>Services and Tools</title>
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{~/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="shortcut icon" href="images/newui/ncl_favicon.png"  th:href="@{~/images/newui/ncl_favicon.png}"/>

    <link rel="stylesheet" type="text/css" href="../static/css/newui/services.css" />
</head>

<body  layout:fragment="content">
<main id="main" >

    <!-- Section  Breadcrumb  pointer link to back -->
    <section class="py-1 py-md-1 py-xl-1 bg-light " style="margin-top:5.5rem;" >
        <div class="container mt-2">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item breadcrumb-text">Services
                                <i class="bi bi-chevron-double-right"></i></li>
                            <li class="breadcrumb-item breadcrumb-text">
                                <a class="link-primary text-decoration-none" href="../services_tools.html" th:href="@{~/services_tools}">
                                    Environment, Data , Tools and Services</a>
                                <i class="bi bi-chevron-double-right"></i></li>
                            <li class="breadcrumb-item breadcrumb-text" >CUE</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- CUE header -->
    <section class="py-2 py-md-2 py-xl-4 bg-light" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-9 col-lg-7 ml-10 ">
                    <h1 class="h4 text-center text-uppercase fw-bold mt-5 cue-title">Cluster User Emulator</h1>
                    <p class="display-7 text-center fw-bold">Welcome to the forefront of CyberSecurity innovation with CUE</p>
                </div>
                <div class="col-12 col-lg-2 justify-content-center image-container">
                    <img class="img-fluid rounded"  loading="lazy" src="images/newui/cuehead.png" alt="cuehead" />
                </div>
            </div>
        </div>
    </section>

    <!-- Section - CUE Intro -->
    <section class="py-3 py-md-4 py-xl-5 cue-section-bg-color" >
        <div class="container " >
            <div class="row justify-content-center">
                <div class="col-8">
                    <p class="display-7 text-center cue-text-white" >
                        In today's ever-evolving threat landscape, understanding and mitigating
                        the risks associated with user behaviour is paramount.
                        Introducing CUE - a distributed user activities emulation system
                        that can perform both beign and malicious actions,
                        allowing you to simulate realistic user behaviours
                        and mimic the tactics of malicious actors. </p>
                </div>
            </div>
        </div>
    </section>


    <!-- section CUE Key Features -->
    <section class="py-3 py-md-4">
        <div class="container">
            <div class ="row justify-content-center">
                <h2 class="mt-4 mb-3 text-uppercase text-center cue-title">Key Features</h2>
            </div>

            <div class="row gy-2 gy-md-3 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-xl-10">
                            <h2 class="h4 fs-8 mb-5 text-center fw-bold"  >Activities Generation Modules Repository</h2>

                            <p class="fs-8 mb-3 mb-xl-5">Explore our repository housing a diverse array of library modules,
                                designed for crafting both benign and malicious activities and traffic.</p>

                            <p class="fs-8 mb-3 mb-xl-5">Seamlessly integrate these modules with other
                                components to generate authentic activities spanning hardware,
                                network, operating system, and application layers.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <img class="img-fluid rounded" loading="lazy" src="images/newui/cue-img01.png" alt="cue01" />
                </div>

            </div>
        </div>
    </section>

    <!-- section 2 - Key Feature -->
    <section class="py-3 py-md-4 mb-3">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid rounded" loading="lazy" src="images/newui/cue-img01.png" alt="cue01" />
                </div>

                <div class="col-12 col-lg-6">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-xl-10">
                            <h2 class="h4 fs-8 mb-5 text-center fw-bold" >User Action Emulator</h2>
                            <p class="fs-8 mb-3 mb-xl-5">Empower your customization process with our User Action Emulator that effortlessly assembles plugin modules, enabling the creation of tailored, intricate action profiles for Humans, Hackers, and devices.
                            </p>
                            <p class="fs-8 mb-3 mb-xl-5">Execute tasks seamlessly on a timeline of your own design.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- section 3  Key Feature -->
    <section class="py-3 py-md-4 mb-3">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-xl-10">
                            <h2 class="h4 fs-8 mb-5 text-center fw-bold"  >System Orchestrator</h2>
                            <p class="fs-8 mb-3 mb-xl-5">
                                Introducing our System Orchestrator – your cloud-based solution
                                for streamlined management of User Action Emulators.</p>
                            <p class="fs-8 mb-3 mb-xl-5"> Effortlessly monitor and oversee task execution
                                across all connected emulators from one centralized dashboard.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <img class="img-fluid rounded" loading="lazy" src="images/newui/cue-img03.png" alt="cue03" />
                </div>
            </div>
        </div>
    </section>
    <!-- section 4  Key Feature -->
    <section class="py-3 py-md-4 mb-3">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-6">
                    <img class="img-fluid rounded" loading="lazy" src="images/newui/cue-img04.png" alt="cue04" />
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-xl-10">
                            <h2 class="h4 fs-8 mb-5 text-center fw-bold" >Malware Command and Control Interface</h2>
                            <p class="fs-8 mb-3 mb-xl-5">
                                Our cutting-edge online dashboard seamlessly showcases the real-time
                                task execution statuses of all interconnected malware instances. </p>
                            <p class="fs-8 mb-3 mb-xl-5"> With an exclusive, robust web API tailored
                                for you to seize dynamic control over malware operations,
                                enabling efficient management and proactive defense against emerging threats
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- section 5  Why CUE -->
    <section class="py-5 py-xl-8 cue-section-bg-color ">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-12 mb-5 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="mb-4 text-center text-uppercase cue-text-white-title" >Why CUE ?</h2>
<!--                    <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />-->
                </div>
            </div>
        </div>

        <div class="container overflow-hidden">
            <div class="row gy-5 gy-md-6 gy-lg-0">

                <div class="col-6 col-lg-3">
                    <div class="text-center">
                        <h5 class="display-8 fw-bold m-1 cue-text-white" >Flexible</h5>
                        <div class="d-flex align-items-center justify-content-center mb-3 mx-auto ">
                            <img class="img-fluid rounded" width="180" height="180" loading="lazy" src="images/newui/cue-icon01.png" alt="cueicon01" />
                        </div>
                        <p class=" m-0 cue-text-white-subtitle" >Focuses on specific activity generation tasks,
                            making it ideal for crafting intricate scenarios.</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="text-center">
                        <h5 class="display-8 fw-bold m-1 cue-text-white"  >Reusable</h5>
                        <div class="d-flex align-items-center justify-content-center mb-3 mx-auto ">
                            <img class="img-fluid rounded" width="180" height="180" loading="lazy" src="images/newui/cue-icon02.png" alt="cueicon2" />
                        </div>

                        <p class=" m-0 cue-text-white-subtitle" >Provide activities library for customer to
                            reuse and integrate to their software/program</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="text-center">
                        <h5 class="display-8 fw-bold m-1 cue-text-white"  >Streamlined</h5>
                        <div class="d-flex align-items-center justify-content-center  mb-3 mx-auto ">
                            <img class="img-fluid rounded"  width="180" height="180"  loading="lazy" src="images/newui/cue-icon03.png" alt="cueicon3" />
                        </div>
                        <p class=" m-0 cue-text-white-subtitle" >Our pre-build user cluster’s activities can be
                            easily modified to reduce your development efforts</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="text-center">
                        <h5 class="display-8 fw-bold m-1 cue-text-white">Easy to use</h5>
                        <div class="d-flex align-items-center justify-content-center mb-3 mx-auto ">
                            <img class="img-fluid rounded" width="180" height="180"  loading="lazy" src="images/newui/cue-icon04.png" alt="cueicon4" />
                        </div>
                        <p class=" m-0 cue-text-white-subtitle" >A user-friendly website host and API for effortlessly monitoring
                            the task states and controlling each activity</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>

<!--[if lt IE 9]> -->
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<!-- <script type="text/javascript" src="../static/js/respond.min.js"></script>-->
<!-- <![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<!--<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/wow.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/mousescroll.js"></script>-->
<!--<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>-->
<!--<script type="text/javascript" src="../static/js/lightbox.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/main.js"></script>-->
<!--<script type="text/javascript" src="../static/js/waypoints.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>-->
<!--<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>-->
</body>
</html>

