<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Dashboard</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <!-- for importing the navigation template -->
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="container">
            <div class="row">
                <p>&nbsp;</p>
                <h1 class="dashhead">Dashboard</h1>
                <!--<div class="panel panel-primary dashpanel">-->
                        <!--<h2 class="team-heading team-heading-current-team" >Overview</h2>-->
                <div class="alert alert-danger">
                    <strong>News: </strong>We hold regular scheduled maintenance on <strong>every first Sunday of the month, 0700 to 1900 (Singapore Time, UTC/GMT+8)</strong> for updating new features. We thank you for the understanding.
                </div>
                <div class="panel panel-primary dashpanel">
                    <div class="alert alert-warning">
                        <strong>Info!</strong> Use your username: <strong><span th:text="${deterUid}"></span></strong> to access the experiments' nodes.
                    </div>
                    <div class="alert alert-warning">
                        <strong>Reservation: </strong>To ensure that you always have the resources you need, you may like to make reservation ahead of time, please fill up the <a href="#" th:href="@{/OrderForm_v1/download}">Reservation Form</a>.
                    </div>
                        <!--<h2 class="team-heading team-heading-current-team" >Overview</h2>-->
                    <div class="panel-body">
                        <a th:href="@{/teams}">
                            <div class="col-sm-5 dashpanel_teams pull-left">
                                <p class="dashboard_stats" th:text="${userDashboardMap.get('teams')}">ConnectionError</p>
                                <h2>Teams</h2>
                            </div>
                        </a>
                        <a th:href="@{/experiments}">
                            <div class="col-sm-5 dashpanel_experiments pull-right">
                                <p class="dashboard_stats" th:text="${userDashboardMap.get('runningExperiments')}">ConnectionError</p>
                                <h2>Running Experiments</h2>
                            </div>
                        </a>
                    </div> <!-- panel body -->
                </div> <!-- panel -->

                <!--  team resource usage -->
                <div class="panel panel-primary dashpanel">
                    <h2 class="team-heading team-heading-current-team">Resource Usage Information (Current Month)</h2>
                    <div class="panel-body">
                        <div th:if="${#lists.isEmpty(usageInfoList)}">
                            <p> You are not in any teams yet. </p>
                        </div>
                        <table class="table table-responsive" th:if="not ${#lists.isEmpty(usageInfoList)}">
                            <thead>
                            <th th:text="#{team.table.header.team}">Team</th>
                            <th th:text="#{team.table.header.usage}">Usage (Node x Hour)</th>
                            </thead>
                            <tr th:each="usageInfo : ${usageInfoList}">
                                <td th:text="${usageInfo.name}">Team</td>
                                <td th:text="${usageInfo.usage}">Usage</td>
                            </tr>
                        </table>
                    </div> <!-- panel body -->
                </div> <!-- panel -->

                <!--  total/free nodes information -->
                <!--<div class="panel panel-primary dashpanel">
                    <h2 class="team-heading team-heading-current-team">Nodes Availability</h2>
                    <div class="panel-body">
                        <p>Free nodes: <span th:text="${userDashboardMap.get('freeNodes')}">ConnectionError</span></p>
                    </div>
                </div> -->
                <!-- panel -->
            </div>
            <div class="cc-wraper">
                <div class="cc-contactpop fixed">
                    <h1>Do you need Help? <span>Get in touch.</span></h1>
                    <div class="renseignement">
                        <i class="fa fa-times"></i>
                        <p>We will get back to you as soon as possible. </p>
                    </div>
                    <form>
                        <ul>
                            <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                            <li><i class=""></i><span>Email:</span><a href="mailto:support@ncl.sg"> support@ncl.sg</a></li>
                            <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </form>
                </div>
            </div>
        </div> <!-- container -->

        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>