<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Dashboard</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <!-- for importing the navigation template -->
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
                <p>&nbsp;</p>
                <h1 class="dashhead">Dashboard</h1>
                <p>&nbsp;</p>
                <div class="panel panel-primary dashpanel">
                    <div class="panel-heading">
                        <h3 class="over1">Overview</h3>
                    </div> <!-- panel heading -->
                    <div class="panel-body">
                        <div class="row dashpanel2">
                            <div class="col-sm-4">
                                <h4>Team</h4>
                                <p>99</p>
                            </div> <!-- col -->
                            <div class="col-sm-4">
                                <h4>Experiments</h4>
                                <p>999</p>
                            </div> <!-- col -->
                            <div class="col-sm-4">
                                <h4>Total Running Time</h4>
                                <p>999 hours</p>
                            </div> <!-- col -->
                        </div>
                        <div class="row dashpanel2">
                            <div class="col-sm-4">
                                <h4>Team</h4>
                                <p>99</p>
                            </div> <!-- col -->
                            <div class="col-sm-4">
                                <h4>Experiments</h4>
                                <p>999</p>
                            </div> <!-- col -->
                            <div class="col-sm-4">
                                <h4>Total Running Time</h4>
                                <p>999 hours</p>
                            </div> <!-- col -->
                        </div>
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div>
        </div> <!-- container -->
        <div th:replace="fragments/footer_fixed :: footer-fixed"></div>
    </body>
</html>