<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Contribute data</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="container">

            <p>&nbsp;</p>
            <div class="row dashpanel">
                <div class="alert alert-danger" th:if="${message}">
                    <h4 th:utext="${message}"></h4>
                </div>
                <form  method="post" action="#" th:action="${dataset.id == null ? '/data/contribute' : '/data/contribute/' + dataset.id}" th:object="${dataset}" role="form">
                    <fieldset>
                        <h2 class="team-heading team-heading-current-team" th:text="#{admin.contributeData.header}">Contribute Dataset</h2>
                        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
                            <input type="text" class="form-control" placeholder="Enter Dataset Name" th:field="*{name}"  th:readonly="${dataset.id != null}"/>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
                            <!-- input type="text" class="form-control" placeholder="Enter Dataset Description" th:field="*{description}"/ -->
                            <textarea class="form-control" rows="5" placeholder="Enter Dataset Name" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" th:field="*{visibility}" th:value="PUBLIC"/><strong><span th:text="#{admin.contributeData.public}">Public</span></strong> <em><span th:text="#{admin.contributeData.publicDesc}">Dataset info will be shown on "Public Datasets" page.</span></em></label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" th:field="*{visibility}" th:value="PROTECTED"/><strong><span th:text="#{admin.contributeData.protected}">Protected</span></strong> <em><span th:text="#{admin.contributeData.protectedDesc}">Only logged in users can view this dataset info.</span></em></label>
                            </div>
                            <!-- div class="radio">
                                <label><input type="radio" th:field="*{visibility}" th:value="PRIVATE"/><strong><span th:text="#{admin.contributeData.private}">Private</span></strong> <em><span th:text="#{admin.contributeData.privateDesc}">The dataset is private.</span></em></label>
                            </div -->
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{accessibility}" th:value="RESTRICTED"/><strong><span th:text="#{admin.contributeData.auth}">Require Authorization?</span></strong></label>
                                <p>
                                	<em><span th:text="#{admin.contributeData.authDesc1}">(Optional) Select it if you want to review every access request to this dataset.</span>
                                	<br/><!-- span th:text="#{admin.contributeData.authDesc2}">Otherwise, users can just download your dataset without your authorization</span --></em>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-standard">Save</button>
                            <button type="button" class="btn btn-danger" th:if="*{id != null}"
                                    data-toggle="modal" data-target="#deleteModal"
                                    th:attr="data-name=*{name},
							            data-desc=*{description},
                                        data-owner=*{contributor.firstName + ' ' + contributor.lastName},
                                	    data-release=${dataset.getReleasedDateString()},
                                        data-visible=${#strings.capitalize(#strings.toLowerCase(dataset.visibility))},
                                        data-access=${#strings.capitalize(#strings.toLowerCase(dataset.accessibility))},
                                        data-delete=@{/data/remove/{id}(id=*{id})}">Delete</button>
                            <input type="hidden" th:field="*{contributorId}" th:if="*{id != null}"/>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
            <div class="cc-wraper">
                <div class="cc-contactpop fixed">
                    <h1>Do you need Help? <span>Get in touch.</span></h1>
                    <div class="renseignement">
                        <i class="fa fa-times"></i>
                        <p>We will get back to you as soon as possible. </p>
                    </div>
                    <form>
                        <ul>
                            <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                            <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                            <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </form>
                </div>
            </div>
        </div> <!-- container -->

        <!-- Confirm Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteLabel">Delete?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">Description:</div>
                            <div class="col-md-8" id="datasetDesc"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Owner:</div>
                            <div class="col-md-8" id="datasetOwner"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Release:</div>
                            <div class="col-md-8" id="datasetRelease"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Visibility:</div>
                            <div class="col-md-8" id="datasetVisible"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Accessibility:</div>
                            <div class="col-md-8" id="datasetAccess"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a href="#" class="btn btn-primary" id="deleteButton">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>