<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Public Datasets</title>
    <object th:include="fragments/header :: header" th:remove="tag"/>
</head>
<body class="mybg loginbackground">
    <th:block th:if="${session.id == null}">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <p>&nbsp;</p>
    </th:block>
    <th:block th:if="${session.id != null}">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
        <p>&nbsp;</p>
    </th:block>
    <div class="container">
        <p>&nbsp;</p>
        <div class="row dashpanel">
            <h2 class="team-heading team-heading-current-team" th:text="#{dataset.public.header}">Public Datasets</h2>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>
                        <span th:text="#{data.header.name}">Name</span>
                        <a href="#" class="data-name-tooltip"><i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">
                                <p th:text="#{dataset.user.tooltip.name}">Dataset Name</p>
                            </span>
                        </a>
                    </th>
                    <th>
                        <span th:text="#{data.header.owner}">Owner</span>
                        <a href="#" class="data-name-tooltip"><i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">
                                <p th:text="#{dataset.user.tooltip.owner}">The owner of the dataset</p>
                            </span>
                        </a>
                    </th>
                    <th>
                        <span th:text="#{data.header.releaseDate}">Release Date</span>
                        <a href="#" class="data-name-tooltip"><i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">
                                <p th:text="#{dataset.user.tooltip.date}">The date when the dataset is made</p>
                            </span>
                        </a>
                    </th>
                    <th>
                        <span th:text="#{data.header.access}">Access</span>
                        <a href="#" class="data-name-tooltip"><i class="fa fa-question-circle"></i>
                            <span class="tooltiptext">
                                <p th:text="#{dataset.user.tooltip.access}">User granted access can download</p>
                            </span>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="publicDataEntry : ${publicDataMap}" th:if="${publicDataEntry.value.isPublic()}">
                    <td><a th:href="@{'/data/public/' + ${publicDataEntry.value.id}}" th:text="${publicDataEntry.value.name}">Name</a></td>
                    <td th:text="${publicDataEntry.value.contributor.firstName + ' ' + publicDataEntry.value.contributor.lastName}">Owner</td>
                    <td th:text="${publicDataEntry.value.getReleasedDateString()}">Release Date</td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(publicDataEntry.value.accessibility))}">Access</td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <h2 class="team-heading team-heading-current-team" th:text="#{dataset.public.external.header}">External Data Access</h2>
            <a href="https://www.impactcybertrust.org/" th:text="#{dataset.public.external.clickHere}">Click here to access external data (e.g. US side)</a>
            <p>&nbsp;</p>
            <h2 class="team-heading team-heading-current-team" th:text="#{dataset.public.interest.header}">Register Your Data Interests</h2>
            If you are looking for any specific datasets, you can register your interests
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdm4KQ_v_hOp_DB7m9Y1LHZIzDanvneAxabAVFOqGpdxijWlQ/viewform">here</a>
            and NCL might be able to help in getting the data. For any inquiries, please contact <a href="mailto:support@ncl.sg">NCL Support</a>.
        </div>
    </div> <!-- container -->
    <div th:replace="fragments/footer :: footer"></div>
    <object th:include="fragments/javascript :: javascript" th:remove="tag"/>
</body>
</html>