<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Data Public</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <p>&nbsp;</p>
            <div class="row dashpanel">
                <h2 class="team-heading team-heading-current-team" th:text="#{dataset.public.header}">Public datasets</h2>
                <table class="table table-responsive">
                    <thead>
                        <th th:text="#{data.header.name}">Name</th>
                        <th th:text="#{data.header.owner}">Owner</th>
                        <th th:text="#{data.header.releaseDate}">Release Date</th>
                        <th th:text="#{data.header.access}">Access</th>
                        <th><!-- Actions --></th>
                    </thead>
                    <tr th:each="publicDataEntry : ${publicDataMap}" th:if="${publicDataEntry.value.isPublic == 'public' }">
                        <td th:text="${publicDataEntry.value.datasetName}">Name</td>
                        <td th:text="${userManager.getNameByUserId(publicDataEntry.value.ownerId)}">Owner</td>
                        <td th:text="${publicDataEntry.value.releaseDate}">Release Date</td>
                        <td th:if="${publicDataEntry.value.requireAuthorization}" th:text="Restricted">Access</td>
                        <td th:if="not ${publicDataEntry.value.requireAuthorization}" th:text="Open">Access</td>
                        <!-- download or request for access -->
                        <td th:if="${publicDataEntry.value.requireAuthorization}"><a href="#" th:href="@{/data/public/request_access/{dataOwnerId}(dataOwnerId=${publicDataEntry.value.ownerId})}" class="btn btn-standard">Request Access</a></td>
						<td th:if="not ${publicDataEntry.value.requireAuthorization}"><a href="#" class="btn btn-standard">Download</a></td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <h2 class="team-heading team-heading-current-team" th:text="#{dataset.public.external.header}">External Data Access</h2>
            	<a href="#" th:text="#{dataset.public.external.clickHere}">Click here to access external data (e.g. US side)</a>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>