<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Login</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
            	<h2 th:text="#{dataset.request.sent}">Your requested has been submit.</h2>
                <p th:text="#{dataset.request.info}">We have forwarded your request to the data’s owner for review.</p>
                <p>Please contact the <strong>Data Owner: </strong>&lt;<span th:text="${ownerName}">Data Owner</span>&gt; <strong>Email: </strong>&lt;<span th:text="${ownerEmail}">team-owner@email</span>&gt; for any issues.</p>
            </div> <!-- row -->
        </div> <!-- container -->
    </body>
</html>