<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Resources</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
	<body class="mybg loginbackground">
		<div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<div class="container ">

			<p>&nbsp;</p>
			<div class="row dashpanel">
				<div th:if="${message}">
					<p><i class="fa fa-exclamation-circle btn-fa-red"></i> <span class="account-change-fail" th:text="${message}"></span></p>
				</div>
				<table class="table table-responsive">
					<tr>
						<th width="20%">ID</th>
						<th width="40%">URI</th>
						<th width="20%">Is_Malicious</th>
						<th width="20%">Is_Scanned</th>
					</tr>
					<tr>
						<td th:text="${dataresource.id}">ID</td>
						<td><span th:text="${dataresource.uri}" class="data-resource-name-wrap">URI</span></td>
						<td th:text="${dataresource.malicious}">Malicious</td>
						<td th:text="${dataresource.scanned}">Scanned</td>
					</tr>
				</table>
				<form method="post" action="#" th:action="@{/data/{did}/resources/{rid}/edit(did=${did},rid=${dataresource.id})}" th:object="${dataresource}" role="form">
					<p><strong>ID</strong></p>
					<input type="text" class="form-control" th:field="*{id}" readonly="readonly"/>
					<p><strong>URI</strong></p>
					<input type="text" class="form-control" th:field="*{uri}"/>
					<p><strong>Malicious</strong></p>
					<input type="text" class="form-control" th:field="*{malicious}"/>
					<p><strong>Scanned</strong></p>
					<input type="text" class="form-control" th:field="*{scanned}"/>
					<button type="submit" class="btn btn-standard">Edit</button>
				</form>
			</div> <!-- row -->
			<div class="cc-wraper">
				<div class="cc-contactpop fixed">
					<h1>Do you need Help? <span>Get in touch.</span></h1>
					<div class="renseignement">
						<i class="fa fa-times"></i>
						<p>We will get back to you as soon as possible. </p>
					</div>
					<form>
						<ul>
							<li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
							<li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
							<li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
						</ul>
						<p>&nbsp;</p>
					</form>
				</div>
			</div>
		</div> <!-- container -->

		<div th:replace="fragments/footer :: footer"></div>
		<object th:include="fragments/javascript :: javascript" th:remove="tag" />
	</body>
</html>