<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Edit Data</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="container">

            <p>&nbsp;</p>
            <div class="row dashpanel">
                <form  method="post" action="#" th:action="@{/data/edit/{datasetId}(datasetId=${editDataset.datasetId})}" th:object="${editDataset}" role="form">
                    <fieldset>
                        <h2 th:text="#{dataset.edit.header}">Edit Info</h2>
                        <div class="form-group">
                            <label for="name" th:text="#{dataset.edit.name}">Dataset Name:</label>
                            <input type="text" class="form-control" th:field="*{datasetName}" />
                            <span class="account-change-success" th:if="${editName eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{dataset.edit.nameSuccess}">Name change success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="name" th:text="#{dataset.edit.desc}">Description:</label>
                            <input type="text" class="form-control" th:field="*{datasetDescription}" />
                            <span class="account-change-success" th:if="${editDesc eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{dataset.edit.descSuccess}">Description change success.</span></span>
                        </div>
                        <div class="form-group">
                            <label for="license"><span th:text="#{admin.contributeData.license}">Preselected License List:</span> 
	                        	<a href="#" class="license-tooltip"><i class="fa fa-question-circle"></i>
	                        		<span class="tooltiptext">
	                        			<ul>
	                        				<li>
	                        					<span th:text="#{admin.contributeData.gplDesc}">The GPL License is a copyleft license, which guarantees end users (individuals, organizations, companies) the freedoms to run, study, share (copy), and modify the software.</span>
	                        				</li>
	                        				<li>
	                        					<span th:text="#{admin.contributeData.mitDesc}">The MIT License is a permissive free software license, meaning that it puts only very limited restriction on reuse and has therefore an excellent license compatibility.</span>
	                        				</li>
	                        				<li>
	                        					<span th:text="#{admin.contributeData.bsdDesc}">The BSD license is a class of extremely simple and very liberal licenses for computer software, imposing minimal restrictions on the redistribution of covered software.</span>
	                        				</li>
	                        			</ul>
	                        		</span>
	                        	</a>
                            </label>
                            <select class="form-control" th:field="*{license}">
                                <option value="gpl"><span th:text="#{admin.contributeData.licenseOption1}">GPL</span></option>
                                <option value="mit"><span th:text="#{admin.contributeData.licenseOption2}">MIT</span></option>
                                <option value="bsd"><span th:text="#{admin.contributeData.licenseOption3}">BSD</span></option>
                            </select>
                            <span class="account-change-success" th:if="${editLicense eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{dataset.edit.licenseSuccess}">License change success.</span></span>
                        </div>
                        <div class="form-group">
                            <div class="radio">
                                <label><input type="radio" th:field="*{isPublic}" th:value="public"/><strong><span th:text="#{admin.contributeData.public}">Public</span></strong> <em><span th:text="#{admin.contributeData.publicDesc}">Anyone can view the dataset.</span></em></label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" th:field="*{isPublic}" th:value="private"/><strong><span th:text="#{admin.contributeData.private}">Private</span></strong> <em><span th:text="#{admin.contributeData.privateDesc}">The dataset is private.</span></em></label>
                            </div>
                            <span class="account-change-success" th:if="${editPublic eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{dataset.edit.visibilitySuccess}">Visibility change success.</span></span>
                        </div>
                        <div class="form-group">
                        	<span class="account-change-success" th:if="${editIsRequiredAuthorization eq 'success'}"><i class="fa fa-check"></i> <span th:text="#{dataset.edit.authSuccess}">Require authorization change success.</span></span>
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{requireAuthorization}"/> <strong><span th:text="#{admin.contributeData.auth}">Require Authorization?</span></strong></label>
                                <p>
                                	<em><span th:text="#{admin.contributeData.authDesc1}">(Optional) Checked it if you wish other users to require your permission before downloading the dataset.</span>
                                	<br/><span th:text="#{admin.contributeData.authDesc2}">Otherwise, users can just download your dataset without you authorization</span></em>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <a href="#" th:href="@{/data}" class="btn btn-danger">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
            <div class="cc-wraper">
                <div class="cc-contactpop fixed">
                    <h1>Do you need Help? <span>Get in touch.</span></h1>
                    <div class="renseignement">
                        <i class="fa fa-times"></i>
                        <p>We will get back to you as soon as possible. </p>
                    </div>
                    <form>
                        <ul>
                            <li><i class="fa fa-phone"></i> <span> Phone: </span>+65 6601 1056</li>
                            <li><i class="fa fa-email"></i><span>Email:</span><a href="mailto:support@ncl.sg"> support@ncl.sg</a></li>
                            <li><i class="fa fa-map-marker"></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </form>
                </div>
            </div>
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>