<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Email Validated</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body class="mybg loginbackground">
<div th:replace="fragments/login_navigation :: loginnav"></div>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3> Your email has been verified.</h3>
            <p> Your email <strong><span th:text="*{emailAddress}">abc@example.com</span></strong> has been verified.</p>
            <p> Please wait for your application to be processed.</p>
            <p> If your application is still pending after 5 business days, please contact us at <a th:href="#{support.email.link}" th:text="#{support.email}"></a></p>
        </div> <!-- col -->
        <div class="col-md-1"></div>
    </div> <!-- row -->
</div> <!-- container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>