<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Email not Validated</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3 th:text="#{email.notVlaidated.header}">Your email has not been validated.</h3>
                    <p>Your email <strong><span th:text="*{emailAddress}">abc@example.com</span></strong> has not been validated.</p>
                    <p>Please check your email for a verification link. You may need to check your spam folder or unblock <a href="mailto:no-reply@ncl.sg">no-reply@ncl.sg</a>.</p>
                    <p>If you did not receive a validation email, please click <a href="#">#here</a> to resend the email verification.</p>
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer_fixed :: footer-fixed"></div>
    </body>
</html>