<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Event</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
<body>

<!-- main nav -->
<div class="main-nav navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="index.html" th:href="@{/}"><img src="images/ncl_favicon1.png" alt="logo" width="53" height="53" class="logo1" /></a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div> <!-- navbar-header -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-left login-navbar-left">
				<li class="scroll"><a href="about.html">About</a></li>
				<li class="scroll"><a href="event.html">Events</a></li>
				<li class="scroll"><a href="plan.html">Features</a></li>
				<li class="scroll"><a href="pricing.html">Pricing</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Support
						<span class="caret"></span></a>
					<ul class="dropdown-menu ">
						<li><a href="http://ncl.sg/docs-ncl/">Tutorial</a></li>
						<li><a href="resources.html">Resources</a></li>
					</ul>
				</li>
				<li class="scroll"><a href="contactus.html">Contact Us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right login-navbar-right">
				<li><a href="#" th:href="@{/signup2}">Create account</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right login-navbar-right1">
				<li><a href="#" th:href="@{/login}">Log In</a></li>
			</ul>
		</div> <!-- navigation links -->
	</div>
</div> <!-- main-nav -->
    
    	<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>

    	<div class="container">
    			<div class="row">
    				<div class="heading text-center col-sm-8 col-sm-offset-2">
    					 <div class="h15">
    					   <p>Events</p>
    					 </div>
    					<p>&nbsp;</p>
    				</div>
    			</div> <!-- row -->
			<div id="portfolioSlider">
				<ul class="slides">
					<li>
						<div class="col-md-4 wp4">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img class="img-responsive" src="images/blog/4.png" width="720" height="400" alt=""/>
								</div>
							</div>
							<h3 class="news-header">Visit by Director DHS (S&amp;T)</h3><p>&nbsp;</p>
							<p>On the 5th of May, 2016, Dr Douglas Maughan, Director of the Department of Homeland Security (Science&amp;Technology Division) visited NCL. He was given a brief introduction on NCL and NUS School of Computing, including our research focus and capabilities, facilities, and collaborations with other government agencies, industry and academia, as well as our collaboration with ISI.</p>
						</div>
						<div class="col-md-4 wp4">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img class="img-responsive" src="images/blog/3.png" alt=""/>
								</div>
							</div>
							<h3 class="news-header">Arrival of new server</h3><p>&nbsp;</p>
							<p>Our newly purchased servers have arrived on 20 April 2016. 100 machines will be up and running by the end of April 2016.</p>
						</div>
						<div class="col-md-4 wp4 ">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img class="img-responsive" src="images/blog/2.png" alt=""/>
								</div>
							</div>
							<h3 class="news-header">NCL opening workshop 15 April 2016</h3><p>&nbsp;</p>
							<p>NCL held it's first mini-workshop to allow internal stakeholders and supporting staff from the Information Technology Unit&amp;Research Office to have a better understanding of NCL and it's activities.</p>
						</div>
					</li>
					<li>
						<div class="col-md-4 wp4">
							<div class="overlay-effect effects clearfix">
								<div class="img">
									<img class="img-responsive" src="images/blog/1.png" alt=""/>
								</div>
							</div>
							<h3 class="news-header">National Cybersecurity R&amp;D Laboratory at NUS School of Computing to be ready by end-2016</h3>
							<p>The National Cybersecurity R&amp;D Laboratory, which will be set up by the security research group at the NUS School of Computing, will be operational by the end of this year. The new laboratory will be a shared national research infrastructure which can be used by the local research community and industry for the validation of research outcomes, for collaborative work with industry or international partners, and to curate useful datasets for cybersecurity experiments.</p>
							<p><a href="http://news.nus.edu.sg/images/resources/news/2016/2016-01/2016-01-14/LABORATORY-stonline-14jan.pdf">Read More...</a></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
<p>&nbsp;</p>
<div th:replace="fragments/footer :: footer"></div>

    </body>
</html>