<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
  <title>Features</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
  <link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
  <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content" >
  <section id="team">
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="container" style="background-image: url('images/publication_back1.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
          <!--<h1><b><font color="#0d6dba">Environments and Services</font></b></h1>-->
          <h1><b><font color="#0d6dba"> NCL Testbed Features</font></b></h1>
          <p></p>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-4">
          <p></p>
          <p></p>
          <img src="images/data-center4.jpg" width="300" height="250" border="0" align="left" />
        </div>
      <!--  <h3 class="news-header">Infrastructure with 200+ nodes,GPU's and High end servers</h3>-->
        <div class="col-sm-8">
          <h3 class="news-header">Infrastructure with 200+ nodes,GPU's and High end servers</h3>
          <div class="row">
            <ul>
              <li><p>NCL facilitates in faster research by providing necessary infrastructure,environments and resources to conduct the experiments in the cloud.</p></li>
              <li><p>We provide compute cluster of 200+ nodes,GPU's and High end servers on demand.</p></li>
              <li><p><a href="TestbedInformation.html" th:href="@{~/testbedInformation}">Click here for more information on nodes</a></p></li>
              <li><p><a href="../pricing.html" th:href="@{~/pricing}">Click here for information on nodes reservation and pricing</a></p></li>
          </ul>
          </div>
        </div>
      </div>  <!-- part 1 ends-->

      <div class="col-sm-12">
        <div class="col-sm-4">
          <p></p>
          <p></p>
          <p></p>
          <img src="images/cloud-computing9.jpg" alt="" width="300"  height="250" border="0" align="left" />
        </div>
       <!-- <h3 class="news-header">Virtual networks and vulnerable environments in different domains for cybersecurity experimentation and testing</h3>-->
        <div class="col-sm-8">
          <h3 class="news-header">Virtual networks and vulnerable environments in different domains for cybersecurity experimentation and testing</h3>
          <div class="row">
            <ul>
              <li><p>Expedite R&amp;D,translation &amp; delivery of new solutions by saving time on tedious experiment setups.</p></li>
              <li><p>We provide a set of virtual networks,vulnerability environments(50+ CVE’s).</p></li>
              <li><p>Hard to simulate and controlled environments with common components supporting wide range of activities.</p></li>
              <li><p>From replicating an experiment to reusing a particular network topology,it can be easily done on NCL testbed.</p></li>
            </ul>
          </div>
        </div>

      </div>  <!-- part 2 ends-->

      <div class="col-sm-12">
        <div class="col-sm-4">
          <p></p>
          <img src="images/cybersecurity1.png" width="300" height="250" border="0" align="left" />
        </div>
       <!-- <h3 class="news-header">Security</h3>-->
        <div class="col-sm-8">
          <h3 class="news-header">Security</h3>
          <div class="row">
            <ul>
              <li><p>As a cybersecurity lab, security is of our utmost concern.</p></li>
              <li><p>Conduct your experiments in a secure and controlled environment.</p></li>
              <li><p>All experiment sessions are encrypted and carried out in a contained environment.</p></li>
              <li><p>All experiments are isolated and separated from other experiments,as well as the internet.</p></li>
            </ul>
          </div>
        </div>
      </div>  <!-- part 3 ends-->


      <div class="col-sm-12">
        <div class="col-sm-4">
          <p></p><p></p>
           <img src="images/cloud_computing3.jpg" width="300" height="250" border="0" align="left" />
        </div>
       <!-- <h3 class="news-header">Data and Data Repository</h3>-->
        <div class="col-sm-8">
          <h3 class="news-header">Data and Data Repository</h3>
          <div class="row">
            <ul>
              <li><p>Browse,search and contribute to our collection of datasets contributed by other researchers like you.</p></li>
              <li><p>With datasets ranging from internet traffic data to mobile app data,find and use the one most suitable for you and validate your research.</p></li>
            </ul>
<!--            <p>-Browse,search and contribute to our collection of datasets contributed by other researchers like you.</p>
            <p>-With datasets ranging from internet traffic data to mobile app data,find and use the one most suitable for you and validate your research.</p>
         --> </div>
        </div>
      </div>  <!-- part 4 ends-->
    </div>
  </section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>