<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>

    <link rel="stylesheet" type="text/css" href="../static/css/newui/global.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/nav.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/carousel.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/aboutus.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/wwd.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/team.css" />
</head>

<!-- Static Content -->
<body onload="loadStaticPage('index','Home/index.txt')">
<div layout:fragment="content" id="index"></div>

<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/nav.js" ></script>
<script src="https://unpkg.com/scrollreveal" ></script>

</body>
</html>



