<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>Services and Tools</title>
    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

    <link rel="shortcut icon" href="images/newui/ncl_favicon.png"  th:href="@{~/images/newui/ncl_favicon.png}"/>


</head>

<body  layout:fragment="content" class="bg-light">
<section class="bsb-blog-5 py-2 py-md-4 py-xl-6 bg-light mt-6" style="margin-top:6.0rem;" >
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 mt-4">
                <h2 class="display-8 mt-4 mb-3 mb-md-4 text-center infraserver-title ">Infra Server Information</h2>
                <hr class="w-50 mx-auto  border-dark-subtle line" />
            </div>
        </div>
    </div>


</section>
<!--<section class="bg-light">-->
<div data-spy="scroll" data-target=".scrollspy" class="bg-light mt-4" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 scrollspy">
                <ul id="nav" class="flex-column nav-infra"  >
                    <li data-target="#gpu"><a href="#gpu" >GPU Specification</a></li>
                    <li data-target="#nodespec"><a href="#nodespec"  >Node Specification</a></li>
                    <li data-target="#openstack"><a href="#openstack"  >Openstack Provisioning System</a></li>
                    <li data-target="#scioy"><a href="#scioy" >SCIOY Network</a></li>
                    <li data-target="#comarch" style="margin-bottom:20px">
                        <a href="#comarch" >Customized Computing Architecture</a></li>
                </ul>
            </div>

            <div class="col-md-9 "  >
                <section id="gpu" >
                    <div class="card widget-card border-light shadow-sm " >
                        <div class="card-header bg-transparent p-4 border-light-subtle">
                            <h5 class="card-title widget-card-title m-0 infra-item-card-title" >GPU Specification</h5>
                            <br/>
                            <h5 class="card-title widget-card-title m-0 infra-item-card-subtitle" >NCL currently owns 7 types of GPU Servers:</h5>
                        </div>
                        <div class="card-body p-4">
                            <div class="accordion accordion-flush" id="accordionGUP">

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-gupOne"
                                                aria-expanded="false" aria-controls="flush-gupOne"
                                        >
                                            1.NVIDIA Ampere A100 with 2 GPU Card - Dell PowerEdge R750
                                        </button>
                                    </h2>
                                    <div id="flush-gupOne" class="accordion-collapse collapse" data-bs-parent="#accordionGUP">
                                        <div class="accordion-body">
                                            <ul class="gup-li" >
                                                <li >CPU: (1) Intel Xeon Silver 4310 2.1G (12 Cores / 24 Threads | 10.4 GT/s | 18M Cache | Turbo | HT (120W) DDR4-2666</li>
                                                <li>Memory: 512 GB RDIMM</li>
                                                <li>1GbE NIC: (1) Dual port 1GBASE-T Network Adapter (4 ports, together with 2 LOM)</li>
                                                <li>10GbE NIC: (1) Dual port 10GBASE-T Network Adapter</li>
                                                <li>SSD: (1) 480GB SATA SSD Mix Use 6Gbps 512</li>
                                                <li>HDD: (5) 2.4TB 10K RPM SAS ISE 12Gbps 512e</li>
                                                <li>GPU: (2) NVIDIA Ampere A100, PCIe, 300W, 80GB Passive, Double Wide, Full Height GPU</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-gupTwo"
                                                aria-expanded="false" aria-controls="flush-gupTwo"
                                        >
                                            2.NVIDIA Ampere A100 with 1 GPU Card - Dell PowerEdge R750
                                        </button>
                                    </h2>
                                    <div id="flush-gupTwo" class="accordion-collapse collapse" data-bs-parent="#accordionGUP">
                                        <div class="accordion-body">
                                            <ul class="gup-li">
                                                <li>CPU: (1) Intel Xeon Silver 4310 2.1G (12 Cores / 24 Threads | 10.4 GT/s | 18M Cache | Turbo | HT (120W) DDR4-2666</li>
                                                <li>Memory: 512 GB RDIMM</li>
                                                <li>1GbE NIC: (1) Dual port 1GBASE-T Network Adapter (4 ports, together with 2 LOM)</li>
                                                <li>10GbE NIC: (1) Dual port 10GBASE-T Network Adapter</li>
                                                <li>SSD: (1) 480GB SATA SSD Mix Use 6Gbps 512</li>
                                                <li>HDD: (5) 2.4TB 10K RPM SAS ISE 12Gbps 512e</li>
                                                <li>GPU: (1) NVIDIA Ampere A100, PCIe, 300W, 80GB Passive, Double Wide, Full Height GPU</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-gupThree"
                                                aria-expanded="false" aria-controls="flush-gupThree"
                                        >
                                            3.NVIDIA A40 with 8 GPU Card - ASUS ESC8000A-E11 GPU server
                                        </button>
                                    </h2>
                                    <div id="flush-gupThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushGUP">
                                        <div class="accordion-body">
                                            <ul  class="gup-li">
                                                <li>CPU: (2) AMD EPYC 7543 ( 32-core / 2.80GHz / 256MB L3 / 225W / DDR4-3200</li>
                                                <li>Memory: 512 GB DDR4-3200 ECC RDIMM</li>
                                                <li>Ethernet Ports: (1) 10GBASE-T Dual port adapter</li>
                                                <li>SSD: (1) 3.84TB Enterprise NVMe Gen4 SSD, U.2, powerloss protect., 1DWPD, 2M MTBF</li>
                                                <li>HDD: (1) 16TB Enterprise SATA HDD, 7.2K RPM 256MB cache, 2M MTBF</li>
                                                <li>GPU: (8) NVIDIA A40, 10752 CUDA core, 48GB GDDR6</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-gupFour"
                                                aria-expanded="false" aria-controls="flush-gupFour"
                                        >
                                            4.NVIDIA A40 with 4 GPU Card - ASUS ESC4000A-E10 GPU server
                                        </button>
                                    </h2>
                                    <div id="flush-gupFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushGUP">
                                        <div class="accordion-body">

                                            <ul  class="gup-li">
                                                <li>CPU: (1) AMD EPYC 7443P or 7443 ( 24-core / 2.85GHz / 128MB L3 / 200W / DDR4-3200</li>
                                                <li>Memory: 256 GB DDR4-3200 ECC RDIMM</li>
                                                <li>Ethernet Ports: (1) 10GBASE-T Dual port adapter</li>
                                                <li>SSD: (2) 960GB Enterprise SATA SSD, 2.5", powerloss protect., 1DWPD, 2M MTBF</li>
                                                <li>HDD: (1) 8TB Enterprise SATA HDD, 7.2K RPM 256MB cache, 2M MTBF</li>
                                                <li>GPU: (4) NVIDIA A40, 10752 CUDA core, 48GB GDDR6</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-gupFive"
                                                aria-expanded="false" aria-controls="flush-gupFive"
                                        >
                                            5.NVIDIA RTX A5000 with 4 GPU Card - ASUS ESC4000-E10 2U GPU Server
                                        </button>
                                    </h2>
                                    <div id="flush-gupFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushGUP">
                                        <div class="accordion-body">

                                            <ul  class="gup-li">
                                                <li>CPU: (2) Intel® Xeon® Silver 4310 Processor (12C, 24T, 18M Cache, 2.10GHz)</li>
                                                <li>Memory: 256GB DDR4-3200 ECC RDIMM</li>
                                                <li>1GbE NIC: Ethernet Ports: 2x 1Gb Ports (2x Gb on-board)</li>
                                                <li>10GbE NIC: 2-Port 10G Base-T NIC</li>
                                                <li>SSD: (2) 960GB SSD SATA</li>
                                                <li>HDD: (1) 8TB Enterprise SATA HDD, 7.2k RPM 256MB cache</li>
                                                <li>GPU: (4) NVIDIA RTX A5000 24GB GDDR6 8192 Cuda Core GPU</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-gupSix"
                                                aria-expanded="false" aria-controls="flush-gupSix"
                                        >
                                            6.NVIDIA RTX A5000 with 4 GPU Card - ASUS ESC4000-E10 2U GPU Server
                                        </button>
                                    </h2>
                                    <div id="flush-gupSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushGUP">
                                        <div class="accordion-body">
                                            <ul  class="gup-li">
                                                <li>CPU: (2) Intel Xeon E5-2620v4 ** 8 cores / 2.10 GHz / 20MB L3 / 85W / 2133Mhz</li>
                                                <li>Memory: 256GB DDR4-2400 ECC RDIMM</li>
                                                <li>1GbE NIC: (1) Dual port 1GBASE-T Network Adapter (4 ports, together with 2 LOM)</li>
                                                <li>10GbE NIC: (1) Dual port 10GBASE-T Network Adapter</li>
                                                <li>SSD: (1) 480GB Enterprise SATA SSD (Samsung PM863a), high endurance, 2M MTBF</li>
                                                <li>HDD: (1) 8TB Enterprise SATA HDD, 7.2k RPM 256MB cache, 2.5M MTBF</li>
                                                <li>GPU: (2) NVIDIA Tesla V100 16GB HBM2 / Tesla P100 12GB HBM2</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#flush-gupSeven"
                                                aria-expanded="false" aria-controls="flush-gupSeven"
                                        >
                                            7.NVIDIA Tesla P100 - Huawei RH2288 V3
                                        </button>
                                    </h2>

                                    <div id="flush-gupSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushGUP">
                                        <div class="accordion-body">
                                            <ul  class="gup-li">
                                                <li>CPU: (2) Intel Xeon E5-2620v4, (8C, 2.1G, 20MB L3, 85W, 2133Mhz)</li>
                                                <li>Memory: 256GB DDR4-2400 ECC RDIMM</li>
                                                <li>1GbE NIC: Ethernet Ports: 4x 1Gb Ports (1 Dual port GbE NIC + 2x Gb on-board)</li>
                                                <li>SSD: (1) 480GB SSD SATA</li>
                                                <li>HDD: (1) 8TB Enterprise SATA HDD, 7.2k RPM 256MB cache</li>
                                                <li>GPU: (2) NVIDIA Tesla P100, 12G HBM2 x2pcs</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <button type="button" class="btn btn-primary justify-end" style="margin-top:20px;">Learn More</button>-->
                            <div class="d-flex justify-content-end" style="margin-top: 20px; margin-right:30px;">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="nodespec" class=" mb-4 mt-3 ">
                    <div class="card widget-card border-light shadow-sm" >
                        <div class="card-header bg-transparent p-4 border-light-subtle">
                            <h5 class="card-title widget-card-title m-0 infra-item-card-title">Node Specification</h5>
                        </div>
                        <div class="card-body p-4">
                            <div class="accordion accordion-flush" id="accordionFlushNodeSpec">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed infra-item-card-subtitle" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#flush-nodespecOne"
                                                aria-expanded="false" aria-controls="flush-nodespecOne">
                                            Below are an example of the specification of each node in different category:
                                        </button>
                                    </h2>
                                    <div id="flush-nodespecOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushNodeSpec">
                                        <div class="accordion-body" >
                                            <ul >
                                                <li style="margin-left: 0rem; list-style: none;">
                                                    <ul ><span class="fw-bold node-p" >Platinum Grade</span>
                                                        <li class="node-li" style="list-style: disc;">2x Intel Xeon Platinum Processor (56C / 112T)</li>
                                                        <li class="node-li" style="list-style: disc;">1 TB RAM</li>
                                                    </ul>
                                                </li>
                                                <li style="margin-left: 0rem;list-style: none;">
                                                    <ul ><span class="fw-bold node-p" >Gold Grade</span>
                                                        <li class="node-li" style="list-style: disc;">2x Intel Xeon Gold Processor (32C / 64T )</li>
                                                        <li class="node-li" style="list-style: disc;">1 TB RAM</li>
                                                    </ul>
                                                </li>
                                                <li style="margin-left: 0rem;list-style: none;">
                                                    <ul ><span class="fw-bold node-p" >Sliver Grade</span>
                                                        <li class="node-li" style="list-style: disc;">2x Intel Xeon Silver Processor (10C / 20T)</li>
                                                        <li class="node-li" style="list-style: disc;">128 GB RAM</li>
                                                    </ul>
                                                </li>
                                                <li style="margin-left: 0rem;list-style: none;">
                                                    <ul ><span class="fw-bold node-p" >Bronze Grade</span>
                                                        <li class="node-li" style="list-style: disc;">2x Intel Xeon Bronze Processor (8C / 8T )</li>
                                                        <li class="node-li" style="list-style: disc;">64 GB RAM</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>

                <section id="openstack" class=" mb-4 mt-3">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-header bg-transparent p-4 border-light-subtle">
                            <h5 class="card-title widget-card-title m-0 infra-item-card-title">Openstack Provisioning System</h5>
                        </div>
                        <div class="card-body p-4">
                            <div class="accordion accordion-flush" id="accordionFlushOpenstack">

                                <p style="margin-left:10px;"><span style="color:#003d7c;">
                                <a href="https://www.openstack.org/software/" target="_blank">Openstack</a></span> is a cloud operating system that controls large pools of compute, storage,
                                    and networking resources throughout a datacenter, all managed and provisioned
                                    through APIs with common authentication mechanisms.</p>

                                <p style="margin-left:10px;">NCL uses openstack APIs and provide interface to launch server instances,
                                    create experiments and perform available actions.</p>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed openstack-sub" type="button" data-bs-toggle="collapse" data-bs-target="#flush-openstackOne"
                                                aria-expanded="false" aria-controls="flush-openstackOne">
                                            List of Flavours supported by NCL:
                                        </button>
                                    </h2>
                                    <div id="flush-openstackOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushOpenstack">
                                        <div class="accordion-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="bg-light" >
                                                    <th class="th-value">
                                                        <p ><strong >Name</strong>
                                                        </p>
                                                    </th>
                                                    <th >
                                                        <p class="th-value"><strong>RAM (MB)</strong>
                                                        </p>
                                                    </th>
                                                    <th >
                                                        <p class="th-value"><strong>Disk (GB)</strong>
                                                        </p>
                                                    </th>
                                                    <th >
                                                        <p class="th-value"><strong>VCPUs</strong>
                                                        </p>
                                                    </th>
                                                    </thead>
                                                    <tr  >
                                                        <th class="th-value bg-light">
                                                            <strong>m1.small</strong>
                                                        </th>
                                                        <td>
                                                            <div align="center">2048</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">40</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">1</div>
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <th class="th-value bg-light">
                                                            <strong>m1.medium</strong>
                                                        </th>
                                                        <td>
                                                            <div align="center">4096</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">60</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">2</div>
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <th class="th-value bg-light">
                                                            <strong>m1.large</strong>
                                                        </th>
                                                        <td>
                                                            <div align="center">8192</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">80</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">4</div>
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <th class="th-value bg-light">
                                                            <strong>m1.xlarge</strong>
                                                        </th>
                                                        <td>
                                                            <div align="center">16384</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">120</div>
                                                        </td>
                                                        <td>
                                                            <div align="center">8</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed openstack-sub" type="button" data-bs-toggle="collapse" data-bs-target="#flush-openstackTwo"
                                                aria-expanded="false" aria-controls="flush-openstackTwo">
                                            List of Operation Systems supported by NCL:
                                        </button>
                                    </h2>
                                    <div id="flush-openstackTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushOpenstack">
                                        <div class="accordion-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead class="bg-light" >
                                                    <th class="th-value">
                                                        <p ><strong >OS</strong>
                                                        </p>
                                                    </th>
                                                    <th >
                                                        <p class="th-value"><strong>Description</strong>
                                                        </p>
                                                    </th>
                                                    </thead>
                                                    <tr  >
                                                        <th class="th-value bg-light">
                                                            <strong>Ubuntu 22.04 LTS</strong>
                                                        </th>
                                                        <td>
                                                            <div align="center">Ubuntu 22.04 LTS (Jammy Jellyfish) released builds</div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: 20px; margin-right:30px;">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>

                </section><!--end of #marketing-->

                <section id="scioy" class=" mb-4 mt-3">

                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-header bg-transparent p-4 border-light-subtle infra-card-items-title">
                            <h5 class="card-title widget-card-title m-0 infra-item-card-title">SCIOY Network</h5>
                        </div>
                        <div class="card-body p-4">
                            <div class="accordion accordion-flush" id="accordionFlushSCIY">
                                <p style="margin-left:10px;"><span style="color:#003d7c;"><a href="#">
                                Openstack</a></span> is a cloud operating system that controls large pools of compute, storage,
                                    and networking resources throughout a datacenter, all managed and provisioned
                                    through APIs with common authentication mechanisms.</p>

                                <p style="margin-left:10px;">NCL uses openstack APIs and provide interface to launch server instances,
                                    create experiments and perform available actions.</p>

                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: 20px; margin-right:30px;">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>

                </section>

                <section id="comarch" class=" mb-4 mt-3">
                    <div class="card widget-card border-light shadow-sm">
                        <div class="card-header bg-transparent p-4 border-light-subtle">
                            <h5 class="card-title widget-card-title m-0 infra-item-card-title">Customized Computing Architecture</h5>
                        </div>
                        <div class="card-body p-4">
                            <div class="accordion accordion-flush" id="accordionFlushCom">
                                <p style="margin-left:10px;">
                                    We understand that every corporate network is unique.
                                    That's why we offer the flexibility to replicate your corporate network within NCL in a customized manner.
                                    This allows you to safely test and verify your experiments.
                                </p>
                            </div>
                            <div class="d-flex justify-content-end" style="margin-top: 20px; margin-right:30px;">
                                <button type="button" class="btn btn-primary">Learn More</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div><!--end of .row-->
    </div><!--end of .container-->
</div>

</body>

</html>