<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories-Join</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <div class="container">
            <p>&nbsp;</p>
            <div class="row dashpanel">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3 th:text="#{joinTeam.awaiting.header}">Your request to join a team is awaiting approval from the team’s owner.</h3>
                    <p>Please contact &lt;Team Owner&gt;&lt;team-owner@email&gt; for any issues with your request. We are unable to help in the resolution of your application.</p>
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>