<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Team Application</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body>
<th:block th:if="${session.id == null}">
    <div th:replace="fragments/login_navigation :: loginnav"></div>
</th:block>
<th:block th:if="${session.id != null}">
    <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
</th:block>
    <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="row ">
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>Step 1 </h2>
                    <p>At the Teams page, under the section “Your teams’ saved operating system images”, pick an image that you have saved previously.</p>
                     <p>Ensure that the image is of “Ready to Use” state.</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/experiment_save_image_ready_to_use.png" src="../images/experiment_save_image_ready_to_use.png" width="500" height="325" alt="screenshot"/></div>

            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>Step 2 </h2>
                    <p>Go to Experiment page and click on “Create Experiment”. </p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/experiment_page.png" src="../images/experiment_page.png" width="500" height="455" alt="screenshot"/></div>
            </div>


            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>Step 3</h2>
                    <p>At the “Create Experiment” page, modify the “Network Configuration” to load your saved image.</p>
                    <p>For example, the saved image is named “demo”, modify the line “tb-set-node-os $node UbuntuXX...” to “tb-set-node-os $node demo”.</p>
                    <p>The newly created experiment is now configured to use the saved image, “demo”!</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/experiment_create_use_custom_image.png" src="../images/experiment_create_use_custom_image.png" width="500" height="345" alt="screenshot"/>
                </div>
                </div>
        </div>
    </div> <!-- container -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag"/>
</body>
</html>
