<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
     <title>Login</title>
     <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
     <link rel="stylesheet" type="text/css" href="../static/css/newui/loginreg.css" />
</head>
<body onload="loadStaticPage('footer', 'Home/footer.txt');">
<div layout:fragment="content" >
    <div id="login">
        <section class="bg-light py-3 py-md-5 min-vh-100 d-flex  justify-content-center align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                        <div class="card border border-light-subtle rounded-3 shadow-sm">
                            <div class="card-body p-3 p-md-4 p-xl-5">
                                <div class="text-center mb-3">
                                    <a href="#">
                                        <img src="images/newui/ncl_logo.png"  width="160" height="80" />
                                    </a>
                                </div>
                                <h2 class="fs-5 fw-bold member-text text-center mb-4">NCL Member Login</h2>
                                <form method="post" action="#" th:action="@{/login}" th:object="${loginForm}">
                                    <input type="hidden" id="hidcsrfToken" th:field="*{csrfToken}"/>
                                    <div class="row gy-2 overflow-hidden">

                                        <div class="form-group account-change-fail"
                                             th:if="${loginForm != null and loginForm.errorMsg != null}">
                                            <i class="fa fa-exclamation-circle"></i> <span
                                                th:text="${loginForm.errorMsg}"></span>
                                        </div>

                                        <div class="form-group">
                                            <input type="hidden" class="form-control" th:field="*{key}"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" th:field="*{uuid}"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" th:field="*{type}"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" th:field="*{email}"/>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="email"  class="form-control"
                                                       id="email"
                                                       th:field="*{loginEmail}"
                                                       placeholder="name@example.com"
                                                       th:required="required" ></input>
                                                <label for="email" class="form-label">Email</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating mb-3">
                                                <input type="password"  id="password" class="form-control"
                                                       th:field="*{loginPassword}"
                                                       placeholder="Password"
                                                       th:required="required" ></input>
                                                  <label for="password" class="form-label">Password</label>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-flex gap-2 justify-content-between">
                                                <a href="../password_reset_email.html"
                                                   th:href="@{~/password_reset_email}"
                                                   class="link-primary f-sup-text text-decoration-none">Forgot password?</a>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid my-3">
                                                <button class="btn login-btn btn-lg fs-6" type="submit">Sign In</button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p class="m-0 text-secondary  text-center">Don't have an account? <a href="../register.html" th:href="@{~/register}"  class="link-primary f-sup-text text-decoration-none">Sign Up</a></p>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="footer"></div>
</div>
</body>

</html>
