<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Login</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>

    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="panel panel-default registration-panel">
                        <div class="panel-heading ">
                            <h3 class="dashhead" th:text="#{login.header}">Login</h3>
                        </div> <!-- panel-heading -->

                        <div class="panel-body">
                            <!-- TODO hard code login details for now -->
                            <form method="post"  action="#" th:action="@{/login}" th:object="${loginForm}" role="form">
	                            <fieldset>
	                                <div class="form-group text-danger" th:if="${loginForm != null and loginForm.errorMsg != null}" th:text="${loginForm.errorMsg}">Invalid email/password.</div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Email" th:field="*{loginEmail}" value="johndoe@nus.edu.sg"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="password" class="form-control" placeholder="Password" th:field="*{loginPassword}" value="password"/>
	                                </div>
	                                <div class="form-group">

	                                        <input type="checkbox" name=""/> Remember me
	                                   
	                                </div>
	                                <div class="form-group">
	                                    <button type="submit" class="btn btn-standard">Sign in</button>
	                                </div>
	                                <div class="form-group">
	                                    <p><a href="passwordreset" th:href="@{/passwordreset}">Forget Password?</a></p>
	                                </div>
	                            </fieldset>
	                       </form>
                        </div> <!-- panel-body -->
                    </div> <!-- panel -->
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>