<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Admin</title>
    <object th:include="fragments/header :: header" th:remove="tag" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
</head>
<body class="mybg loginbackground">
<div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <h2 class="team-heading team-heading-current-team">Monthly Usage - Project List</h2>
    <p>&nbsp;</p>
    <th:block th:if="${projectsList.isEmpty()}">
        <p>There is no projects in the system</p>
    </th:block>
    <table class="table table-responsive" th:if="not ${projectsList.isEmpty()}">
        <thead>
        <tr>
            <th>Organisation Type</th>
            <th>Organisation Name</th>
            <th>Project Name</th>
            <th>Owner</th>
            <th>Date Created</th>
            <th>Education?</th>
            <th>Service and Tools?</th>
            <th>Supported By</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projectsList}">
            <td th:text="${project.getOrganisationType()}">Organisation Type</td>
            <td th:text="${project.getOrganisationName()}">Organisation Name</td>
            <td th:text="${project.getProjectName()}">Project Name</td>
            <td th:text="${project.getOwner()}">Owner</td>
            <td th:text="${project.getDateCreated()}">Date Created</td>
            <td><i class="fa fa-check" th:if="${project.isEducation()}"></i></td>
            <td><i class="fa fa-check" th:if="${project.isServiceTool()}"></i></td>
            <td th:text="${project.getSupportedBy()}">Supported By</td>
            <td class="text-nowrap">
                <a class="btn btn-default" th:href="@{/admin/monthly/contribute/{id}(id=${project.getId()})}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete"
                   th:attr="data-id=${project.getId()},data-name=${project.getProjectName()}"><i class="fa fa-trash"></i></a>
                <a class="btn btn-info" href=""><i class="fa fa-info"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><a href="#" th:href="@{/admin/monthly/contribute}"><button type="button" class="btn btn-standard"><i class="fa fa-plus"></i> Contribute Project</button></a></p>
</div>

<!-- confirm delete project -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteLabel">Delete Project?</h4>
            </div>
            <div class="modal-body">
                Confirm deleting "<span id="name"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-danger" id="deleteButton">Delete</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
    // <![CDATA[
    $(document).ready(function () {
        $('#confirmDelete').on('show.bs.modal', function (event) {
            var anchor = $(event.relatedTarget);
            var name = anchor.data('name');
            var id = anchor.data('id');
            var href = '/admin/monthly/remove/' + id;
            var modal = $(this);
            modal.find('#name').text(name);
            modal.find('#deleteButton').attr('href', href);
        });
    });
    // ]]>
</script>
</body>
</html>