<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Admin</title>
    <object th:include="fragments/header :: header" th:remove="tag" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
</head>
<body class="mybg loginbackground">
<div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#list">Project List</a></li>
        <li><a data-toggle="tab" href="#edit">Add New</a></li>
    </ul>
    <div class="tab-content">
        <div id="list" class="tab-pane fade in active">
            <h2 class="team-heading team-heading-current-team">Monthly Usage</h2>
            <p>&nbsp;</p>
            <th:block th:if="${projectsList.isEmpty()}">
                <p>There is no projects in the system</p>
            </th:block>
            <table class="table table-responsive" th:if="not ${projectsList.isEmpty()}">
                <thead>
                <tr>
                    <th>Organisation Type</th>
                    <th>Organisation Name</th>
                    <th>Project Name</th>
                    <th>Owner</th>
                    <th>Date Created</th>
                    <th>Education?</th>
                    <th>Service and Tools?</th>
                    <th>Supported By</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projectsList}">
                    <td th:text="${project.getOrganisationType()}">Organisation Type</td>
                    <td th:text="${project.getOrganisationName()}">Organisation Name</td>
                    <td th:text="${project.getProjectName()}">Project Name</td>
                    <td th:text="${project.getOwner()}">Owner</td>
                    <td th:text="${project.getDateCreated()}">Date Created</td>
                    <td><i class="fa fa-check" th:if="${project.isEducation()}"></i></td>
                    <td><i class="fa fa-check" th:if="${project.isServiceTool()}"></i></td>
                    <td th:text="${project.getSupportedBy()}">Supported By</td>
                    <td>
                        <a th:href="@{/admin/monthly/{id}(id=${project.getId()})}"><i class="fa fa-pencil"></i></a>
                        <a data-toggle="modal" data-target="#confirmDelete"
                           th:attr="data-id=${project.getId()},data-name=${project.getProjectName()}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="edit" class="tab-pane fade">
            <p>&nbsp;</p>
            <div class="alert alert-danger" th:if="${message}">
                <h4 th:utext="${message}"></h4>
            </div>
            <form class="form-horizontal" method="post" action="#" th:action="@{/admin/monthly}" th:object="${project}" role="form" id="projectForm">
                <fieldset>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="hidden" class="form-control" id="id" th:field="*{id}" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('organisationType')} ? has-error">
                        <label for="organisationType" class="col-sm-3 control-label">Organisation Type :</label>
                        <div class="col-sm-6">
                            <select id="organisationType" class="form-control" th:field="*{organisationType}">
                                <option value="Academic">Academic</option>
                                <option value="Government">Government</option>
                                <option value="Industry">Industry</option>
                                <option value="Internal">Internal</option>
                                <option value="Joint">Joint</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('organisationName')} ? has-error">
                        <label for="organisationName" class="col-sm-3 control-label">Organisation Name :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="organisationName" th:field="*{organisationName}" placeholder="Organisation Name"/>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('projectName')} ? has-error">
                        <label for="projectName" class="col-sm-3 control-label">Project Name :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="projectName" th:field="*{projectName}" placeholder="Project Name"/>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('owner')} ? has-error">
                        <label for="owner" class="col-sm-3 control-label">Owner :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="owner" th:field="*{owner}" placeholder="Owner"/>
                        </div>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('dateCreated')} ? has-error">
                        <label for="datepicker" class="col-sm-3 control-label">Date Created :</label>
                        <div class="col-sm-6">
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" th:field="*{dateCreated}" placeholder="MMM-dd-yyyy"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="education" class="col-sm-3 control-label">Education ?</label>
                        <div class="col-sm-6">
                            <label>
                                <input type="checkbox" th:field="*{education}" id="education"/> Yes
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="serviceTool" class="col-sm-3 control-label">Service and Tool ?</label>
                        <div class="col-sm-6">
                            <label>
                                <input type="checkbox" th:field="*{serviceTool}" id="serviceTool"/> Yes
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="supportedBy" class="col-sm-3 control-label">Supported By :</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="supportedBy" th:field="*{supportedBy}" placeholder="Supported By"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!-- confirm delete project -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteLabel">Delete Project?</h4>
            </div>
            <div class="modal-body">
                Confirm deleting project: <span id="name"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#" class="btn btn-primary" id="deleteButton">Delete</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
    // <![CDATA[
    $(document).ready(function () {
        $('.input-group.date').datepicker({
            format: "M-dd-yyyy",
            orientation: "auto right"
        });

        var flag = [[${message != null} ? true : false]];
        if (flag) {
            $('[href="#edit"]').tab('show');
        }

        $('#confirmDelete').on('show.bs.modal', function (event) {
            var anchor = $(event.relatedTarget);
            var name = anchor.data('name');
            var id = anchor.data('id');
            var href = '/admin/monthly/remove/' + id;
            var modal = $(this);
            modal.find('#name').text(name);
            modal.find('#deleteButton').attr('href', href);
        });
    });
    // ]]>
</script>
</body>
</html>