<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>NCL Publications</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
    <link rel="stylesheet" type="text/css" href="../static/css/newui/global.css" />
</head>

<body onload="loadStaticPage('ncl_publications','Publication/ncl_publications.txt')">
<div layout:fragment="content" id="ncl_publications"></div>
</body>

</html>
