<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>NCL Publications</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
    <link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content" style="background-image: url('images/research_background.jpg');">

 <!--   <div layout:fragment="content">-->
    <section id="team">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <br></br>

        <div class="container" >
            <div class="news-header">
                <h2>Research Articles &amp; News</h2>
            </div>
             <div class="col-sm-12">
                <div class="col-sm-6">
                  <!-- Section for mention in news articles,media and other publication -->
                    <div class="row">
                        <h3 class="news-header1"><a href="https://easishare.com/blog/enterprise-file-sync-share/securing-easishare-with-national-cybersecurity-rd-laboratories-ncl-singapore/"><font color="#216694">Securing EasiShare with NCL Singapore</font> </a></h3>

                        <h3 class="news-header1"><a href="https://2020.apricot.net/program/schedule/#/day/9/first-tc-1"><font color="#216694">Building Environment for Cybersecurity Awareness: CDX Use Case</font></a></h3>

                        <h3 class="news-header1"><a href="https://adsc.illinois.edu/news/smart-grid-honeypots-offer-effective-way-study-attacks-industrial-control-systems"><font color="#216694">Smart grid honeypots offer effective way to study attacks on industrial control systems</font></a></h3>

                        <h3 class="news-header1"><a href="https://www.illinois.adsc.com.sg/spotify/index.html"><font color="#216694">Smart Grid Honeypot for National Cybersecurity R&amp;D Lab (NCL) Testbed</font></a></h3>
                    </div>
                </div>

                <div class="col-sm-6">
                    <img src="images/research.jpg" alt="" width="400"  height="200" border="0" align="right" />
                </div>
            </div>  <!-- part 1 ends-->
            <br></br>
            <!-- Section for research paper publication by NCL in house R&D Team-->
            <div class="news-header">
                <h2>NCL Publications</h2>
            </div>

            <div class="col-sm-12">
            <div class="row">
                <!-- 2020 publication -->
                <h3 class="news-header1" >
                    <a href="https://whova.com/embedded/session/sigcs_202003/834600/"><font color="#216694">Benefits and Pitfalls of Using Capture The Flag Games in University Courses</font></a></h3>
                <p><font size="2px" color="#000000">• Jan Vykopal, Valdemar Svabensky, Ee-Chien Chang&nbsp;&nbsp;&nbsp;• ACM Technical Symposium on Computer Science Education (SIGCSE), 2020.</font></p>

                <h3 class="news-header1"><a href="https://www.researchgate.net/publication/327967683_Automated_identification_of_sensitive_data_from_implicit_user_specification"><font color="#216694">Automated Identification of Sensitive Data via Flexible User Requirements</font></a></h3>
                <p><font size="2px" color="#000000">• Ziqi Yang and Zhenkai Liang&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• ResearchGate,Dec 2020</font></p>


                <!-- 2018 publication -->
                <h3 class="news-header1"><a href="https://ieeexplore.ieee.org/abstract/document/8632410"><font color="#216694">VOTNET: HYBRID SIMULATION OF VIRTUAL OPERATIONAL TECHNOLOGY NETWORK FOR CYBERSECURITY ASSESSMENT</font></a></h3>
                <p><font size="2px" color="#000000">•Sajal Sarkar, Anand Agrawal, Yong Meng Teo, Ee-Chien Chang sp;&nbsp;&nbsp;• Winter Simulation Conference (WSC), 2018</font></p>

                <h3 class="news-header1"><a href="https://dl.acm.org/doi/abs/10.5555/3307412.3307418"><font color="#216694">BNV: enabling scalable network experimentation through bare-metal network virtualization</font></a></h3>
                <p><font size="2px" color="#000000">• P.G. Kannan, A. Soltani, M.C. Chan and E.C. Chang&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• CSET'18: Proceedings of the 11th USENIX Conference on Cyber Security Experimentation and Test</font></p>


                <!-- 2017 publication -->
                <h3 class="news-header1"><a href="https://ieeexplore.ieee.org/document/8247807"><font color="#216694">A Conceptual Framework to Federate Testbeds for Cybersecurity</font></a></h3>
                <p><font size="2px" color="#000000">• L. Ramapantulu, Y.M. Teo and E.C. Chang&nbsp;&nbsp;&nbsp;&nbsp;• Winter Simulation Conference 2017</font></p>

                <h3 class="news-header1"><a href="https://dl.acm.org/doi/pdf/10.5555/3242181.3242564"><font color="#216694">Modeling the Effects of Insider Threats on Cybersecurity of Complex Systems</font></a></h3>
                <p><font size="2px" color="#000000">• T. Baluta, L. Ramapantulu, Y.M. Teo and E.C. Chang&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Winter Simulation Conference 2017</font></p>

                <h3 class="news-header1"><a href=""><font color="#216694">Enabling Practical Experimentation in Cyber-Security Training</font></a></h3>
                <p><font size="2px" color="#000000">• J. Mao, Z.L. Chua, Z. Liang&nbsp;&nbsp;&nbsp;&nbsp;• (DSC’17, IEEE Conference, presented)</font></p>

                <h3 class="news-header1"><a href="https://www.comp.nus.edu.sg/~hungdang/papers/STC.pdf"><font color="#216694">Privacy-preserving computation with trusted computing via Scramble-then-Compute</font></a></h3>
                <p><font size="2px" color="#000000">• H. Dang, T.T.A. Dinh, E.C. Chang, B.C. Ooi&nbsp;&nbsp;&nbsp;&nbsp;• (PETS’17, Symposium/Conference, presented)</font></p>

                <h3 class="news-header1"><a href="https://ieeexplore.ieee.org/document/8264843"><font color="#216694">Raptor: Scalable Rule Placement over Multiple Path in Software Defined Networks</font></a></h3>
                <p><font size="2px" color="#000000">• P.G. Kannan, M.C. Chan, R.T.B. Ma, E.C. Chang&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• (IFIP Networking 2017, Conference, presented)</font></p>

                <h3 class="news-header1"><a href="https://dl.acm.org/doi/pdf/10.1145/3052973.3052994"><font color="#216694">Android Database Attacks Revisited</font></a></h3>
                <p><font size="2px" color="#000000">• B. Hassanshahi, R.H.C. Yap&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• (Asia CCS’17, ACM Conference, presented) </font></p>


                <!-- 2016 publication -->
                <h3 class="news-header1"><a href="https://dl.acm.org/doi/pdf/10.1145/2909827.2930795"><font color="#216694">Practical and Scalable Sharing of Encrypted Data in Cloud Storage with Key Aggregation</font></a></h3>
                <p><font size="2px" color="#000000">• H. Dang, Y. L. Chong, F. Brun, E.C Chang &nbsp;&nbsp;&nbsp;&nbsp;• ACM Workshop, IHMMSEC 2016 </font></p>

                <h3 class="news-header1"><a href="https://dl.acm.org/doi/pdf/10.1145/2857705.2857719"><font color="#216694">Inferring the Detection Logic and Evaluating the Effectiveness of Android Anti-Virus Apps, CODASPY 2016 (ACM Conference)</font></a></h3>
                <p><font size="2px" color="#000000">• Z. Cai, R.H.C. Yap &nbsp;&nbsp;&nbsp;• CODASPY '16: Proceedings of the Sixth ACM Conference on Data and Application Security and Privacy</font></p>

            </div>
                <br></br>
            </div> <!--part 2 ends-->
            <br></br>
            <!-- Section for research paper publication by NCL users-->
            <div class="news-header">
                <h2>Selected Publications from Projects supported by NCL</h2>
            </div>
            <div class="col-sm-12">
                <div class="row">

                    <h3 class="news-header1"><a href="https://www.computer.org/csdl/proceedings-article/sp/2021/893400a402/1mbmHSlbmvK"><font color="#216694">A Novel Dynamic Analysis Infrastructure to Instrument Untrusted Execution Flow Across User-Kernel Spaces</font></a></h3>
                    <p><font size="2px" color="#000000">•  Jiaqi Hong and Xuhua Ding&nbsp;&nbsp;• IEEE Symposium on Security and Privacy (SP), 2021</font></p>

                    <h3 class="news-header1"><a href="https://ieeexplore.ieee.org/document/9302951"><font color="#216694">False Data Injection Cyber Range of Modernized Substation System</font></a></h3>
                    <p><font size="2px" color="#000000">•  Muhammad M. Roomi, Partha P. Biswas, Gordon Fraser, Daisuke Mashima, Yuting Fan, and Ee-Chien Chang&nbsp;&nbsp;• IEEE International Conference on Communications, Control, and Computing Technologies for Smart Grids (SmartGridComm),2020 </font></p>

                    <h3 class="news-header1"><a href="https://conf.researchr.org/details/issta-2020/issta-2020-papers/32/Recovering-Fitness-Gradients-for-Interprocedural-Boolean-Flags-in-Search-Based-Testin"><font color="#216694">Recovering Fitness Gradients for Interprocedural Boolean Flags in Search-Based Testing</font></a></h3>
                    <p><font size="2px" color="#000000">•  Yun Lin, Jun Sun, Gordon Fraser, Ziheng Xiu, Ting Liu, and Jin Song Dong&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• (ISSTA 2020), pp. 440--451.</font></p>

                    <h3 class="news-header1"><a href="https://www.illinois.adsc.com.sg/spotify/cset2020.pdf"><font color="#216694">On Design and Enhancement of Smart Grid Honeypot System for Practical Collection of Threat Intelligence </font></a></h3>
                    <p><font size="2px" color="#000000">• Daisuke Mashima, Derek Kok, Wei Lin, Muhammad Hazwan, and Alvin Cheng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• In Proc. of 13th USENIX Workshop on Cyber Security Experimentation and Test (USENIX CSET 2020)</font></p>

                    <h3 class="news-header1"><a href="https://sgcsc.sg/seedgrant-2018-s01-adsc-custodio/"><font color="#216694">SPOTify: A High-Fidelity, Practical Smart Grid Honeypot for Gathering Threat Intelligence</font></a></h3>
                    <p><font size="2px" color="#000000">• Daisuke Mashima, Derek Kok, Wei Lin, Muhammad Hazwan, and Alvin Cheng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• In Proc. of 13th USENIX Workshop on Cyber Security Experimentation and Test (USENIX CSET 2020)</font></p>

                    <h3 class="news-header1"><a href="http://linyun.info/publications/tse19.pdf"><font color="#216694">Explaining Regressions via Alignment Slicing and Mending</font></a></h3>
                    <p><font size="2px" color="#000000">•  Haijun Wang, Yun Lin, Zijiang Yang, Jun Sun, Yang Liu, Jin Song Dong, Qinghua Zhen, and Ting Liu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• (TSE 2019), pp.1-1.</font></p>

                    <h3 class="news-header1"><a href="http://cse.stfx.ca/~blockchain2018/acceptedlist.htm"><font color="#216694">BLIC: A Blockchain Protocol for Manufacturing and Supply Chain Management of Ics</font></a></h3>
                    <p><font size="2px" color="#000000">• Sumanta Bose; Mayank Raikwar; Debdeep Mukhopadhyaya; Anupam Chattopadhyay; Kwok-Yan Lam&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• IEEE International Conference on Blockchain (Blockchain-2018)</font></p>

                    <h3 class="news-header1"><a href="https://www.springerprofessional.de/en/using-blockchain-to-control-access-to-cloud-data/16564164"><font color="#216694">Using Blockchain to Control Access to Cloud DataConference on Information Security and Cryptology (Inscrypt 2018), Springer LNCS 11449</font></a></h3>
                    <p><font size="2px" color="#000000">•   Jiale Guo, Wenzhuo Yang, Kwok-Yan Lam, Xun Yi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Conference on Information Security and Cryptology (Inscrypt 2018), Springer LNCS 11449</font></p>

                    <h3 class="news-header1"><a href="https://dl.acm.org/doi/pdf/10.1145/3040992.3040996"><font color="#216694">Enabling SDN Experimentation in Network Testbeds</font></a></h3>
                    <p><font size="2px" color="#000000">• S.S. Ramanatha, J. Mirkovic, P.G.Kannan, M.C. Chan, K. Sklower&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• SDN-NFV Security 2017 (ACM Workshop, presented)</font></p>

                </div>
            </div> <!--part 3 ends-->
        </div>
    </section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>