<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>NCL Publications</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>

    <link rel="stylesheet" type="text/css" href="../static/css/newui/global.css" />

</head>
<body  layout:fragment="content">
<main id="main" >
    <section class="bsb-blog-5 py-3 py-md-5 py-xl-8" style="margin-top:5.5rem;" >

            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                        <h2 class="display-8 mb-3 mb-md-4 text-center pub-new-title">NCL News Articles</h2>
                        <hr class="w-50 mx-auto mb-5 mb-xl-6 border-dark-subtle line" />
                    </div>
                </div>
            </div>

        <div class="container overflow-hidden">
            <div class="row gy-4 gy-md-5 gx-xl-6 gy-xl-6 gx-xxl-9 gy-xxl-9">
                <div class="col-12 col-lg-4">
                    <article>
                        <div class="card border-0 bg-transparent">
                            <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                <a href="https://www.mindef.gov.sg/web/portal/mindef/news-and-events/latest-releases/article-detail/2023/November/24nov23_nr" target="_blank">
                                    <img class="img-fluid pub-img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="/images/newui/cidex23.jpg" alt="cidex23" />
                                </a>
                                <figcaption>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                    <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Read More</h4>
                                </figcaption>
                            </figure>
                            <div class="card-body m-0 p-0">
                                <div class="entry-header mb-3">
                                    <ul class="entry-meta list-unstyled d-flex mb-3">
                                        <li>
                                            <a class="d-inline-flex px-2 py-1 link-primary text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2 text-decoration-none fs-7"
                                               href="https://www.mindef.gov.sg/web/portal/mindef/news-and-events/latest-releases/article-detail/2023/November/24nov23_nr" target="_blank">CIDeX 2023</a>
                                        </li>
                                    </ul>
                                    <h2 class="fs-5 card-title entry-title h4 m-0">
                                        <a class="link-dark text-decoration-none" href="#!">Critical Infrastructure Defence Exercise (CIDeX) 2023</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="card-footer border-0 bg-transparent p-0 m-0">
                                <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                                    <li>
                                        <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                            </svg>
                                            <span class="ms-2 fs-7">30 Nov 2023</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <div class="card border-0 bg-transparent">
                            <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                <a href="https://www.csa.gov.sg/News-Events/Press-Releases/2023/csa-launches-cybersecurity-industry-call-for-innovation-2023-with-challenge-statements-by-three-end-users" target="_blank">
                                    <img class="img-fluid pub-img-fluid bsb-scale bsb-hover-scale-up"
                                         loading="lazy" src="/images/newui/cybercall.jpeg" alt="cybercall" />

                                </a>
                                <figcaption>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                    <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Read More</h4>
                                </figcaption>
                            </figure>
                            <div class="card-body m-0 p-0">
                                <div class="entry-header mb-3">
                                    <ul class="entry-meta list-unstyled d-flex mb-3">
                                        <li>
                                            <a class="d-inline-flex px-2 py-1 link-primary text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2 text-decoration-none fs-7"
                                               href="https://www.csa.gov.sg/News-Events/Press-Releases/2023/csa-launches-cybersecurity-industry-call-for-innovation-2023-with-challenge-statements-by-three-end-users" target="_blank">CyberCall 2023</a>
                                        </li>
                                    </ul>
                                    <h2 class=" fs-5 card-title entry-title h4 m-0">
                                        <a class="link-dark text-decoration-none" href="#!">CSA launches Cybersecurity Industry Call for Innovation 2023</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="card-footer border-0 bg-transparent p-0 m-0">
                                <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                                    <li>
                                        <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                            </svg>
                                            <span class="ms-2 fs-7">29 Sep 2023</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <div class="card border-0 bg-transparent">
                            <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                <a href="https://www.mindef.gov.sg/web/portal/mindef/news-and-events/latest-releases/article-detail/2022/November/16nov22_nr"
                                   target="_blank">
                                    <img class="img-fluid pub-img-fluid bsb-scale bsb-hover-scale-up"  loading="lazy" src="/images/newui/cidex22.jpeg" alt="cidex22" />
                                </a>
                                <figcaption>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                    <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Read More</h4>
                                </figcaption>
                            </figure>
                            <div class="card-body m-0 p-0">
                                <div class="entry-header mb-3">
                                    <ul class="entry-meta list-unstyled d-flex mb-3">
                                        <li>
                                            <a class="d-inline-flex px-2 py-1 link-primary text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2 text-decoration-none fs-7"
                                               href="https://www.mindef.gov.sg/web/portal/mindef/news-and-events/latest-releases/article-detail/2022/November/16nov22_nr" target="_blank">CIDeX 2022</a>
                                        </li>
                                    </ul>
                                    <h2 class=" fs-5 card-title entry-title h4 m-0">
                                        <a class="link-dark text-decoration-none" href="#!">Critical Infrastructure Defence Exercise (CIDeX) 2022
                                        </a>
                                    </h2>
                                </div>
                            </div>
                            <div class="card-footer border-0 bg-transparent p-0 m-0">
                                <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                                    <li>
                                        <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                            </svg>
                                            <span class="ms-2 fs-7">24 Nov 2022</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article>
                        <div class="card border-0 bg-transparent">
                            <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                <a href="https://www.csa.gov.sg/News-Events/Press-Releases/2022/csa-launches-the-csa-national-cybersecurity-rnd-lab-scholarship" target="_blank">

                                    <img class="img-fluid pub-img-fluid bsb-scale bsb-hover-scale-up"  loading="lazy" src="/images/newui/ncls.jpg" alt="ncls" />

                                </a>
                                <figcaption>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                    <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Read More</h4>
                                </figcaption>
                            </figure>
                            <div class="card-body m-0 p-0">
                                <div class="entry-header mb-3">
                                    <ul class="entry-meta list-unstyled d-flex mb-3">
                                        <li>
                                            <a class="d-inline-flex px-2 py-1 link-primary text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-2 text-decoration-none fs-7"
                                               href="https://www.csa.gov.sg/News-Events/Press-Releases/2022/csa-launches-the-csa-national-cybersecurity-rnd-lab-scholarship" target="_blank">NCLS</a>
                                        </li>
                                    </ul>
                                    <h2 class=" fs-5 card-title entry-title h4 m-0">
                                        <a class="link-dark text-decoration-none" href="#!">CSA launches the CSA-National Cybersecurity R&amp;D Lab Scholarship</a>
                                    </h2>
                                </div>
                            </div>
                            <div class="card-footer border-0 bg-transparent p-0 m-0">
                                <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                                    <li>
                                        <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="https://www.csa.gov.sg/News-Events/Press-Releases/2022/csa-launches-the-csa-national-cybersecurity-rnd-lab-scholarship">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                            </svg>
                                            <span class="ms-2 fs-7">20 Oct 2022</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

            </div>
        </div>
    </section>

</main>
</body>
</html>
