<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>NCL Publications</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>

    <link rel="stylesheet" type="text/css" href="../static/css/newui/global.css" />

</head>
<body  layout:fragment="content">
<main id="main" >
<section class="py-3 py-md-3 py-xl-5 bg-light" style="margin-top:5.5rem;" >

    <div class="container" >
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="display-8 mb-3 mb-md-4 text-center pub-new-title">NCL Research Publications</h2>
                    <hr class="w-50 mx-auto mb-3 mb-xl-5 line" />
                </div>
            </div>


        <div class="col-sm-12">
            <div class="col-sm-11">
                <div class="row">

                    <!-- 2022 publication -->
                    <h3  >
                        <a  href="https://ieeexplore.ieee.org/document/10066414/" target="_blank" >
                            <font class="pub-title"><u>End-to-End Performance Evaluation of R-SV / R-GOOSE Messages for Wide Area Protection and Control Applications</u></font></a></h3>
                    <p><font class="pub-subtitle">• S.M. Suhail Hussain, Muhammad M. Roomi, Daisuke Mashima, Ee-Chien Chang<br/>
                        • 2023 IEEE Power &amp; Energy Society Innovative Smart Grid Technologies Conference (ISGT).</font></p>

                    <h3 >
                        <a  href="https://dl.acm.org/doi/abs/10.1145/3488932.3524127" target="_blank"><font class="pub-title" ><u>RecIPE: Revisiting the Evaluation of Memory Error Defenses</u></font></a></h3>
                    <p><font class="pub-subtitle">• Yuancheng Jiang, Roland H.C. Yap, Zhenkai Liang &amp; Hubert Rosier <br/>
                        • ASIA CCS '22: Proceedings of the 2022 ACM on Asia Conference on Computer and Communications Security, May 2022.</font></p>

                    <h3  >
                        <a  href="https://informs-sim.org/wsc22papers/by_area.html#cea148" target="_blank"><font class="pub-title" ><u>Design and Implementation of Human-Behave Bot for Realistic Web Browsing Activity generation</u></font></a></h3>
                    <p><font class="pub-subtitle">• Akhil Vuputuri, Aris Cahyadi Risdianto, Ee-Chien Chang<br/>
                        • WSC 2022: Winter Simulation Conference 2022.</font></p>

                    <h3 >
                        <a  href="https://link.springer.com/chapter/10.1007/978-3-031-17140-6_29" target="_blank"><font class="pub-title" ><u>AttacKG: Constructing Technique Knowledge Graph from Cyber Threat Intelligence Reports</u></font></a></h3>
                    <p><font class="pub-subtitle">• Zhenyuan Li, Jun Zeng, Yan Chen, Zhenkai Liang<br/>
                        • ESORICS 2022: European Symposium on Research in Computer Security</font></p>

                    <h3  >
                        <a href="https://dl.acm.org/doi/abs/10.1145/3511861.3511874" target="_blank">
                            <font class="pub-title" ><u>Collaborative Paradigm of Teaching Penetration Testing using Real-World University Applications</u></font></a></h3>
                    <p><font class="pub-subtitle">• Sufatrio, Jan Vykopal, Ee-Chien Chang<br/>
                        • ACE '22: Australasian Computing Education Conference, 2022</font></p>

                    <!-- 2021 publication -->
                    <h3 >
                        <a href="https://ieeexplore.ieee.org/abstract/document/9484537" target="_blank"><font class="pub-title"><u>OctoBot: An Open-Source Orchestration System for a Wide Range Network Activity Generation</u></font></a></h3>
                    <p><font class="pub-subtitle">• Aris Cahyadi Risdianto, Ee-Chien Chang<br/>
                        • IEEE Conference on Computer Communications Workshops (INFOCOM WKSHPS),IEEE INFOCOM, 2021</font></p>

                    <h3  >
                        <a href="https://dl.acm.org/doi/10.1145/3445968.3452091" target="_blank"><font class="pub-title"><u>TEE-based Privacy-Preserve in Collaborative Traffic Policy Compilation for Programmable Devices</u></font></a></h3>
                    <p><font class="pub-subtitle">• Aris Cahyadi Risdianto, Ee-Chien Chang<br/>
                        • ACM ConferencesSDN-NFV Sec'21, 2021.</font></p>

                    <!-- 2020 publication -->
                    <h3  >
                        <a href="https://ieeexplore.ieee.org/abstract/document/9302951" target="_blank"><font class="pub-title"><u>False Data Injection Cyber Range of Modernized Substation System</u></font></a></h3>
                    <p><font class="pub-subtitle">• Muhammad M. Roomi, Partha P. Biswas, Daisuke Mashima, Yuting Fan, Ee-Chien Chang
                        <br/>• IEEE International Conference on Communications, Control, and Computing Technologies for Smart Grids (SmartGridComm), 2020</font></p>

                    <h3  >
                        <a href="https://ieeexplore.ieee.org/document/9458202" target="_blank"><font class="pub-title" ><u>OctoBot: Human Activity Orchestration System for Cybersecurity Experiment and Exercise</u></font></a></h3>
                    <p><font class="pub-subtitle">• Aris Cahyadi Risdianto, Ee-Chien Chang
                        <br/>• International Conference on Computational Science and Computational Intelligence (CSCI), 2020</font></p>

                    <h3  >
                        <a href="https://whova.com/embedded/session/sigcs_202003/834600/" target="_blank"><font class="pub-title"><u>Benefits and Pitfalls of Using Capture The Flag Games in University Courses</u></font></a></h3>
                    <p><font class="pub-subtitle">• Jan Vykopal, Valdemar Svabensky, Ee-Chien Chang
                        <br/>• ACM Technical Symposium on Computer Science Education (SIGCSE), 2020</font></p>

                    <!-- 2018 publication -->
                    <h3><a href="https://www.researchgate.net/publication/327967683_Automated_identification_of_sensitive_data_from_implicit_user_specification" target="_blank">
                        <font class="pub-title"><u>Automated Identification of Sensitive Data via Flexible User Requirements</u></font></a></h3>
                    <p><font class="pub-subtitle">• Ziqi Yang and Zhenkai Liang<br/>• ResearchGate,Dec 2020</font></p>

                    <h3 ><a href="https://dl.acm.org/doi/abs/10.5555/3307412.3307418" target="_blank">
                        <font class="pub-title"><u>BNV: enabling scalable network experimentation through bare-metal network virtualization</u></font></a></h3>
                    <p><font class="pub-subtitle">• P.G. Kannan, A. Soltani, M.C. Chan and E.C. Chang<br/>• CSET'18: Proceedings of the 11th USENIX Conference on Cyber Security Experimentation and Test</font></p>

                    <!-- 2017 publication -->
                    <h3 ><a href="https://ieeexplore.ieee.org/document/8247807" target="_blank">
                        <font class="pub-title"><u>A Conceptual Framework to Federate Testbeds for Cybersecurity</u></font></a></h3>
                    <p><font class="pub-subtitle">• L. Ramapantulu, Y.M. Teo and E.C. Chang<br/>• Winter Simulation Conference 2017</font></p>

                    <h3 ><a href="https://dl.acm.org/doi/pdf/10.5555/3242181.3242564" target="_blank">
                        <font class="pub-title"><u>Modeling the Effects of Insider Threats on Cybersecurity of Complex Systems</u></font></a></h3>
                    <p><font class="pub-subtitle">• T. Baluta, L. Ramapantulu, Y.M. Teo and E.C. Chang<br/>• Winter Simulation Conference 2017</font></p>

                    <h3 ><a href="#">
                        <font class="pub-title"><u>Enabling Practical Experimentation in Cyber-Security Training</u></font></a></h3>
                    <p><font class="pub-subtitle">• J. Mao, Z.L. Chua, Z. Liang<br/>• (DSC’17, IEEE Conference, presented)</font></p>

                    <h3 ><a href="https://www.comp.nus.edu.sg/~hungdang/papers/STC.pdf" target="_blank">
                        <font class="pub-title"><u>Privacy-preserving computation with trusted computing via Scramble-then-Compute</u></font></a></h3>
                    <p><font class="pub-subtitle">• H. Dang, T.T.A. Dinh, E.C. Chang, B.C. Ooi<br/>• (PETS’17, Symposium/Conference, presented)</font></p>

                    <h3 ><a href="https://ieeexplore.ieee.org/document/8264843" target="_blank">
                        <font class="pub-title"><u>Raptor: Scalable Rule Placement over Multiple Path in Software Defined Networks</u></font></a></h3>
                    <p><font class="pub-subtitle">• P.G. Kannan, M.C. Chan, R.T.B. Ma, E.C. Chang<br/>• (IFIP Networking 2017, Conference, presented)</font></p>

                    <h3 ><a href="https://dl.acm.org/doi/pdf/10.1145/3052973.3052994" target="_blank">
                        <font class="pub-title"><u>Android Database Attacks Revisited</u></font></a></h3>
                    <p><font class="pub-subtitle">• B. Hassanshahi, R.H.C. Yap<br/>• (Asia CCS’17, ACM Conference, presented) </font></p>


                    <!-- 2016 publication -->
                    <h3><a href="https://dl.acm.org/doi/pdf/10.1145/2909827.2930795" target="_blank">
                        <font class="pub-title"><u>Practical and Scalable Sharing of Encrypted Data in Cloud Storage with Key Aggregation</u></font></a></h3>
                    <p><font class="pub-subtitle">• H. Dang, Y. L. Chong, F. Brun, E.C Chang<br/>• ACM Workshop, IHMMSEC 2016 </font></p>

                    <h3 ><a href="https://dl.acm.org/doi/pdf/10.1145/2857705.2857719" target="_blank">
                        <font class="pub-title"><u>Inferring the Detection Logic and Evaluating the Effectiveness of Android Anti-Virus Apps, CODASPY 2016 (ACM Conference)</u></font></a></h3>
                    <p><font class="pub-subtitle">• Z. Cai, R.H.C. Yap<br/>• CODASPY '16: Proceedings of the Sixth ACM Conference on Data and Application Security and Privacy</font></p>
                </div>
            </div>
        </div>
    </div>
</section>

</main>
</body>
</html>
