<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Network Topology Tool</title>

    <link rel="shortcut icon" href="images/ncl_favicon1.png" th:href="@{~/images/ncl_favicon1.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/font-awesome/css/font-awesome.min.css}"/>

    <style>
        html, body {
            height: 100%;
        }
        body {
            overflow: hidden;
        }
        .parent {
            height: 95%;
        }
        #icons_div, #results_div {
            height: 100%;
            overflow-y: scroll;
        }
        #paint_div {
            height: 100%;
            overflow: scroll;
        }
        #paintarea:focus {
            outline: none;
        }
        #ns2_text, #log_text {
            white-space: pre;
            overflow: scroll;
        }
    </style>

    <!-- common, all times required, imports -->
    <script th:src="@{~/topology-tool/wz_jsgraphics.js}"></script>
    <script th:src="@{~/topology-tool/draw2d.js}"></script>

    <!-- demo specific imports -->
    <script th:src="@{~/topology-tool/ResizeImage.js}"></script>
    <script th:src="@{~/topology-tool/ContextmenuConnection.js}"></script>
    <script th:src="@{~/topology-tool/MyInputPort.js}"></script>
    <script th:src="@{~/topology-tool/MyOutputPort.js}"></script>
    <script th:src="@{~/topology-tool/JSONSerializer.js}"></script>
    <script th:src="@{~/topology-tool/DiagramFigure.js}"></script>

    <script type="text/javascript" th:src="@{~/topology-tool/adapter/prototype/prototype.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>

    <!--
    References:
    [1] http://learn.jquery.com/using-jquery-core/avoid-conflicts-other-libraries/
    [2] https://www.contrid.co.za/2015/06/fix-bootstrap-3-and-prototype-js-conflict/
    -->
    <script type="text/javascript">
        /*<![CDATA[*/
        var $j = jQuery.noConflict();
        if (Prototype.BrowserFeatures.ElementExtensions) {
            var disablePrototypeJS = function (method, pluginsToDisable) {
                    var handler = function (event) {
                        event.target[method] = undefined;
                        setTimeout(function () {
                            delete event.target[method];
                        }, 0);
                    };
                    pluginsToDisable.each(function (plugin) {
                        jQuery(window).on(method + '.bs.' + plugin, handler);
                    });
                },
                pluginsToDisable = ['collapse', 'dropdown', 'modal', 'tooltip', 'popover', 'tab'];
            disablePrototypeJS('show', pluginsToDisable);
            disablePrototypeJS('hide', pluginsToDisable);
        }
        /*]]>*/
    </script>

    <!-- use this imports if you want use the Yahoo utility methods -->
    <script type="text/javascript" th:src="@{~/topology-tool/adapter/yui/yui-utilities.js}"></script>
    <script type="text/javascript" th:src="@{~/topology-tool/adapter/yui/ext-yui-adapter.js}"></script>
    <script type="text/javascript" th:src="@{~/topology-tool/ext-all.js}"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        function createNewDiv(aID) {
            var txt = document.createElement('P');
            var div = document.createElement('span');
            div.setAttribute('id', aID);
            txt.setAttribute('id', aID + "_txt");
            div.appendChild(txt);
            return div;
        }

        function loadJSONtext(aText) {
            new JSONSerializer().fromJSON(Ext.util.JSON.decode(aText));
        }

        function addDragIconPic(aName, aWhere, aPic) {
            if (document.getElementById("cont_" + aName)) {
                return;
            }
            var div = document.getElementById(aWhere);
            var cdiv = createNewDiv("cont_" + aName);
            var html = '';
            html = html + "<center>";
            html = html + "<h1>" + aName + "</h1>\n";
            html = html + "<img src='" + aPic + "' id='drag_" + aName + "' style='cursor:move'/>\n";
            html = html + "<hr size=1 noshade>\n";
            html = html + "</center>";

            cdiv.innerHTML = html;
            div.appendChild(cdiv);
            var dragsource = new Ext.dd.DragSource('drag_' + aName, {
                ddGroup: 'TreeDD',
                dragData: {name: 'DiagramFigure', type: aName, pic: aPic}
            });
        }

        function addDragIcon2(aName, aWhere) {
            var aPic = "/topology-tool/icons/" + aName + ".png";
            addDragIconPic(aName, aWhere, aPic);
        }

        function addLibraryIcon(aName) {
            addDragIcon2(aName, "icons_div");
        }

        function createNewIconDiv(aID) {
            var txt = document.createElement('P');
            var div = document.createElement('span');
            div.setAttribute('id', aID);
            txt.setAttribute('id', aID + "_txt");
            div.appendChild(txt);
            document.getElementById("icons_div").appendChild(div);
            return div;
        }

        function doSendJSON() {
            var str = $j.trim($j('#json_text').val());
            if (!str) {
                alert("Please save topology to json before analysing.");
            } else {
                $j('#ns2_text').val("");
                $j('#log_text').val("");
                $j.post("/networkTool", { jsonText: str.replace("json_diagram = ", "") })
                    .done(function(data) {
                        var jsonData = $j.parseJSON(data);
                        $j('#ns2_text').val(jsonData.nsText.replace(/&#010;/g, "\n"));
                        $j('#log_text').val(jsonData.logText.replace(/&#010;/g, "\n"));
                    })
                    .fail(function(error) { debug(error); });
            }
        }

        function doSaveJSON() {
            var txt = Ext.util.JSON.encode(new JSONSerializer().toJSON(workflow.getDocument()));
            txt = txt.replace(/,"/g, ', "');
            document.getElementById('json_text').value = "json_diagram = " + txt + "\n\n\n\n";
        }

        function doLoadJSON() {
            loadJSONtext(document.getElementById('json_text').value);
        }

        function debug(message) {
            console.log(message);
        }
        /*]]>*/
    </script>
</head>
<body class="mybg loginbackground">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><img src="/images/ncl_favicon1.png" alt="logo" width="20" class="logo1" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-file-text-o"></i> Open</a></li>
                        <li><a href="#"><i class="fa fa-floppy-o"></i> Save</a></li>
                    </ul>
                </li-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Library <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> a100baset_hub</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> asa</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> cloud_filled</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> laptop</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> layer_3_switch</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> router</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> web_server</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:visible"></i> workstation</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Template <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-check" style="visibility:hidden"></i> 2 nodes</a></li>
                        <li><a href="#"><i class="fa fa-check" style="visibility:hidden"></i> 3 nodes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">JSON <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" onclick="doLoadJSON();"><i class="fa fa-upload"></i> Load</a></li>
                        <li><a href="#" onclick="doSaveJSON();"><i class="fa fa-download"></i> Save</a></li>
                        <li><a href="#" onclick="doSendJSON();"><i class="fa fa-cloud-upload"></i> Analyze</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question"></i> Help</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#aboutModal"><i class="fa fa-info"></i> About</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" id="helpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">How to use</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Drag and drop. Connect the blue dots with lines. Double-click to add the annotations.</li>
                    <li>Control-drag the blue dots to clone them. Click on the unchecked links in the "Library" to add icons.</li>
                    <li>"Save" JSON into the textbox. "Load" JSON from the textbox. "Analyze" JSON to get the NS file and other associated files.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" id="aboutModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">About</h4>
            </div>
            <div class="modal-body">
                <p>
                    This little hack is standing on the shoulders of giants:
                </p>
                <ul>
                    <li><a href="http://draw2d.org/">Draw2D library</a></li>
                    <li><a href="http://www.walterzorn.com/">Walter Zorn's JS graphics library</a></li>
                    <li><a href="http://extjs.com/">ExtJS library</a></li>
                    <li><a href="http://www.cisco.com/web/about/ac50/ac47/2.html">Cisco network diagram icons</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container-fluid parent">
    <div class="row parent">
        <div class="col-md-2" id="icons_div"></div>
        <div class="col-md-8" id="paint_div">
            <div id="paintarea" style="position:relative;width:3000px;height:3000px;">
            </div>
        </div>
        <div class="col-md-2" id="results_div">
            <h2>JSON</h2>
            <textarea id='json_text' rows="10" cols="80" style="width: 90%"></textarea>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" onclick="doLoadJSON();">Load</button>
                <button type="button" class="btn btn-default" onclick="doSaveJSON();">Save</button>
                <button type="button" class="btn btn-default" onclick="doSendJSON();">Analyze</button>
            </div>
            <hr size="1" noshade="noshade"/>
            <h2>NS2</h2>
            <textarea id='ns2_text' rows="10" cols="80" style="width: 90%" readonly="readonly"></textarea>
            <hr size="1" noshade="noshade"/>
            <h2>Log</h2>
            <textarea id='log_text' rows="10" cols="80" style="width: 90%" readonly="readonly"></textarea>
        </div>
    </div>
</div>
<script type="text/javascript">
    /*<![CDATA[*/
    /**********************************************************************************
     *
     * Do the Draw2D Stuff
     *
     **********************************************************************************/
    var workflow = new Workflow("paintarea");

    jQuery(document).ready(function ($) {
        workflow.scrollArea = document.getElementById("paint_div").parentNode;

        addLibraryIcon('a100baset_hub');
        addLibraryIcon('asa');
        addLibraryIcon('cloud_filled');
        addLibraryIcon('laptop');
        addLibraryIcon('layer_3_switch');
        addLibraryIcon('router');
        addLibraryIcon('web_server');
        addLibraryIcon('workstation');

        var droptarget = new Ext.dd.DropTarget("paint_div", {ddGroup: 'TreeDD'});
        droptarget.notifyDrop = function (dd, e, data) {
            if (data.name) {
                var xOffset = workflow.getAbsoluteX();
                var yOffset = workflow.getAbsoluteY();
                var scrollLeft = workflow.getScrollLeft();
                var scrollTop = workflow.getScrollTop();
                if (typeof(data.pic) != "undefined") {
                    var el = document.getElementById("drag_" + data.type);
                    var aWidth = 32;
                    var aHeight = 32;
                    if (el) {
                        aWidth = el.width;
                        aHeight = el.height;
                    }
                    var aFig = eval("new " + data.name + "()");
                    aFig.setDimension(aWidth, aHeight);
                    aFig.setPic(data.pic);
                    aFig.subtype = data.type;

                    workflow.addFigure(aFig, e.xy[0] - xOffset + scrollLeft, e.xy[1] - yOffset + scrollTop);

                } else {
                    workflow.addFigure(eval("new " + data.name + "()"), e.xy[0] - xOffset + scrollLeft, e.xy[1] - yOffset + scrollTop);
                }
                return true;
            }
        }
    });
    /*]]>*/
</script>
</body>
</html>