<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
	<title>Overview</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
	<link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
	<link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<section id="joinUs" class="background1">
		<div class="container  ">
			<div class="row ">

				<div class="heading col-sm-10 col-sm-offset-1 ">
					<div class="col-sm-6"><img src="images/10.png" width="325" height="315"/></div>
					<div class="col-sm-6">
						<div class="heading col-sm-12 col-sm-offset-1">
							<h2>The Hardware to Support Your NEEDS </h2>

							<p> Our cloud infrastructure can help to support you experimentation needs.
							</p>
						</div>
					</div>
					<h2>&nbsp;</h2>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</section> <!-- join us -->




	<section id="joinUs" >
		<div class="container  ">
			<div class="row ">

				<div class="heading col-sm-10  ">
					<div class="col-sm-8">
						<div class="heading col-sm-8 col-sm-offset-1">
							<h2>Popular Operating System </h2>

							<p> We support popular OPERATING SYSTEMS like Ubuntu and FreeBSD. What's more ! There are more to come!
							</p>
						</div>
					</div>
					<div class="col-sm-1"><img src="images/3.png" width="175" height="157"/></div>
					<div class="col-sm-1 col-sm-offset-2"><img src="images/4.png" width="202" height="184"/></div>
				</div>

			</div> <!-- row -->
		</div> <!-- container -->
	</section> <!-- join us -->


	<section id="joinUs" class="background1">
		<div class="container  ">
			<div class="row ">

				<div class="heading col-sm-10 col-sm-offset-1 ">
					<div class="col-sm-6"><img src="images/team/data.png" width="270" height="287"/></div>
					<div class="col-sm-6">
						<div class="heading col-sm-12 col-sm-offset-1">
							<h2>Up-To-Date Cybersecurity Dataset </h2>

							<p>We host / provide access to UP-TO-DATE cybersecurity datasets.
							</p>
						</div>
					</div>
					<h2>&nbsp;</h2>
				</div>
			</div> <!-- row -->
		</div> <!-- container -->
	</section> <!-- join us -->



	<section id="joinUs" >
		<div class="container  ">
			<div class="row ">

				<div class="heading text-center col-sm-12 col-sm-offset-1 ">
					<div class="col-sm-8">
						<div class="heading text-center  col-sm-10 col-sm-offset-3">
							<h2>One-click Applications </h2>

							<p> We provide numerous application such as Android emulator, Hadoop, Spark and Blockchain. What's more ! they can be easily deploy with a SINGLE CLICK!
							</p>
						</div>
					</div></div>
				<div class="heading col-sm-10 col-sm-offset-1">
					<div class="col-sm-1 col-sm-offset-0"><img src="images/5.png" width="175" height="157"/></div>
					<div class="col-sm-1 col-sm-offset-3"><img src="images/6.png" width="123" height="111"/></div>
					<div class="col-sm-1 col-sm-offset-2"><img src="images/7.png" width="198" height="103"/></div>
					<div class="col-sm-1 col-sm-offset-3"><img src="images/8.png" width="147" height="132"/></div>
					<h2>&nbsp;</h2>
				</div>

			</div> <!-- row -->
		</div> <!-- container -->
	</section> <!-- join us -->



	<section id="joinUs" class="background1">
		<div class="container  ">
			<div class="row ">

				<div class="heading text-center col-sm-12 col-sm-offset-1 ">
					<div class="col-sm-8">
						<div class="heading text-center  col-sm-10 col-sm-offset-3">
							<h2>Vulnerable Host Enviroment Provisioning</h2>

							<p> We have a collections of host environment with REAL WORLD VULNERABILITIES such as Shellshock, Heartbleed and ImageTragick. They are ready for you to use at anytime !
							</p>
						</div>
					</div></div>
				<div class="heading col-sm-8col-sm-offset-1">
					<div class="col-sm-1 col-sm-offset-2"><img src="images/11.png" width="175" height="157"/></div>
					<div class="col-sm-1 col-sm-offset-3"><img src="images/12.png" width="162" height="146"/></div>
					<div class="col-sm-1 col-sm-offset-2"><img src="images/13.png" width="207" height="167"/></div>

					<h2>&nbsp;</h2>
				</div>

			</div> <!-- row -->
		</div> <!-- container -->
	</section> <!-- join us -->

</div>

<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/smoothscroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
