<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Overview</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
<body>


	<div th:replace="fragments/login_navigation :: loginnav"></div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
        
        <section id="joinUs" class="background1">
    		<div class="container  ">
    			<div class="row ">
              
    			  <div class="heading col-sm-10 col-sm-offset-1 ">
                  	<div class="col-sm-6"><img src="images/10.png" width="325" height="315"/></div>
                    <div class="col-sm-6">
                    <div class="heading col-sm-12 col-sm-offset-1">
                    <h2>The Hardware to Support Your NEEDS </h2>
                    
    			      <p> Our cloud infrastructure can help to support you experimentation needs.
                      </p>
                    </div>
  			      </div>
    			    <h2>&nbsp;</h2>
    			</div>
    			</div> <!-- row -->
    		</div> <!-- container -->
    	</section> <!-- join us -->
    	
        
        
           
        <section id="joinUs" >
    		<div class="container  ">
    			<div class="row ">
              
    			  <div class="heading col-sm-10  ">
                    <div class="col-sm-8">
                    <div class="heading col-sm-8 col-sm-offset-1">
                    <h2>Popular Operating System </h2>
                    
    			      <p> We support popular OPERATING SYSTEMS like Ubuntu and FreeBSD. What's more ! There are more to come!
                      </p>
                    </div>
  			      </div>
                  <div class="col-sm-1"><img src="images/3.png" width="175" height="157"/></div>
  			      <div class="col-sm-1 col-sm-offset-2"><img src="images/4.png" width="202" height="184"/></div>
    			</div>
                
    			</div> <!-- row -->
    		</div> <!-- container -->
    	</section> <!-- join us -->
        
           
        <section id="joinUs" class="background1">
    		<div class="container  ">
    			<div class="row ">
              
    			  <div class="heading col-sm-10 col-sm-offset-1 ">
                  	<div class="col-sm-6"><img src="images/team/data.png" width="270" height="287"/></div>
                    <div class="col-sm-6">
                    <div class="heading col-sm-12 col-sm-offset-1">
                    <h2>Up-To-Date Cybersecurity Dataset </h2>
                    
    			      <p>We host / provide access to UP-TO-DATE cybersecurity datasets.
                      </p>
                    </div>
  			      </div>
    			    <h2>&nbsp;</h2>
    			</div>
    			</div> <!-- row -->
    		</div> <!-- container -->
    	</section> <!-- join us -->
        
        
           
          <section id="joinUs" >
    		<div class="container  ">
    			<div class="row ">
              
    			  <div class="heading text-center col-sm-12 col-sm-offset-1 ">
                    <div class="col-sm-8">
                    <div class="heading text-center  col-sm-10 col-sm-offset-3">
                    <h2>One-click Applications </h2>
                    
    			      <p> We provide numerous application such as Android emulator, Hadoop, Spark and Blockchain. What's more ! they can be easily deploy with a SINGLE CLICK!
                      </p>
                    </div>
  			      </div></div>	
                  <div class="heading col-sm-10 col-sm-offset-1">
                   <div class="col-sm-1 col-sm-offset-0"><img src="images/5.png" width="175" height="157"/></div>
  			      <div class="col-sm-1 col-sm-offset-3"><img src="images/6.png" width="123" height="111"/></div>
                    <div class="col-sm-1 col-sm-offset-2"><img src="images/7.png" width="198" height="103"/></div>
  			      <div class="col-sm-1 col-sm-offset-3"><img src="images/8.png" width="147" height="132"/></div>
    			    <h2>&nbsp;</h2>
    			</div>
                
    			</div> <!-- row -->
    		</div> <!-- container -->
    	</section> <!-- join us -->
        
           
           
               <section id="joinUs" class="background1">
    		<div class="container  ">
    			<div class="row ">
              
    			  <div class="heading text-center col-sm-12 col-sm-offset-1 ">
                    <div class="col-sm-8">
                    <div class="heading text-center  col-sm-10 col-sm-offset-3">
                    <h2>Vulnerable Host Enviroment Provisioning</h2>
                    
    			      <p> We have a collections of host environment with REAL WORLD VULNERABILITIES such as Shellshock, Heartbleed and ImageTragick. They are ready for you to use at anytime ! 
                      </p>
                    </div>
  			      </div></div>	
                  <div class="heading col-sm-8col-sm-offset-1">
                   <div class="col-sm-1 col-sm-offset-2"><img src="images/11.png" width="175" height="157"/></div>
  			      <div class="col-sm-1 col-sm-offset-3"><img src="images/12.png" width="162" height="146"/></div>
                    <div class="col-sm-1 col-sm-offset-2"><img src="images/13.png" width="207" height="167"/></div>
  			      
    			    <h2>&nbsp;</h2>
</div>

</div> <!-- row -->
</div> <!-- container -->
</section> <!-- join us -->

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>
