<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Page Unavailable</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body>


<!-- main nav -->
<div th:replace="fragments/login_navigation :: loginnav"></div>

<p>&nbsp;</p>
<p>&nbsp;</p>

<section id="joinUs" class="join-us">
    <div class="container" >
        <div class="row">
            <div class="box effect5">
                <div class="heading text-center col-sm-12">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3"><img src="images/error-img1.png" th:src="@{~/images/error-img1.png}" width="249" height="377"/></div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="col-sm-7 col-offset-1">
                        <p align="left" class="h30">OOOOPS !</p>
                        <p>&nbsp;</p>
                        <h4 align="left">We are sorry for the inconvenience.This page is currently unavailable.</h4>
                        <div class="caption" align="left">
                            <a class="btn btn-lg btn-standard" href="index.html" th:href="@{/notfound}">Back to Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>