<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Password Reset</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/custom.css" th:href="@{css/custom.css}"/>
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    </head>
    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
		<div class="container">
		    <div class="row">
		          <h1>Password Reset</h1>
		          <p>Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@ncl.sg.</p>
		          <form method="post" action="" role="form">
		              <fieldset>
		                  <div class="form-group">
		                      <input type="text" class="form-control" id="inputEmail" placeholder="Email" name=""/>
		                  </div>
		                  <div class="form-group">
		                      <button type="submit" class="btn btn-success">Send Reset Email</button>
		                  </div>
		              </fieldset>
		          </form>
		    </div> <!-- row -->
		</div> <!-- container -->  
    </body>
</html>