<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Password Reset</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
		<div class="container">
		    <div class="row">
				<p>&nbsp;</p>
				<h2 class="team-heading team-heading-current-team" th:text="#{passwordReset.header}">Password Reset</h2>
					  <p th:text="#{passwordReset.info}">Enter your email address to reset your password. You may need to check your spam folder or unblock no-reply@ncl.sg.</p>
				<form method="post" action="" role="form">
		              <fieldset>
		                  <div class="form-group">
		                      <input type="text" class="form-control" id="inputEmail" placeholder="Email" name=""/>
		                  </div>
		                  <div class="form-group">
		                      <button type="submit" class="btn btn-standard">Send reset email</button>
		                  </div>
		              </fieldset>
		          </form>
		    </div> <!-- row -->
		</div> <!-- container -->
		<div th:replace="fragments/footer_fixed :: footer-fixed"></div>
    </body>
</html>