<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
  <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
  <section>
    <div class="container" >
      <div class="row">

        <p align="Center"><b><font size="30px" color="#0d6dba">Our Team</font></b></p>
        <img src="images/teamwork12.jpg" style="width:1180px; height:200px; object-fit: cover; object-position: 50% 50%;"/><!--<img src="images/teamwork1.jpg" style="width:590px; height:200px; object-fit: cover; object-position: 50% 50%;"/>-->

      </div>


      <div class="row">
         <h2 class="team-heading team-heading-current-team1"><b>Principal Investigators</b></h2>
          <div class="col-sm-6">
                     <div class="row">
                         <h8><b>Chang Ee-Chien</b></h8>
                         <p><b><font color="#585656">Associate Professor, Lead PI</font></b> </p>
                         <p>Network Security | Applied Cryptography | Multimedia &amp; Biometric Security</p>
                         <p><a href="https://sg.linkedin.com/in/ee-chien-chang-2321b535"><img src="images/linkedin_icon2.png" alt="" width="20"  height="20" border="0" align="left"/></a>&nbsp;
                            <a href="http://www.comp.nus.edu.sg/~changec/"><img src="images/contacts-icon.png" alt="" width="20"  height="20" border="0" align="left"/></a>
                         </p>
                     </div>
               </div>

               <div class="col-sm-6">
                      <div class="row">
                        <h8><b>Liang Zhenkai</b></h8>
                          <p><b><font color="585656">Associate Professor, Lead PI</font></b> </p>
                            <p>System and Software Security | Web Security | Mobile Security </p>
                            <p><a href="https://sg.linkedin.com/in/liangzk"><img src="images/linkedin_icon2.png" alt="" width="20"  height="20" border="0" align="left"/></a>&nbsp;
                              <a href="http://www.comp.nus.edu.sg/%7Eliangzk"><img src="images/contacts-icon.png" alt="" width="20"  height="20" border="0" align="left"/></a>
                            </p>
                      </div>
               </div>
    </div>

      <div class="row">
        <h2 class="team-heading team-heading-current-team1"><b>Development &amp; Operations</b></h2>
        <div class="col-sm-6">
          <div class="row">
           <h8><b>Nidhi Kushwah</b></h8>
               <p><b><font color="585656">Senior Software Engineer, (Infrastructure)</font></b> </p>
              <p>Cloud Computing &amp; Management |  Web Application Development</p>
              </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <h8><b>Nway Aung</b></h8>
            <p><b><font color="585656">Software Engineer, (Infrastructure)</font></b> </p>
                <p>Cloud Computing | Artificial Intelligence </p>
          </div>
        </div>
      </div>

    <div class="row">
        <p></p>
        <p></p>
        <div class="col-sm-6">
          <div class="row">
            <h8><b>Hannah Oei</b></h8>
              <p><b><font color="585656">Project Engineer, (Operations)</font></b> </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <h8><b>Armanadurni Binte Abdul Rahman</b></h8>
            <p><b><font color="585656">Senior Exceutive, (Operations)</font></b> </p>
         </div>
        </div>
    </div>

    <div class="row">
        <h2 class="team-heading team-heading-current-team1"><b>Research Team</b></h2>
          <div class="col-sm-6">
              <div class="row">
                 <h8><b>Aris Cahyadi Risdianto</b></h8>
                 <p><b><font color="585656">Research Fellow</font></b></p>
                 <p>&nbsp;Software Defined Networking | Internet Security &nbsp;<a href="https://sg.linkedin.com/in/ariscahyadirisdianto"><img src="images/linkedin_icon2.png" alt="" width="20"  height="20" border="0" align="left"/></a></p>
              </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <h8><b>Huang Kang</b></h8>
            <p><b><font color="585656">Research Assistant</font></b> </p>

          </div>
        </div>
    </div>

      <div class="row">
        <h2 class="team-heading team-heading-current-team1"><b>Past Researchers &amp; PhD Students</b></h2>
        <div class="col-sm-6">
          <div class="row">
            <h8><b>Chua Zheng Leong</b></h8>
              <p><b><font color="585656">PhD Student</font></b> </p>
              <p>Systems Security | Software Testing | Binary Analysis</p>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <h8><b>Pravein Govindan Kannan</b></h8>
              <p><b><font color="585656">PhD Student</font></b> </p>

          </div>
        </div>
      </div>

       <div class="row">
           <p></p>
           <p></p>
            <div class="col-sm-6">
                <div class="row">
                    <h8><b>Zhang Jiyi</b></h8>
                    <p><b><font color="585656">PhD Student</font></b> </p>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="row">
                    <h8><b>Suravi Chatterjee</b></h8>
                    <p><b><font color="585656">PhD Student</font></b> </p>
                </div>
            </div>

        </div>

      <div class="row">
        <h2 class="team-heading team-heading-current-team1"><b>Visitors</b></h2>
        <div class="col-sm-6">
          <div class="row">
            <h8><b>Prof. Hui Tian</b></h8>
            <p><b><font color="585656">Ph. D, Associate Professor</font></b> </p>
            <p>Chair of Department of Network and Information Security, College of Computer Science and Technology,</p>
             <p> National Huaqiao University,China</p>

          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <h8><b>Prof. Satoru Tezuka</b></h8>
            <p><b><font color="585656">Professor</font></b> </p>
            <p>Faculty of Environement and Information Studies,Graduate School of Media and Governance</p>
            <p>Keio University,Japan</p>
         </div>
        </div>
      </div>

    </div>

  </section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
