<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
  <title>Our Team</title>
<!--  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>-->
<!--  <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>-->
<!--  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>-->
<!--  <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>-->
<!--  <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>-->
<!--  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>-->
<!--  <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>-->
<!--  <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>-->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>

    <link rel="stylesheet" type="text/css" href="../static/css/newui/global.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/nav.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/carousel.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/aboutus.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/wwd.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/newui/team.css" />

</head>
<body >
<div layout:fragment="content" id="PeopleBody">
    <section >
            <div class="container text-center py-5 mt-5">
                <h1 class="text-center team-dl-h1" >Our Team</h1>
                <div class="line"></div>

                <h3 class="text-center team-dl-h3" >Principal Investigators</h3>
                <div class="line"></div>
                <div class="row row-cols-1 row-cols-md-2 g-4 " >

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/ec.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Chang Ee-Chien</h5>
                                <p class="card-text team-subtitle">Associate Professor (NUS),Lead PI (NCL)
                                    <br/>Network Security | Applied Cryptography | Multimedia &amp; Biometric Security</p>
                            </div>
                            <div class="justify-content-evenly ">
                                <a class="team-i team-bi" href="https://www.comp.nus.edu.sg/~changec/" target="_blank">
                                    <i class="bi bi-person-vcard-fill team-bi "></i></a>
                                <a class="team-i team-bi" href="https://sg.linkedin.com/in/ee-chien-chang-2321b535" target="_blank">
                                    <i class="bi bi-linkedin team-bi "></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/lzk.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Liang Zhenkai</h5>
                                <p class="card-text team-subtitle">Associate Professor (NUS), Lead PI (NCL)
                                    <br/> System and Software Security | Web Security | Mobile Security</p>
                            </div>
                            <div class="justify-content-evenly ">

                                <a class="team-i team-bi" href="https://www.comp.nus.edu.sg/~liangzk/" target="_blank">
                                    <i class="bi bi-person-vcard-fill team-bi "></i></a>
                                <a class="team-i team-bi" href="https://sg.linkedin.com/in/liangzk" target="_blank">
                                    <i class="bi bi-linkedin team-bi "></i></a>
                            </div>
                        </div>
                    </div>

                </div>
                <br/>
                <h3 class="text-center team-dl-h3" >Development &amp; Operations</h3>
                <div class="line"></div>
                <div class="row row-cols-1 row-cols-md-3 g-4 team-dl-row-mg" >

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/yc.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Liu Yuancheng</h5>
                                <p class="card-text team-subtitle">Head of Technology</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/cm.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Seah Choon Meng</h5>
                                <p class="card-text team-subtitle">Program Director</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/nl.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Niklaus Kang</h5>
                                <p class="card-text team-subtitle">Deputy Head of Technology</p>
                            </div>

                        </div>
                    </div>

                </div>

                <br/><br/><br/>

                <div class="row row-cols-1 row-cols-md-3 g-4 " >

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/fa.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Farah Ameerah</h5>
                                <p class="card-text team-subtitle">Senior Executive</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/aa.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Arun Dasse</h5>
                                <p class="card-text team-subtitle">Senior Executive</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/avma.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Felix Wong</h5>
                                <p class="card-text team-subtitle">Infrastructure Engineer</p>
                            </div>

                        </div>
                    </div>

                </div>
                <br/><br/><br/>

                <div class="row row-cols-1 row-cols-md-3 g-4 " >

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/avma.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Seen Wei Jie</h5>
                                <p class="card-text team-subtitle">Infrastructure Engineer</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/avfe.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Thazin Hlaing</h5>
                                <p class="card-text team-subtitle">Software Engineer</p>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <div >
                            <img src="/images/newui/teams/pr.png" class="team-dl-card-img-top" alt="..." />
                            <div >
                                <h5 class="card-title team-title">Pannu Rose Raju</h5>
                                <p class="card-text team-subtitle">Software Engineer</p>
                            </div>

                        </div>
                    </div>

                </div>

                <br/>
                <h3 class="text-center team-dl-h3 mt-5" >Visiting Researchers / Researchers</h3>
                <div class="line"></div>
                <div class="row row-cols-1 row-cols-md-3 g-4 team-dl-row-mg mt-5" >

                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Lee Chin Ann Ivan</h5>
                                <p class="card-text team-subtitle">Visiting Scientist</p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Yunshan Ma</h5>
                                <p class="card-text team-subtitle">Research Fellow</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <h3 class="text-center team-dl-h3 mt-5" >Past Researchers</h3>
                <div class="line"></div>
                <div class="row row-cols-1 row-cols-md-3 g-4 team-dl-row-mg mt-5" >

                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Chua Zheng Leong</h5>
                                <p class="card-text team-subtitle">Research Assistant</p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Praveen Govinda Kannan</h5>
                                <p class="card-text team-subtitle">Research Fellow</p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Zhang JiyI</h5>
                                <p class="card-text team-subtitle">PHD Student</p>
                            </div>

                        </div>
                    </div>
                    <br/><br/><br/>
                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Ahmad Soltani </h5>
                                <p class="card-text team-subtitle">PHD Student</p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Aris Cahyadi Risdianto</h5>
                                <p class="card-text team-subtitle">Research Fellow</p>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <div >
                            <div >
                                <h5 class="card-title team-title">Huang Kang</h5>
                                <p class="card-text team-subtitle">Research Fellow</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>




        </section>

</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>

<!--<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/wow.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/mousescroll.js"></script>-->
<!--<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>-->
<!--<script type="text/javascript" src="../static/js/lightbox.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/main.js"></script>-->
<!--<script type="text/javascript" src="../static/js/waypoints.min.js"></script>-->
<!--<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>-->
<!--<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>-->
</body>
</html>
