<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>Plan</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
    <link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

            <div class="heading text-center col-sm-8 col-sm-offset-2">
                <div class="h15">
                    <p>Features</p>
                </div>
            </div>

    <section id="joinUs" >
        <div class="container  ">
            <div class="row ">
                <div class="heading col-sm-5 col-sm-offset-1">
                    <div class="col-sm-5">
                        <img src="images/hand-pointer.png" width="113" height="111"/>
                    </div>
                    <div class="col-sm-7 col-offset-1">
                        <h4><b>1-click Experiment Setups</b> </h4>
                        <p>Spend less time on tedious experiment setups and more for conducting your experiments. From replicating an experiment conducted by another researcher before to reusing a particular network topology, it all can be done with just one click of the mouse.</p>
                    </div>
                </div>
                <div class="heading col-sm-5 col-sm-offset-1">
                    <div class="col-sm-5">
                        <img src="images/server.png" width="113" height="111"/>
                    </div>
                    <div class="col-sm-7 col-offset-1">
                        <h4><b>Infrastructure with 200+ nodes,GPU's and High end servers</b> </h4>
                        <p>NCL facilitates faster research by providing necessary tools and resources to conduct the experiments in the cloud. We provide compute clusters of 200+ nodes,GPU's and High end servers on demand without large capital investments.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="heading col-sm-5 col-sm-offset-1">
                    <div class="col-sm-5">
                        <img src="images/database.png" width="113" height="111"/>
                    </div>
                    <div class="col-sm-7 col-offset-1">
                        <h4><b>Data and Data Repository </b></h4>
                        <p>Browse,search and contribute to our collection of datasets contributed by other researchers like you. With data ranging from internet traffic data to mobile app data,find and use the one most suitable for you and validate your research.</p>
                    </div>
                </div>
                <div class="heading col-sm-5 col-sm-offset-1">
                    <div class="col-sm-5">
                        <img src="images/padlock.png" width="113" height="111"/>
                    </div>
                    <div class="col-sm-7 col-offset-1">
                        <h4><b>Security</b> </h4>
                        <p>As a cybersecurity lab, security is of our utmost concern. All experiment session are encrypted and carried out in a contained environment, separated from other experiments, as well as the internet.</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
               <!-- <div class="heading col-sm-5 col-sm-offset-1">
                    <div class="col-sm-5">
                        <img src="images/unlink.png" width="113" height="111"/>
                    </div>
                    <div class="col-sm-7 col-offset-1">
                        <h4><b>Federation</b> </h4>
                        <p>With plans of federation with other testbed networks, more research opportunities will arise.</p>
                    </div>
                </div>-->
                <div class="heading col-sm-5 col-sm-offset-1">
                    <div class="col-sm-5">
                        <img src="images/1.png" width="113" height="111"/>
                     </div>
                    <div class="col-sm-7 col-offset-1">
                        <h4><b>New Services</b> </h4>
                        <p>Activity Traffic Generator Environment,Malware Sandbox Testing environment with samples,Customized Environment including obfuscation and attacking scripts.
                        </p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- join us -->

    <div class="container background8">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2">
                <div class="h15">
                    <p>Tools &amp; Services</p>
                </div>
            </div>
        </div> <!-- row -->
        <div class="col-sm-12">
            <div class="col-sm-4">
                <hr/>
                <h4 align="left"><strong>50+ Ready-to-use Common Vulnerabilities and Exposure CVE Environments</strong> </h4>
                <p align="left"><strong>What is this?</strong></p>
                <ul>
                    <li>A description of known vulnerabilities that can be found on  the internet.</li>
                    <li>Ready-to-use CVEs are deployable environments where the vulnerability exists and are difficult to build. </li>
                </ul>
                <!--<p align="left"><strong>Potential Users</strong></p>-->
                <!--<ul>-->
                <!--<li>System Security researchers &amp;lecturers</li>-->
                <!--</ul>-->

            </div>
            <div class="col-sm-4 col-sm-offset-4">
                <hr/>
                <h4 align="left"><strong>Software-defined Networking (SDN) Provisioning Tools</strong> </h4>
                <p align="left"><strong>What is this ?</strong></p>
                <ul>
                    <li>The SDN technology relies on the hardware features on switches. Such SDN switches on large networks are not easily available.</li>
                    <li>NCL has 14 SDN switches connecting 200 nodes. </li>
                </ul>
                <!--<p align="left"><strong>Potential Users</strong></p>-->
                <!--<ul>-->
                <!--<li>SDN researchers in academia</li>-->
                <!--</ul>-->
                <!--<hr/>-->
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <hr/>
                <h4 align="left"><strong>Advance Red Team Environment</strong> </h4>
                <p align="left"><strong>What is this?</strong></p>
                <ul>
                    <li>An environment for various red team activities like Lateral Movement, Obfuscation, Evasion and latest vulnerabilities like Zero Logon</li>
                    <li>Comes with an Active Directory Environment</li>
                </ul>
           </div>
            <div class="col-sm-4 col-sm-offset-4">
                <hr/>
                <h4 align="left"><strong>Virtual Mid-size Enterprise Network</strong></h4>
                <p align="left"><strong>What is this ?</strong></p>
                <ul>
                    <li>A medium-sized virtual network that can simulate multiple real life scenarios.</li>
                    <li>Useful for training and validation. </li>
                </ul>
                <!--<p align="left"><strong>Potential Users</strong></p>-->
                <!--<ul>-->
                <!--<li>Cyber exercise users, forensic training users, cyber security lecturers</li>-->
                <!--</ul>-->
                <hr/>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <hr/>
                <h4 align="left"><strong>Ready-to-use Penetration Testing Environment &amp; Tools </strong></h4>
                <p align="left"><strong>What is this?</strong></p>
                <ul>
                    <li>Pentest is an authorized simulated attack on a computer system, performed to evaluate the security of the system.</li>
                    <li>24*7,online web based portal to access virtual network environment with tools and vulnerabilities pre-installed and configured to learn and practice Pentest techniques. </li>
                </ul>
                <!--<p align="left"><strong>Potential Users</strong></p>-->
                <!--<ul>-->
                <!--<li>Financial community, government agencies and academia researchers/lecturers</li>-->
                <!--</ul>-->
                <hr/>
            </div>

            <!--<div class="col-sm-4 col-sm-offset-4">
                <hr/>
                <h4 align="left"><strong>Virtual Mid-size Enterprise Network</strong></h4>
                <p align="left"><strong>What is this ?</strong></p>
                <ul>
                    <li>A medium-sized virtual network that can simulate multiple real life scenarios.</li>
                    <li>Useful for training and validation. </li>
                </ul>
                &lt;!&ndash;<p align="left"><strong>Potential Users</strong></p>&ndash;&gt;
                &lt;!&ndash;<ul>&ndash;&gt;
                &lt;!&ndash;<li>Cyber exercise users, forensic training users, cyber security lecturers</li>&ndash;&gt;
                &lt;!&ndash;</ul>&ndash;&gt;
                <hr/>
            </div>
-->
        </div>
    </div>
    <section>
        <div class="container ">
            <div class="row ">
                <div class="heading text-center col-sm-12 background4 ">
                    <div>
                        <p class="h15">Data</p>
                        <p>&nbsp;</p>
                    </div></div>
                <div class="col-sm-12 ">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="col-sm-1 col-sm-offset-1">
                        <a href="http://impactcybertrust.org"> <img src="images/impact1.png" width="251" height="189" href="http://impactcybertrust.org"/></a>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <h4><a href="http://impactcybertrust.org">IMPACT</a> </h4>
                        <p>To access IMPACT, researchers need to register for an account at the official website. The Account registration will sent to NCL for verification. Once the profile is verified, researchers can start requesting data sets from IMPACT.</p><p>  Visit the website to create an account and browse the datasets available. Contact <strong>support@ncl.sg</strong> for any help you require.</p>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
