<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>Pricing</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
    <link rel="stylesheet" type="text/css" href="../static/css/newui/pricing.css" />

</head>

<body layout:fragment="content" onload="loadStaticPage('pricing','Pricing/pricing.txt')">
<main id="main" >
<section class="py-5 py-md-5 py-xl-8" style="margin-top:5.5rem;">
    <div id="pricing"></div>
        <!--  start modal  -->
        <div class="modal fade" id="BRModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <select id="request-type" class="selectpicker form-control custom-select" placeholder="Booking or Reservation" data-width="auto">
                                    <option>Booking</option>
                                    <option>Reservation</option>
                                </select>

                            </div>

                            <div class="mb-3">
                                <label for="requestor-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" id="requestor-name" />
                            </div>

                            <div class="mb-3">
                                <label for="requestor-email" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="requestor-email" />
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text" rows="5"></textarea>
                            </div>

                            <div class="mb-3">
                               <label>
                                   <input type="checkbox" />
                                   <u>Terms and Conditions:</u></label>
                                    <ul class="md-tc-text" >
                                    <li>GST is not included in the listed price.</li>
                                    <li>1CPU core = 4 vCPU until further notice.</li>
                                    <li>We offers customized specifications (vCPU, RAM, etc.) and dedicated servers. </li>
                                    <li>We reserves the right to interpret any ambiguities, if present.</li>
                                </ul>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn md-price-btn-close  btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn md-price-btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
    </section>
</main>

<script>
    var brModal = document.getElementById('BRModal')

    brModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
     var button = event.relatedTarget
        // Extract info from data-bs-* attributes
     var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
     var modalTitle = brModal.querySelector('.modal-title')
     var modalBodyInput = brModal.querySelector('.modal-body input')
        if(recipient == "com"){
            modalTitle.textContent = 'Compute Server Offering'
        }
        else{
          modalTitle.textContent = 'GPU Offering'
        }
     modalBodyInput.value = recipient
})
</script>

<script type="text/javascript" src="/js/html5shiv.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->
</body>
</html>

