<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
    <title>Pricing</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
    <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-9 col-sm-offset-1">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="h15">
                        <p>Pricing</p>
                    </div>
                    <p>&nbsp;</p>
                    <h4>As a not-for-profit organization, NCL offers competitive rates to all users.</h4>
                    <p>&nbsp;</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class='wrapper' th:align="center">
                                <div class='package brilliant'>
                                    <div class='name' align="center">SGD 0.12</div>
                                    <div>per node per hour</div>
                                    <h16>Ad-hoc use without reservation</h16>
                                    <hr/>
                                    <p align="left">- Usage subject to resource availability</p>
                                    <p align="left">- 200 <a href="/testbedInformation">Nodes</a> available</p>
                                    <p align="left">- Access to all <a href="plan.html" th:href="@{~/plan}">tools</a></p>
                                    <p align="left">- Access to available datasets </p>
                                    <p align="left">- Access to services</p>
                                    <p align="left"><strong>Terms and Conditions apply</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class='wrapper' th:align="center">
                                <div class='package brilliant'>
                                    <div class='name' align="center">SGD 0.06</div>
                                    <div>per node per hour</div>
                                    <h16>Usage with reservation</h16>
                                    <hr/>
                                    <p align="left">- Guaranteed<sup>*</sup> resource availability</p>
                                    <p align="left">- 200 <a href="/testbedInformation">Nodes</a> available</p>
                                    <p align="left">- Access to all <a href="plan.html" th:href="@{~/plan}">tools</a></p>
                                    <p align="left">- Access to available datasets </p>
                                    <p align="left">- Access to services</p>
                                    <p align="left"><strong>Terms and Conditions apply</strong></p>
                                    <p align="left">&nbsp;</p>
                                   <!-- <p align="left">* Subject to the <a href="/acceptable_usage_policy.pdf">NCL Usage Policy</a></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>

