<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
  <title>Recent Events</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
  <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>

</head>
<body onload="loadStaticPage('RecentEventBody','Events/RecentEventContent.txt')">
<div layout:fragment="content">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="container" style="background-image: url('images/publication_back7.jpg'); object-fit: fill;object-position: 50% 50%;">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2">
        <p align="Center"><b><font size="30px" color="#0d6dba">Recent Events</font></b></p>
        <!--<p>&nbsp;</p>-->
      </div>
    </div> <!-- row -->
    <div id="portfolioSlider">
      <ul class="slides">
        <!-- Added section for 2020 and 2021 events -->
        <li>
         <div id="RecentEventBody">
          <div class="col-md-4 wp4">
            <div class="overlay-effect effects clearfix">
              <div class="img">
                <img class="img-responsive" src="../static/images/MOU_UTB_NCL.jpg" th:src="@{~/images/MOU_UTB_NCL.jpg}" width="720" height="400" alt="ITE_MOU_1"/>
              </div>
            </div>
            <h3 class="news-header">MoU Signing - NCL and Universiti Teknologi Brunei (UTB)</h3>
            <p align="justify">National Cybersecurity R&amp;D Laboratories (NCL) signed a memorandum of understanding (MoU) with the Universiti Teknologi Brunei (UTB) in May 2021 </p>
            <p><a href="https://borneobulletin.com.bn/new-partnership-boosts-cybersecurity-expertise/">Event details</a></p>
  </div>

       <div class="col-md-4 wp4">
          <div class="overlay-effect effects clearfix">
            <div class="img">
              <img class="img-responsive" src="../static/images/ncl_ctf2.jpg" th:src="@{~/images/ncl_ctf2.jpg}" width="720" height="350" alt="ITE_MOU_1"/>
            </div>
          </div>
          <h3 class="news-header">DSO CTF</h3>
          <p align="justify">National Cybersecurity R&amp;D Laboratories (NCL) supported Capture-the-Flag event for DSO in Feb 2021  </p>

 </div>

     <div class="col-md-4 wp4">
             <div class="overlay-effect effects clearfix">
               <div class="img">
                 <img class="img-responsive" src="../static/images/GrantCall_workshop_poster.PNG" th:src="@{~/images/GrantCall_workshop_poster.PNG}" width="720" height="400" alt="ITE_MOU_1"/>
               </div>
             </div>
          <h3 class="news-header">NCL Grant Call Workshop</h3>
         <p align="justify">National Cybersecurity R&amp;D Laboratories (NCL) conducted a cybersecurity workshop in Dec 2020</p>
</div>
         </div>
        </li>
        <!-- 2020 and 2021 events section closed-->
      </ul>
    </div>
    <p>&nbsp;</p>
  </div>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
