<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Join</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body class="mybg loginbackground">
<div th:replace="fragments/login_navigation :: loginnav"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">

    <p>&nbsp;</p>
    <div class="row dashpanel">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 th:text="#{joinTeam.appSubmit.header}">Your application has been received.</h2>
            <h3> However, as a new user, you are required to verify your email address first. </h3>
            <p> A verification email has been sent to your registered email account. Please kindly check your mail box.</p>
            <p> Once verified, Please proceed to login with your credentials.</p>
            <p> If you do not receive a verification email please click on  <button type="button" id="resend_email" class="btn btn-special">Resend Email</button> </p>
            <p>If the problem persists please send an email to <a th:href="#{support.email.link}" th:text="#{support.email}"></a></p>
        </div> <!-- col -->
        <div class="col-md-1"></div>
    </div> <!-- row -->
    <div class="cc-wraper">
        <div class="cc-contactpop fixed">
            <h1>Do you need Help? <span>Get in touch.</span></h1>
            <div class="renseignement">
                <i class="fa fa-times"></i>
                <p>We will get back to you as soon as possible. </p>
            </div>
            <form>
                <ul>
                    <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                    <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                    <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                </ul>
                <p>&nbsp;</p>
            </form>
        </div>
    </div>
</div> <!-- container -->
<div th:replace="fragments/footer:: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>

<script>
    $('#resend_email').on("click", function() {
        $.ajax({
        url: '/resendEmail',
        type: "post",
        cache: false,
        success: function (result) {
        alert(result);
        }
        });
    });
    </script>

</html>
