<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
	<title>Research</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
	<link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
	<link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
	<link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>
</head>
<body>
<div layout:fragment="content">
	<section id="team">
		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<div class="container" style="background-image: url('images/publication_back7.jpg'); object-fit: fill;object-position: 50% 50%;">
			<!--<div class="heading text-center col-sm-12">-->
			<!--<div class="h15">-->
			<div class="h2" align="center">
				<p><b><font size="30px" color="#0d6dba">Research</font></b></p>
			</div>
			<div class="row">
				<img src="images/security4.jpg" style="width:1180px; height:200px; object-fit: cover; object-position: 50% 50%;"/>
			</div>
			<div class="row">

				<h2 class="news-header">Areas of Interest in Testbed Research :</h2>

				<h3 class="news-header">1. SDN Provisioning :</h3>
				<p>The goal of this project is to develop provisioning mechanisms that provide access of the SDN switches to multiple users.  There are concerns on security/privacy due to multi-tenancy, performance issues, and integration with existing Deterlab (the software that our testbed runs on).</p>
				<p>&nbsp;</p>

				<h3 class="news-header">2. Environment Enrichment :</h3>
				<p>We plan to enhance our repository of “ready-to-use” environments in different domains. There would be interesting research and development areas to explore on building and managing a large number of such environments. (e.g., cleansing tools, searching tools).</p>
			</div>
		</div>


	</section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>