<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>National Cybersecurity Laboratories - Resources</title>
	<object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body>

<div th:replace="fragments/login_navigation :: loginnav"></div>
    
    <p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="container">
		<div class="row">
			<div class="heading text-center col-sm-12">
				<div class="h15">
					<p>Research</p>
				</div>
			</div>
			<h2 class="news-header"><u>Areas of Interest in Testbed Research :</u> </h2><br/>
			<h3 class="news-header">1. SDN Provisioning :</h3>
			<p>The goal of this project is to develop provisioning mechanisms that provide access of the SDN switches to multiple users.  There are concerns on security/privacy due to multi-tenancy, performance issues, and integration with existing Deterlab (the software that our testbed runs on).</p>
			<p>&nbsp;</p>
			<h3 class="news-header">2. Environment Enrichment :</h3>
			<p>We plan to build up a repository of “ready-to-use” environments. There would be interesting research and development issues on managing a large number of such environments. (e.g., cleansing tools, searching tools).</p>
			<p>&nbsp;</p>
			<h3 class="news-header">3. Human Behavior Modeling :</h3>
			<p>We are working on two aspects.  </p>
			<p>(a) We intend to incorporate human factors into attack graphs analysis.  We have conducted preliminary studies and are now focusing on how to extract a model of human interactions from various sources, e.g. emails, organization chart, etc.</p>
			<p>	(b)  Our goal is to generate “realistic” network traffic/activities based on human modelling. The main idea is to “replay” and “up-size” previously captured traces in a meaningful way.</p>
		</div>
	</div>


	<div th:replace="fragments/footer :: footer"></div>
	<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>