<!DOCTYPE html>
<html>
<head>
	<title>Scholarship</title>
</head>
<body>
<div>
	<section id="team">
		<div class="container" style="background-image: url('images/publication_back7.jpg'); object-fit: fill;object-position: 50% 50%;">
			<div class="post-content">

				<div class="col-sm-6">
					<img src="images/NUS-NCL collab.jpg" alt="" width="550"  height="150" border="0" align="center" />
				</div>

				<p>&nbsp;</p>
				<p><strong>OVERVIEW</strong></p>
				<p>The CSA-National CyberSecurity RD Labs Scholarship (NCLS) aims to grow and develop a pool of cybersecurity professionals in Singapore. This programme is funded by the Cyber Security Agency of Singapore (CSA) due to the increasing demand for job roles requiring deep specialization in enterprise IT and cyber-physical systems.</p>
				<p>&nbsp;</p>

				<p><strong>ELIGIBILITY</strong></p>
				<p>This scholarship is open to students who:</p>
				<ul>
					<li>Are Singaporeans or Singapore Permanent Residents</li>
					<li>Are enrolled in NUS Masters programme focus on cyber security (full- or part-time).</li>
				</ul>
				<p>&nbsp;</p>

				<p><strong>BENEFITS OF NCLS Scholarship PROGRAMME</strong></p>
				<ul>
					<li>Tuition fees (after MOE Tuition Grant) of the NUS Master of Computing or Related Course programme</li>
					<li>University’s Compulsory Miscellaneous Fees</li>
					<li>Monthly stipend of _______ (full-time students only)</li>
				</ul>
				<p>&nbsp;</p>

				<p><strong>TIMELINE</strong></p>
				<p>If any _____________________</p>

				<p>&nbsp;</p>
				<p><strong>APPLICATION&nbsp;</strong></p>
				<p>____________________________</p>

				<p>&nbsp;</p>
				<p>For enquiries or assistance, contact us at <a href="mailto:CiMS@sutd.edu.sg">CiMS@sutd.edu.sg</a></p>

			</div>
		</div>
	</section>
</div>
</body>
</html>