<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>National Cybersecurity Laboratories - Resources</title>
		<object th:include="fragments/header :: header" th:remove="tag" />
	</head>
	<body class="mybg loginbackground">
	<div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

			<div class="container">
    			<div class="row">
					<div class="heading text-center col-sm-12">
                     <div class="h15">
                       <p>External Links</p>
                     </div>
					<p>&nbsp;</p>
                    <h4>Learn more about cybersecurity research and development in Singapore.</h4>
                    </div>
                    
                    <div class="heading col-sm-8 col-sm-offset-2">
                    <ul>
					<li><h3><a href="http://impactcybertrust.org">IMPACT</a></h3>
						<p>The Information Marketplace for Policy and Analysis of Cyber-risk &amp; Trust (IMPACT) program, funded by US Department of Homeland Securities, supports the global cyber risk research community by coordinating and developing real world data and information sharing capabilities. IMPACT Datasets are available for use by all researchers based in academic universities in Singapore.</p>
						<p>Visit the website to create an account and browse the datasets available. Contact <strong>support@ncl.sg</strong> for any help you require.</p>
					</li>
                    <li><h3><a href="https://www.csa.gov.sg/singcert">SingCERT</a></h3>
                    <p>SingCERT responds to cyber security incident for its Singapore constituent. It was set up to facilitate the detection, resolution and prevention of cyber security related incidents on the Internet.</p>
					</li>
                    <li><h3><a href="http://itrust.sutd.edu.sg/">iTrust</a></h3>
                     <p>iTrust researchers focus on the development of advanced tools and methodologies to ensure security and safety of current and future cyber physical systems and Internet of Things (IoT) systems.</p>
                    </li>
                    <li>
                      <h3><a href="http://www.comp.nus.edu.sg/~tsunami/">TSUNAMi</a></h3>
                     <p>TSUNAMi center  examines how trustworthy software can be built from commercial off-the-shelf (COTS) software components via ingenious combinations of analysis, testing, verification, hardening, isolation and system design.</p>
                    </li>
    			</ul>
					</div>
    			</div> <!-- row -->
				<div class="cc-wraper">
					<div class="cc-contactpop fixed">
						<h1>Do you need Help? <span>Get in touch.</span></h1>
						<div class="renseignement">
							<i class="fa fa-times"></i>
							<p>We will get back to you as soon as possible. </p>
						</div>
						<form>
							<ul>
								<li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
								<li><i class=""></i><span>Email:</span><a href="mailto:support@ncl.sg"> support@ncl.sg</a></li>
								<li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
							</ul>
							<p>&nbsp;</p>
						</form>
					</div>
				</div>
			</div>
	<div th:replace="fragments/footer:: footer"></div>
	<object th:include="fragments/javascript :: javascript" th:remove="tag" />
	</body>
</html>