<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorator="base">
<head>
  <title>Services and Tools</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="../static/css/animate.min.css" />
  <link rel="stylesheet"  type="text/css" href="../static/css/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/lightbox.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
  <link rel="stylesheet" type="text/css" id="static/css-preset" href="../static/css/presets/preset1.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/flexslider.css"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="../static/images/ncl_favicon1.png"/>

</head>
<body>

<div layout:fragment="content">
  <section id="team">
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <!--<div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">-->
    <div class="container">
      <div class="row">

        <h2 align="center"><b><font color="#0d6dba"  size="6.5px">Environments available on NCL Testbed</font></b></h2>
        <!--<h1><b>Environments and Services</b></h1>-->

      </div>

      <div class="row">
        <!--<img src="images/cloud_computing10.jpg" style="width:1160px; height:200px; object-fit: cover; object-position: 50% 50%;"/>-->
        <img src="images/security3.jpg" style="width:1160px; height:200px; object-fit:fill;object-position: 50% 50%;"/>
      </div>
    </div>

    <!-- <div class="container" style="background-image: url('images/white_back2.jpg'); object-fit: fill;object-position: 50% 50%;">-->
    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="col-sm-12">

        <!-- <h3 class="news-header"><b><font color="#0d6dba">1. &nbsp;Virtual networks and vulnerable environments in different domains for cybersecurity experimentation and testing</font></b></h3>-->
        <h2 class="team-heading team-heading-current-team3"><b>Virtual networks &amp; vulnerable environments in different domains for cybersecurity experimentation &amp; testing</b></h2>
        <ul>
          <li><p><font color="#050505">&nbsp;&nbsp;&nbsp;Consists of virtual networks, vulnerability environments, attacking scripts, 50+ CVE’s etc</font></p></li>
          <li><p><font color="#050505">&nbsp;&nbsp;&nbsp;Hard to simulate and controlled environments</font></p></li>
          <li><p><font color="#050505">&nbsp;&nbsp;&nbsp;Ready-to-use experimental setups and private/isolated environments </font></p></li>
          <li><p><font color="#050505">&nbsp;&nbsp;&nbsp;Common components supporting wide range of activities</font></p></li>
          <li><p><font color="#050505">&nbsp;&nbsp;&nbsp;Helpful to streamline/expedite R&amp;D, translation and delivery of new solutions</font></p></li>
        </ul>
      </div>
    </div> <!-- container 1st ends here-->
    <br></br>
    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">

      <!-- <div class="col-sm-8 col-sm-offset-3">-->
      <div class="row">
        <!-- <h2><b><font color="#0d6dba">Pentest &amp; Red Team Environment</font></b></h2>-->
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Pentest &amp; Red Team Environment</font></b></h2>
      </div>


      <div class="col-sm-12">
        <div class="col-sm-6">
          <img src="images/redteamdetails3.PNG" alt="" width="550"  height="350" border="0" align="right" />
        </div>

        <div class="col-sm-6">
          <div class="row">
            <ul>
              <p><font color="#050505"></font> </p>
              <p><font color="#050505"></font> </p><br></br>
              <p><font color="#050505"></font> </p><br></br>
              <p><font color="#050505"></font> </p><br></br>
              <li><p><font color="#050505">For educational &amp; professional training</font> </p></li>
              <li><p><font color="#050505">Useful for hands-on practice and skills assessment</font></p></li>
              <li><p><font color="#050505">Comes with modular environment setup</font></p></li>
              <li><p><font color="#050505">Various features like Web, Email, Databases, etc. and phases in Pentesting (Enumeration, Vulnerability Analysis, Exploitation) are covered in the environments</font></p></li>
            </ul>
          </div>
        </div>
      </div>


      <div class="col-sm-12">
        <div class="col-sm-6">
          <img src="images/redteamdetails1.PNG" alt="" width="450"  height="300" border="0" align="center" />
        </div>

        <div class="col-sm-6">
          <img src="images/redteamdetails2.PNG" alt="" width="450"  height="300" border="0" align="center" />
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <p><font color="#050505"></font> </p>
          <p><font color="#050505"></font> </p>
          <p><font color="#0d6dba">&nbsp;&nbsp;&nbsp;If you would like to explore the environment on NCL testbed for your projects/research,please reach out to us at support@ncl.sg for more information!</font></p>
        </div>
      </div>

    </div><!-- container 1 ends-->
    <br></br>
    <br></br>
    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="row">
        <!--<div class="col-sm-8 col-sm-offset-4">-->
        <!--<h2><b><font color="#0d6dba">Smart Grid OT Environment</font></b></h2>-->
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Smart Grid OT Environment</font></b></h2>
        <!-- </div>-->
      </div>


      <div class="col-sm-12">
        <div class="col-sm-6">
          <img src="images/smartGridOT.PNG" alt="" width="500"  height="350" border="0" align="left" />
        </div>

        <div class="col-sm-6">
          <div class="row">
            <ul>
              <p><font color="#050505"></font> </p>
              <p><font color="#050505"></font> </p>
              <p><font color="#050505"></font> </p><br></br>
              <li><p><font color="#050505">OT (Operational Technology) Testbed in cloud</font> </p></li>
              <li><p><font color="#050505">Can be used to emulate Cyberattacks in SCADA systems (eg. 2015 Ukraine attack on Smart Grid)</font></p></li>
              <li><p><font color="#050505">In collaboration with ADSC</font></p></li>
              <li><p><font color="#050505">Leverage Open-Source Software to facilitate development/usage</font> </p></li>
              <li><p><font color="#050505">Emulate all OT physical/embedded devices (e.g. sensor, PLC) into VM instances for safer and faster testing/development</font></p></li>
              <li><p><font color="#050505">In collaboration with ADSC</font></p></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <p><font color="#050505"></font> </p>
          <p><font color="#050505"></font> </p>
          <p><font color="#0d6dba">&nbsp;&nbsp;&nbsp;If you would like to explore the environment on NCL testbed for your projects/research,please reach out to support@ncl.sg for more information!</font></p>
        </div>
      </div>

    </div> <!-- container 2 ends-->
    <br></br>
    <br></br>

    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="row">
        <!-- <h2><b><font color="#0d6dba">Healthcare/Hospital Environment</font></b></h2>-->
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Healthcare/Hospital Environment</font></b></h2>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-5">
          <img src="images/healthcare_env.PNG" alt="" width="450"  height="350" border="0" align="left" />
        </div>

        <div class="col-sm-7">
          <div class="row" align="left">
            <ul>
              <p><font color="#050505"></font> </p>
              <li><p><font color="#050505">A Simulated Healthcare integrated with Windows Active Directory service</font> </p></li>
              <li><p><font color="#050505">Provides dynamic and realistic environment with simultaneous access of attackers and users in various roles (e.g. Doctor, Patient) with simulated workflow</font></p></li>
              <li><p><font color="#050505">Facilitate more realistic testing/training</font></p></li>
              <li><p><font color="#050505">Support Role-based Access Management with multiple level of  authentication</font> </p></li>
              <li><p><font color="#050505">Configured with predefined users account (more than 1000)</font></p></li>
              <li><p><font color="#050505">Supports Data Anonymity to protect patient's information</font></p></li>
            </ul>
          </div>
        </div>


      </div>

      <div class="col-sm-12">
        <div class="row">
          <p><font color="#050505"></font> </p>
          <p><font color="#050505"></font> </p>
          <p><font color="#0d6dba">&nbsp;&nbsp;&nbsp;If you would like to explore the environment on NCL testbed for your projects/research,please reach out to support@ncl.sg for more information!</font></p>
        </div>
      </div>

    </div> <!-- container 3 ends -->
    <br></br>
    <br></br>
    <!--<div class="container" style="background-image: url('images/publication_back7.jpg'); object-fit: fill;object-position: 50% 50%;">-->
    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="row">
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Log4Shell Environment</font></b></h2>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-5">
         <!-- <iframe width="450" height="250" src="https://www.youtube.com/embed/jG-WExKidcM"> </iframe>-->
          <iframe width="450" height="250" src="https://www.youtube.com/embed/gMqJ0CjIHoQ"> </iframe>

        </div>


        <div class="col-sm-7" align="left">
          <div class="row">
            <ul>
              <p><font color="#050505"></font> </p>
              <p><font color="#050505"></font> </p>
              <li><p><font color="#050505">Replay Log4Shell attack on NCL testbed</font></p></li>
              <li><p><font color="#050505">Explore and learn about Log4Shell (CVE-2021-44228) vulnerability </font></p></li>

              <!--<li><p><font color="#050505">Common vulnerabilities in web applications based on OWASP Top 10</font></p></li>
              <li><p><font color="#050505">How such vulnerabilities could be discovered in real world web applications</font> </p></li>
              <li><p><font color="#050505">How a successful kill-chain could be designed by chaining the vulnerabilities for remote code execution</font> </p></li>-->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <p><font color="#050505"></font> </p>
          <p><font color="#050505"></font> </p>
          <p><font color="#0d6dba">&nbsp;&nbsp;&nbsp;If you would like to explore the environment on NCL testbed for your projects/research,please reach out to support@ncl.sg for more information!</font></p>
        </div>
      </div>
    </div> <!-- container 4 ends -->
    <br></br>

    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="row">

        <!--<h2><b><font color="#0d6dba">Fintech Environment</font></b></h2>-->
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Fintech Environment</font></b></h2>

      </div>

      <div class="col-sm-12">
        <div class="col-sm-5">
          <img src="images/fintech_env4.jpg" alt="" width="450"  height="250" border="0" align="right" />
        </div>

        <div class="col-sm-7" align="left">
          <div class="row">
            <ul>
              <p><font color="#050505"></font> </p>
              <p><font color="#050505"></font> </p>
              <li><p><font color="#050505">Cyber kill chain in a fintech environment</font></p></li>
              <li><p><font color="#050505">Common vulnerabilities in web applications based on OWASP Top 10</font></p></li>
              <li><p><font color="#050505">How such vulnerabilities could be discovered in real world web applications</font> </p></li>
              <li><p><font color="#050505">How a successful kill-chain could be designed by chaining the vulnerabilities for remote code execution</font> </p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row">
          <p><font color="#050505"></font> </p>
          <p><font color="#050505"></font> </p>
          <p><font color="#0d6dba">&nbsp;&nbsp;&nbsp;If you would like to explore the environment on NCL testbed for your projects/research,please reach out to support@ncl.sg for more information!</font></p>
        </div>
      </div>
    </div> <!-- container 5 ends -->
    <br></br>

    <div class="container">
      <div class="row">
        <h2 align="center"><b><font color="#0d6dba" size="7px">Services &amp; Tools</font></b></h2>
      </div>
    </div>
    <br></br>
    <!--<div class="container" style="background-image: url('images/white_back2.jpg'); object-fit: fill;object-position: 50% 50%;">-->
    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="row">
        <!--<div class="col-sm-8 col-sm-offset-3">-->
        <!-- <h2><b><font color="#0d6dba">Activity Traffic Generator - OctoBot</font></b></h2>-->
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Activity Traffic Generator - OctoBot</font></b></h2>
      </div>

      <div class="col-sm-12">
        <div class="col-sm-6">
          <img src="images/OctoBot.PNG" alt="" width="500"  height="250" border="0" align="right" />
        </div>

        <div class="col-sm-6">
          <div class="row">
            <ul>
              <p><font color="#050505"></font> </p>
              <p><font color="#050505"></font> </p><br></br>
              <!-- <p><font color="#050505"></font> </p><br></br>-->

              <li><p><font color="#050505">Useful for cyber exercise or security product testing that require realistic white traffic to camouflage the attack traffic from the attackers</font> </p></li>
              <li><p><font color="#050505">Generates realistic "white" traffic by generating human-behave activity with a system</font></p></li>
              <li><p><font color="#050505">OctoBot can generate several activities (e.g., web browsing, upload data) for web server and IT healthcare system</font></p></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-12">
        <div class="row">
          <p><font color="#050505"></font> </p>
          <p><font color="#050505"></font> </p>
          <p><font color="#0d6dba">&nbsp;If you would like to explore the environment on NCL testbed for your projects/research,please reach out to support@ncl.sg for more information!</font></p>
        </div>
      </div>

    </div> <!--container -->
    <br></br>
    <br></br>

    <div class="container" style="background-image: url('images/white_back5.jpg'); object-fit: fill;object-position: 50% 50%;">
      <div class="col-sm-12">
        <!--<h3 class="news-header"><font color="#0d6dba">4.&nbsp;Support for Capture-The-Flag events</font></h3>-->
        <!-- <h2 class="team-heading team-heading-current-team3"><b>Support for Capture-The-Flag events</b></h2>-->
        <h2 class="team-heading team-heading-current-team1"><b><font color="#080A0A">Support for Capture-The-Flag events</font></b></h2>
        <div class="row">
          <div class="col-sm-4">
            <img src="images/ITE_CTF.jpg" alt="" width="400"  height="200" border="0" align="left" />
          </div>
          <div class="col-sm-8">
            <ul>
              <li><p><font color="#050505">NCL provides support for the conduct of CTF events</font> </p></li>
              <li><p><font color="#050505">Growing number of users from community </font></p></li>
              <li><p><font color="#050505">NCL has supported multiple CTF events for academia and agencies</font></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- container 6 ends here -->


  </section>
</div>
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/js/html5shiv.js"></script>
<script type="text/javascript" src="../static/js/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
<script type="text/javascript" src="../static/js/jquery.inview.min.js"></script>
<script type="text/javascript" src="../static/js/wow.min.js"></script>
<script type="text/javascript" src="../static/js/mousescroll.js"></script>
<script type="text/javascript" src="../static/js/jquery.countTo.js"></script>
<script type="text/javascript" src="../static/js/lightbox.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/waypoints.min.js"></script>
<script type="text/javascript" src="../static/js/minimal.lightbox.js"></script>
<script type="text/javascript" src="../static/js/jquery.flexslider.js"></script>
</body>
</html>
