<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Sign Up 2</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/custom.css" th:href="@{css/custom.css}"/>
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="static/js/custom.js" th:src="@{js/custom.js}"></script>
    </head>
    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="panel panel-default registration-panel">
                        
                        <div class="panel-heading">
                            <h3>Registration</h3>
                        </div> <!-- panel-heading -->
                        
                        <div class="panel-body">
                            <form action="#" th:action="@{/signup2}" method="post" role="form" th:object="${signUpMergedForm}">
                                <!-- Account Details -->
                                <fieldset id="step1" class="first current">
                                
			                        <!-- progressbar -->
			                        <ul id="progressbar">
			                            <li class="active">&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                        </ul>
			                        
	                                <h3>Create Your Account</h3>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Email" th:field="*{email}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="password" class="form-control" placeholder="Confirm Password" th:field="*{confirmPassword}"/>
	                                </div>
	                                <button type="button" class="btn btn-primary btn-next">Next</button>
                                </fieldset>
                                
                                <!-- Personal Details -->
                                <fieldset id="step2">
                                
			                        <!-- progressbar -->
			                        <ul id="progressbar">
			                            <li>&nbsp;</li>
			                            <li class="active">&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                        </ul>
                                
                                	<h3>Personal Details</h3>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Full Name" th:field="*{name}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Job Title" th:field="*{jobTitle}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Institution/Employer" th:field="*{institution}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Institution Abbreviation" th:field="*{institutionAbbreviation}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Institution's Website" th:field="*{website}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Address1" th:field="*{address1}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Address2" th:field="*{address2}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Country" th:field="*{country}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="City" th:field="*{city}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Province" th:field="*{province}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Postal Code" th:field="*{postalCode}"/>
	                                </div>
									<button type="button" class="btn btn-primary btn-prev">Previous</button>
									<button type="button" class="btn btn-primary btn-next">Next</button>
                                </fieldset>
                                
                                <!-- Select to apply or join existing team -->
                                <fieldset id="step3">
                                
			                        <!-- progressbar -->
			                        <ul id="progressbar">
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li class="active">&nbsp;</li>
			                            <li>&nbsp;</li>
			                        </ul>
			                        
	                                <div class="form-group">
	                                	<h4>You need to be a part of a team to use our resources.</h4>
	                                	<div class="row">
		                                	<div class="col-sm-6">
		                                		<button type="button" class="btn btn-primary btn-block apply-create-team">Apply to create a new team</button>
		                                	</div>
		                                	<div class="col-sm-6">
		                                		<button type="button" class="btn btn-primary btn-block apply-join-team">Apply to join an existing team</button>
		                                	</div>
	                                	</div>
	                                	<button type="button" class="btn btn-default btn-prev">Previous</button>
	                                </div>
                                </fieldset>
                                
                                <!-- Apply to Create New Team Details -->
                                <fieldset id="step4_1" class="last">
                                
			                        <!-- progressbar -->
			                        <ul id="progressbar">
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li class="active">&nbsp;</li>
			                        </ul>
			                        
                                	<h3>Apply to create a new team</h3>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Team Name" th:field="*{teamName}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Team Description" th:field="*{teamDescription}"/>
	                                </div>
	                                <div class="form-group">
	                                    <input type="text" class="form-control" placeholder="Team Website" th:field="*{teamWebsite}"/>
	                                </div>
			                        <div class="form-group">
			                            <label for="organizationType">Organization Type:</label>
			                            <select class="form-control" th:field="*{teamOrganizationType}">
			                                <option value="academia">Academia</option>
			                                <option value="government">Government</option>
			                                <option value="industry">Industry</option>
			                            </select>
			                        </div>
			                        <div class="form-group">
			                            <div class="radio">
			                                <label><input type="radio" th:field="*{isPublic}" th:value="public"/><strong>Public</strong> <em>Anyone can view the team.</em></label>
			                            </div>
			                            <div class="radio">
			                                <label><input type="radio" th:field="*{isPublic}" th:value="private"/><strong>Private</strong> <em>Only people explicitly granted permission can access.</em></label>
			                            </div>
			                        </div>
			                        <div class="form-group">
			                            <div class="checkbox">
			                                <label><input type="checkbox" th:field="*{hasAcceptTeamOwnerPolicy}"/> <a href="team_owner_policy" th:src="@{/team_owner_policy}">I accept the team owner policy</a></label>
			                            </div>
			                        </div>
	                                <div class="form-group">
	                                	<button type="button" class="btn btn-primary btn-prev-selection">Previous</button>
	                                    <button type="submit" class="btn btn-success">Submit</button>
	                                </div>
                               	</fieldset>
                               	
                                <!-- Apply to Join Existing Team Details -->
                                <fieldset id="step4_2" class="last">
                                
			                        <!-- progressbar -->
			                        <ul id="progressbar">
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li>&nbsp;</li>
			                            <li class="active">&nbsp;</li>
			                        </ul>
			                        
                                	<h3>Apply to join an existing team</h3>
			                        <div class="form-group">
			                            <input type="text" class="form-control" placeholder="Team Name to Join" th:field="*{joinTeamName}"/> 
			                        </div>
	                                <div class="form-group">
	                                	<button type="button" class="btn btn-primary btn-prev-selection">Previous</button>
	                                    <button type="submit" class="btn btn-success">Submit</button>
	                                </div>
                                </fieldset>
                                
                            </form>
                        </div> <!-- panel-body -->
                        
                    </div> <!-- panel -->
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
    </body>
</html>