<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Sign Up</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/custom.css" th:href="@{css/custom.css}"/>
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="static/js/custom.js" th:src="@{js/custom.js}"></script>
    </head>
    <body class="mybg">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="panel panel-default registration-panel">
                        
                        <div class="panel-heading">
                            <h3>Registration</h3>
                        </div> <!-- panel-heading -->
                        
                        <!-- progressbar -->
                        <!--  
                        <ul id="progressbar">
                            <li class="active">Account Details</li>
                            <li>Personal Particulars</li>
                            <li>New Circle</li>
                        </ul>
                        -->
                        
                        <div class="panel-body">
                            <form action="#" th:action="@{/signup}" method="post" role="form" th:object="${signUpAccountDetailsForm}">
                                <fieldset>
	                                <h3>Create Your Account</h3>
	                                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
	                                    <input type="text" class="form-control" placeholder="Email" th:field="*{email}"/>
	                                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
	                                </div>
	                                <div class="form-group text-danger" th:if="${signUpAccountDetailsForm != null and signUpAccountDetailsForm.errorMsg != null}" th:text="${signUpAccountDetailsForm.errorMsg}">Passwords do not match</div>
	                                <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
	                                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}"/>
	                                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
	                                </div>
	                                <div class="form-group">
	                                    <input type="password" class="form-control" placeholder="Confirm Password" th:field="*{confirmPassword}"/>
	                                </div>
	                                <div class="form-group">
	                                    <button type="submit" class="btn btn-primary">Next</button>
	                                </div>
                                </fieldset>
                            </form>
                        </div> <!-- panel-body -->
                        
                    </div> <!-- panel -->
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
    </body>
</html>