<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Login</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <div class="row">
                <h2 th:text="#{inviteUsers.header}">Invite User</h2>
                <form  method="post" action="#" th:action="@{/team_profile/invite_user/{teamId}(teamId=${teamIdVar})}" th:object="${teamPageInviteMemberForm}" role="form">
                    <fieldset>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" th:field="*{inviteUserEmail}"/>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Invite</button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->  
    </body>
</html>