<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Admin</title>
    <object th:include="fragments/header :: header" th:remove="tag"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
</head>
<body class="mybg loginbackground">
<div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
<div class="container">
    <div class="row">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div th:if="${message}">
            <p><i class="fa fa-exclamation-circle btn-fa-red"></i> <span class="account-change-fail" th:text="${message}"></span></p>
        </div>
        <div th:if="${messageSuccess}">
            <p><span class="account-change-success"><i class="fa fa-check"></i> <span th:text="${messageSuccess}"></span></span></p>
        </div>
        <div id="teamsManagement" class="tab-pane fade in active">
            <h2 class="team-heading team-heading-current-team padding" th:text="#{admin.dashboard.nav.teams}">Teams Management</h2>
            <p>&nbsp;</p>
            <th:block th:if="${teamsMap.isEmpty()}">
                <p>There is no teams in the system</p>
            </th:block>
            <table id="myTable"  class="table table-responsive" th:if="not ${teamsMap.isEmpty()}">
                <thead>
                <tr>
                    <th th:text="#{admin.teams.header.name}">Team</th>
                    <th th:text="#{admin.teams.header.owner}">Owner</th>
                    <th th:text="#{admin.teams.header.type}">Type</th>
                    <th th:text="#{admin.teams.header.status}">Status</th>
                    <th th:text="#{admin.teams.header.applicationDate}">Application Date</th>
                    <th><!--Actions--></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teamsMap}">
                    <td>
                        <a th:href="'#'+${team.value.name}" data-toggle="modal"><span th:text="${team.value.name}"></span></a>
                        <div class="modal fade admin-modal" th:id="${team.value.name}" aria-labelledby="ownerId2" tabindex="-1" role="dialog" aria-hidden="true">
                            <!-- Modal -->
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header team-owner-info-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title"><span th:text="#{admin.teams.header.descriptions}">Team Info</span></h4>
                                    </div>
                                    <div class="modal-body team-owner-info-body">
                                        <ul>
                                            <li><strong>Team Name : </strong> <span th:text="${team.value.name}"></span></li>
                                            <li><strong>Decription : </strong> <span th:text="${team.value.description}"></span></li>
                                            <li><strong>Type : </strong> <span th:text="${team.value.organisationType}"></span></li>
                                            <li><strong>Visibility : </strong> <span th:text="${team.value.visibility}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a th:href="'#'+${team.value.id}" data-toggle="modal"><span th:text="${team.value.owner.firstName + ' ' + team.value.owner.lastName}"></span></a>
                        <!-- Modal -->
                        <div class="modal fade admin-modal" th:id="${team.value.id}" aria-labelledby="ownerId2" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header team-owner-info-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="ownerId2"><span th:text="#{admin.teams.header.modal}">Team Owner Info</span></h4>
                                    </div>
                                    <div class="modal-body team-owner-info-body">
                                        <ul>
                                            <li><strong th:text="#{acc.info.fullName}"></strong>: <span th:text="${team.value.owner.firstName + ' ' + team.value.owner.lastName}"></span></li>
                                            <li><strong th:text="#{acc.info.email}"></strong>: <span th:text="${team.value.owner.email}"></span></li>
                                            <li><strong th:text="#{acc.info.phone}"></strong>: <span th:text="${team.value.owner.phone}"></span></li>
                                            <li><strong th:text="#{acc.info.jobTitle}"></strong>: <span th:text="${team.value.owner.jobTitle}"></span></li>
                                            <li><strong th:text="#{acc.info.institution}"></strong>: <span th:text="${team.value.owner.institution}"></span></li>
                                            <li><strong th:text="#{acc.info.country}"></strong>: <span th:text="${team.value.owner.country}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td th:text="${team.value.organisationType}">Type</td>
                    <td th:text="${team.value.status}">Status</td>
                    <!-- request dataTables plugin to sort using value and not display text -->
                    <!-- use thymeleaf to format zoneddatetime to display in readable format -->
                    <td th:attr="data-order=${team.value.applicationDate}">
                        <span th:text="${ team.value.applicationDate != null ? #temporals.format(team.value.applicationDate, 'MMM-dd-yyyy') : '?'}"></span>
                    </td>
                    <td>
                        <a th:href="@{/admin/teams/{teamId}/(teamId=${team.value.id}, action = restrict)}" th:if="${team.value.status} == 'APPROVED'">Restrict</a>
                        <a th:href="@{/admin/teams/{teamId}/(teamId=${team.value.id}, action = free)}" th:if="${team.value.status} == 'RESTRICTED'">Free</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments/footer:: footer"></div>
</body>

<script type="text/javascript" src="static/js/jquery.min.js" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="static/js/jquery.inview.min.js" th:src="@{~/js/jquery.inview.min.js}"></script>
<script type="text/javascript" src="static/js/wow.min.js" th:src="@{~/js/wow.min.js}"></script>
<script type="text/javascript" src="static/js/mousescroll.js" th:src="@{~/js/mousescroll.js}"></script>
<script type="text/javascript" src="static/js/jquery.countTo.js" th:src="@{~/js/jquery.countTo.js}"></script>
<script type="text/javascript" src="static/js/lightbox.min.js" th:src="@{~/js/lightbox.min.js}"></script>
<script type="text/javascript" src="static/js/main.js" th:src="@{~/js/main.js}"></script>
<script type="text/javascript" src="static/js/waypoints.min.js" th:src="@{~/js/waypoints.min.js}"></script>
<script type="text/javascript" src="static/js/minimal.lightbox.js" th:src="@{~/js/minimal.lightbox.js}"></script>
<script type="text/javascript" src="static/js/jquery.flexslider.js" th:src="@{~/js/jquery.flexslider.js}"></script>
<script>
    $(document).ready(function () {
        //-----------------admin sort table -------------
        // sort the fifth column - date from largest zoneddatetime (most recent) to smallest
        $('#myTable').DataTable({
            "order": [[ 4, 'desc' ]]
        });
    })
</script>
</html>