<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Apply for New Team</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet"  type="text/css" href="static/css/font-awesome/css/font-awesome.min.css" th:href="@{~/css/font-awesome/css/font-awesome.min.css}"/>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{~/css/main.css}"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/ncl_favicon1.png" th:href="@{~/images/ncl_favicon1.png}"/>
        
	  <!--[if lt IE 9]>
	    <script type="text/javascript" src="static/js/html5shiv.js" th:src="@{~/js/html5shiv.js}"></script>
	    <script type="text/javascript" src="static/js/respond.min.js" th:src="@{~/js/respond.min.js}"></script>
	  <![endif]-->
	  
        <script type="text/javascript" src="static/js/jquery-1.12.2.min.js" th:src="@{~/js/jquery-1.12.2.min.js}"></script>
        <script type="text/javascript" src="static/js/bootstrap.min.js" th:src="@{~/js/bootstrap.min.js}"></script>
		<script type="text/javascript" src="static/js/main.js" th:src="@{~/js/main.js}"></script>
    </head>
    <body class="mybg">
                <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
                <p>&nbsp;</p>
                <div class="container">
                    <div class="row">
                <h2  class="team-heading team-heading-current-team" th:text="#{teamPageApply.header}">Apply for a New Team</h2>
                 <p>&nbsp;</p>
                <form  method="post" action="#" th:action="@{/teams/apply_team}" th:object="${teamPageApplyTeamForm}" role="form">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group" th:classappend="${#fields.hasErrors('teamName')}? 'has-error'">
                                <input type="text" class="form-control" id="inputTeam" placeholder="Team Name" name="" th:field="*{teamName}"/>
                                <span class="help-block" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}">Team name error</span>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('teamDescription')}? 'has-error'">
                            <input type="text" class="form-control" id="inputDescription" placeholder="Team Description" name="" th:field="*{teamDescription}"/> 
                            <span class="help-block" th:if="${#fields.hasErrors('teamDescription')}" th:errors="*{teamDescription}">Team description error</span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputWebsite" placeholder="Team Website" name="" th:field="*{teamWebsite}"/> 
                        </div>
                        <div class="form-group">
                            <label for="organizationType" th:text="#{signup.organizationType}">Organization Type:</label>
                            <select class="form-control" th:field="*{teamOrganizationType}">
                                <option value="Academic" th:text="#{signup.academia}">Academia</option>
                                <option value="Government" th:text="#{signup.government}">Government</option>
                                <option value="Industry" th:text="#{signup.industry}">Industry</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span class="text-danger" th:if="${#fields.hasErrors('isPublic')}" th:errors="*{isPublic}">Public or Private</span>
                            <div class="radio">
                                <label><input type="radio" th:field="*{isPublic}" th:value="PUBLIC"/><span th:text="#{signup.publicTeam}">Public</span> <em><span th:text="#{signup.publicTeam.desc}">Anyone can view the team.</span></em></label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" th:field="*{isPublic}" th:value="PRIVATE"/><span th:text="#{signup.privateTeam}">Private</span><em><span th:text="#{signup.privateTeam.desc}">Only people explicitly granted permission can access.</span></em></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" th:field="*{hasAcceptTeamOwnerPolicy}"/> <a href="/team_owner_policy" th:src="@{/team_owner_policy}"> <span th:text="#{signup.acceptTeamOwnerPolicy}">I accept the team owner policy</span></a></label>
                                <span class="text-danger" th:if="${#fields.hasErrors('hasAcceptTeamOwnerPolicy')}" th:errors="*{hasAcceptTeamOwnerPolicy}">Team owner error</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-standard">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>