<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Team Application</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3 th:text="#{teamPage.submitTeamApp.header}">Your application has been received.</h3>
                    <p th:text="#{teamPage.submitTeamApp.info}">We will usually review your application real fast!</p>
                    <p>However, if your application is still pending after 5 business days, please contact us at <a href="mailto:support@ncl.sg">support@ncl.sg</a></p>
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer:: footer"></div>
    </body>
</html>