<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Team appply</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
                <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
                <p>&nbsp;</p>
                <div class="container">
                    <div class="row">
                <h2  class="team-heading team-heading-current-team" th:text="#{teamPageApply.header}">Apply for a New Team</h2>
                 <p>&nbsp;</p>
                <div th:if="${message}">
                    <p><i class="fa fa-exclamation-circle btn-fa-red"></i> <span class="account-change-fail" th:text="${message}"></span></p>
                </div>
                <form  method="post" action="#" th:action="@{/teams/apply_team}" th:object="${teamPageApplyTeamForm}" role="form">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-group" th:classappend="${#fields.hasErrors('teamName')}? 'has-error'">
                                <input type="text" class="form-control" id="inputTeam" placeholder="Team Name" th:field="*{teamName}" th:maxlength="12"/>
                                <span class="account-change-fail" th:if="${#fields.hasErrors('teamName')}"><i class="fa fa-exclamation-circle"></i> <span th:errors="*{teamName}"></span></span>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('teamDescription')}? 'has-error'">
                            <input type="text" class="form-control" id="inputDescription" placeholder="Team Description" th:field="*{teamDescription}"/>
                            <span class="account-change-fail" th:if="${#fields.hasErrors('teamDescription')}"><i class="fa fa-exclamation-circle"></i> <span th:errors="*{teamDescription}"></span></span>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('teamWebsite')}? 'has-error'">
                            <input type="text" class="form-control" id="inputWebsite" placeholder="Team Website" th:field="*{teamWebsite}"/>
                            <span class="account-change-fail" th:if="${#fields.hasErrors('teamWebsite')}"><i class="fa fa-exclamation-circle"></i> <span th:errors="*{teamWebsite}"></span></span>
                        </div>
                        <div class="form-group">
                            <label for="organizationType" th:text="#{signup.organizationType}">Organization Type:</label>
                            <select class="form-control" th:field="*{teamOrganizationType}">
                                <option value="Academic" th:text="#{signup.academia}">Academia</option>
                                <option value="Government" th:text="#{signup.government}">Government</option>
                                <option value="Industry" th:text="#{signup.industry}">Industry</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <span class="text-danger" th:if="${#fields.hasErrors('isPublic')}" th:errors="*{isPublic}">Public or Private</span>
                            <div class="radio">
                                <label><input type="radio" th:field="*{isPublic}" th:value="PUBLIC"/><span th:text="#{signup.publicTeam}">Public</span> <em><span th:text="#{signup.publicTeam.desc}">Anyone can view the team.</span></em></label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" th:field="*{isPublic}" th:value="PRIVATE"/><span th:text="#{signup.privateTeam}">Private</span><em><span th:text="#{signup.privateTeam.desc}">Only people explicitly granted permission can access.</span></em></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-standard">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->
                <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>