<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - TEam Join</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <p>&nbsp;</p>
        <div class="container">
            <div class="row">
                <h2 class="team-heading team-heading-current-team" th:text="#{joinTeam.header}">Join Team</h2>
                <p>&nbsp;</p>
                <form  method="post" action="#" th:action="@{/teams/join_team}" th:object="${teamPageJoinTeamForm}" role="form">
                    <fieldset>
                        <div class="form-group" th:classappend="${#fields.hasErrors('teamName')}? 'has-error'">
                            <input type="text" class="form-control" id="inputTeam" placeholder="Team Name to Join" name="" th:field="*{teamName}"/> 
                            <span class="help-block" th:if="${#fields.hasErrors('teamName')}" th:errors="*{teamName}">Team name cannot be empty</span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-standard">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>