<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Login</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg">
        <div class="container">
            <div class="row">
                <h2 th:text="#{teamOwnerPolicy.header}">Team Owner Policy</h2>
                <div class="alert alert-info">
                    <strong>Important!</strong> Please take some time to read the following usage policy with regards to team ownership.
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed tincidunt ipsum. Nam eget justo ut quam tristique fringilla. Etiam vehicula faucibus lobortis. Ut facilisis ipsum ac dolor consectetur bibendum. Ut rhoncus pellentesque porta. Morbi faucibus dui et elit vulputate interdum. Ut molestie mauris ac risus aliquam maximus. Morbi ut posuere urna, mattis tempor nibh. Pellentesque ac fermentum enim, eu mattis massa. Nam et quam condimentum, consequat quam vitae, blandit turpis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed tincidunt ipsum. Nam eget justo ut quam tristique fringilla. Etiam vehicula faucibus lobortis. Ut facilisis ipsum ac dolor consectetur bibendum. Ut rhoncus pellentesque porta. Morbi faucibus dui et elit vulputate interdum. Ut molestie mauris ac risus aliquam maximus. Morbi ut posuere urna, mattis tempor nibh. Pellentesque ac fermentum enim, eu mattis massa. Nam et quam condimentum, consequat quam vitae, blandit turpis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed tincidunt ipsum. Nam eget justo ut quam tristique fringilla. Etiam vehicula faucibus lobortis. Ut facilisis ipsum ac dolor consectetur bibendum. Ut rhoncus pellentesque porta. Morbi faucibus dui et elit vulputate interdum. Ut molestie mauris ac risus aliquam maximus. Morbi ut posuere urna, mattis tempor nibh. Pellentesque ac fermentum enim, eu mattis massa. Nam et quam condimentum, consequat quam vitae, blandit turpis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed tincidunt ipsum. Nam eget justo ut quam tristique fringilla. Etiam vehicula faucibus lobortis. Ut facilisis ipsum ac dolor consectetur bibendum. Ut rhoncus pellentesque porta. Morbi faucibus dui et elit vulputate interdum. Ut molestie mauris ac risus aliquam maximus. Morbi ut posuere urna, mattis tempor nibh. Pellentesque ac fermentum enim, eu mattis massa. Nam et quam condimentum, consequat quam vitae, blandit turpis.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed tincidunt ipsum. Nam eget justo ut quam tristique fringilla. Etiam vehicula faucibus lobortis. Ut facilisis ipsum ac dolor consectetur bibendum. Ut rhoncus pellentesque porta. Morbi faucibus dui et elit vulputate interdum. Ut molestie mauris ac risus aliquam maximus. Morbi ut posuere urna, mattis tempor nibh. Pellentesque ac fermentum enim, eu mattis massa. Nam et quam condimentum, consequat quam vitae, blandit turpis.</p>
            </div> <!-- row -->
        </div> <!-- container -->  
    </body>
</html>