<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Team Join</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <div class="container">

            <p>&nbsp;</p>
            <div class="row dashpanel">
                <h2 class="team-heading team-heading-current-team" th:text="#{joinTeam.header}">Join Team</h2>
                <p>&nbsp;</p>
                <div th:if="${message}">
                    <p><i class="fa fa-exclamation-circle btn-fa-red"></i> <span class="account-change-fail" th:text="${message}"></span></p>
                </div>
                <form  method="post" action="#" th:action="@{/teams/join_team}" th:object="${teamPageJoinTeamForm}" role="form">
                    <fieldset>
                        <div class="form-group" th:classappend="${#fields.hasErrors('teamName')}? 'has-error'">
                            <input type="text" class="form-control" id="inputTeam" placeholder="Team Name to Join" name="" th:field="*{teamName}"/>
                            <span class="account-change-fail" th:if="${#fields.hasErrors('teamName')}"><i class="fa fa-exclamation-circle"></i> <span th:errors="*{teamName}"></span></span>
                        </div>
                        <div class="form-group">
                            <textarea data-toggle="tooltip" data-placement="bottom" title="For faster approval, please be more specific with the reason" class="form-control" th:placeholder="#{form.teamReason}" th:field="*{joinTeamReason}">
                            </textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-standard">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- row -->
            <div class="cc-wraper">
                <div class="cc-contactpop fixed">
                    <h1>Do you need Help? <span>Get in touch.</span></h1>
                    <div class="renseignement">
                        <i class="fa fa-times"></i>
                        <p>We will get back to you as soon as possible. </p>
                    </div>
                    <form>
                        <ul>
                            <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                            <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                            <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </form>
                </div>
            </div>
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>