<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Team Join Application</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <div class="container">
            <p>&nbsp;</p>
            <div class="row dashpanel">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h3 th:text="#{joinTeam.appSubmit.header}">Your application has been received.</h3>
                    <p th:text="#{joinTeam.appSubmit.info}">We have forwarded your application to the team’s owner for review.</p>
                    <p>Please contact the <strong>Team Owner: </strong>&lt;<span th:text="${teamOwner.name}">Team Owner</span>&gt; <strong>Email: </strong>&lt;<span th:text="${teamOwner.email}">team-owner@email</span>&gt; for any issues with your application.</p>
                    <p th:text="#{joinTeam.appSubmit.info2}">We are unable to help in the resolution of your application.</p>
                </div> <!-- col -->
                <div class="col-md-1"></div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>