<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Teams</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav">&nbsp;</div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="container">
            <p>&nbsp;</p>
            <!--<div class="sticky-container">-->
                <!--<p>&nbsp;</p>-->
                <!--<ul class="sticky">-->
                    <!--<li>-->
                        <!--<p>&nbsp;&nbsp;&nbsp;Your Teams</p>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<p>&nbsp;&nbsp; Requested Teams</p>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<p>&nbsp;&nbsp;&nbsp;Participated Teams</p>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<p>&nbsp;&nbsp; Public Teams</p>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="row">
                <!--<div th:if="${not infoMsg.isEmpty()}">-->
                    <!--<div class="alert alert-info fade in">-->
                        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
                        <!--<strong>Info!</strong> <span th:text="${infoMsg}"></span>-->
                    <!--</div>-->
                <!--</div>-->


                <div id="collapse1" class="panel panel-primary panel-collapse team-panel team-panel-current-team dashpanel">
                    <!--<div class="panel-heading">-->
                        <h2 class="team-heading team-heading-current-team" th:text="#{team.heading.current}">text heading from .properties</h2>
                    <!--</div> &lt;!&ndash; panel heading &ndash;&gt;-->
                    <div class="panel-body">
                        <table class="table table-responsive" th:if="not ${teamMap2.isEmpty()}">
                            <thead>
                                <th></th>
                                <th th:text="#{team.table.header.team}">Team</th>
                                <th th:text="#{team.table.header.description}">Description</th>
                                <th th:text="#{team.table.header.members}">Members</th>
                                <!--<th th:text="#{team.table.header.experiments}">Experiments</th>-->
                                <!--<th th:text="#{team.table.header.actions}">Actions</th>-->
                            </thead>
                            <tr th:each="teamEntry : ${teamMap2}">
                                <td th:if="${teamEntry.value.isUserTeamOwner(userEmail)} == true"><span class="glyphicon glyphicon-king" data-toggle="tooltip" data-placement="bottom" title="You are the owner of this team"></span></td>
                                <td th:unless="${teamEntry.value.isUserTeamOwner(userEmail)}"><span class="glyphicon glyphicon-pawn" data-toggle="tooltip" data-placement="bottom" title="You are a member of this team"></span></td>
                                <td><a href="#" th:href="@{/team_profile/{teamId}(teamId=${teamEntry.key})}"><span th:text="${teamEntry.value.name}">Name-Id</span></a></td>
                                <td th:text="${teamEntry.value.description}">Description</td>
                                <td>
                                    <span th:text="${teamEntry.value.membersCount}">Members</span>
                                    <a href="#" th:href="@{/approve_new_user}"><span class="label label-warning" th:if="${not #lists.isEmpty(teamEntry.value.pendingMembersList)}" th:text="${teamEntry.value.pendingMembersList.size()}" data-toggle="tooltip" data-placement="bottom" title="Members pending for your approval">Members Awaiting Approval</span></a>
                                </td>
                                <!--<td th:text="${teamEntry.value.experimentsCount}">Experiments Count</td>-->
                                <!--<td th:if="${teamEntry.value.isUserTeamOwner(currentLoggedInUserId)}"><a href="#" th:href="@{/teams/invite_members/{teamId}(teamId=${teamEntry.key})}" data-toggle="tooltip" data-placement="bottom" title="Invite Members" class="btn btn-primary"><i class="fa fa-user-plus"></i></a></td>-->
                                <!--<td th:if="not ${teamEntry.value.isUserTeamOwner(currentLoggedInUserId)}">-&#45;&#45;</td>-->
                            </tr>
                            <!--<tr>-->
                                <!--<td height="500"></td>-->
                            <!--</tr>-->
                        </table>

                        <p th:if="${teamMap2.isEmpty()}" th:text="#{team.haveToBeATeam}">You have to be part of a team to use the resources.</p>
                    </div> <!-- panel body -->
                    <div class="panel-footer team-panel-footer ">
                        <a href="teamPageApplyTeam" th:href="@{/teams/apply_team}" class="btn btn-standard"><i class="fa fa-plus btn-fa-green"></i> Apply to create a team</a>
                        <a href="teamPageJoinTeam" th:href="@{/teams/join_team}" class="btn btn-standard"><i class="fa fa-plus btn-fa-green"></i> Apply to join a team</a>
                    </div>
                </div> <!-- panel primary -->
                        <div class="panel panel-primary team-panel team-panel-current-team dashpanel">
                                <h2 class="team-heading team-heading-current-team" th:text="#{team.heading.requestJoin}">text heading from .properties</h2>
                        <div class="panel-body">
                            <div th:if="${userJoinRequestMap.isEmpty()}">
                                <p th:text="#{team.haveNotRequestedToJoin}">You have not requested to join any teams yet.</p>
                            </div>
                            <table class="table table-responsive" th:if="not ${userJoinRequestMap.isEmpty()}">
                                <thead>
                                    <th th:text="#{team.table.header.team}">Team</th>
                                    <th th:text="#{team.table.header.description}">Description</th>
                                    <!--<th th:text="#{team.table.header.institution}">Institution</th>-->
                                </thead>
                                <tr th:each="team : ${userJoinRequestMap}">
                                   <td th:text="${team.value.name}">Name</td>
                                   <td th:text="${team.value.description}">Description</td>
                                </tr>
                                <!--<tr>-->
                                    <!--<td height="700"></td>-->
                                <!--</tr>-->
                            </table>
                        </div> <!-- panel body -->
                    </div> <!-- panel -->
                <div class="panel panel-primary team-panel team-panel-current-team dashpanel">
                    <h2 class="team-heading team-heading-current-team" th:text="#{team.savedOSImages}">text heading from .properties</h2>
                    <div class="panel-body">
                        <div th:if="${isInnerImageMapPresent} == false">
                            <p th:text="#{team.noSavedOSImages}">text heading from .properties</p>
                        </div>
                        <table class="table table-responsive" th:if="${isInnerImageMapPresent} == true">
                            <thead>
                                <th th:text="#{team.table.header.imageName}">Image Name</th>
                                <th th:text="#{team.table.header.team}">Team</th>
                                <th th:text="#{team.table.header.imageStatus}">Status</th>
                            </thead>
                            <th:block th:each="perTeamImageMap : ${imageMap}">
                                <tr th:each="imageList : ${perTeamImageMap.value.get('created')}">
                                    <th:block th:each="image : ${imageList}">
                                        <td th:text="${image.imageName}"></td>
                                        <td th:text="${perTeamImageMap.key}"></td>
                                        <td th:text="#{team.table.header.imageCreated}"></td>
                                    </th:block>
                                </tr>
                                <tr th:each="imageList : ${perTeamImageMap.value.get('inProgress')}">
                                    <th:block th:each="image : ${imageList}">
                                        <td th:text="${image.imageName}"></td>
                                        <td th:text="${perTeamImageMap.key}"></td>
                                        <td th:text="#{team.table.header.imageInProgress}"></td>
                                    </th:block>
                                </tr>
                            </th:block>
                        </table>
                    </div> <!-- panel body -->
                </div> <!-- panel -->
            </div> <!-- row -->
            <div class="cc-wraper">
                <div class="cc-contactpop fixed">
                    <h1>Do you need Help? <span>Get in touch.</span></h1>
                    <div class="renseignement">
                        <i class="fa fa-times"></i>
                        <p>We will get back to you as soon as possible.</p>
                    </div>
                    <form>
                        <ul>
                            <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                            <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                            <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                        </ul>
                        <p>&nbsp;</p>
                    </form>
                </div>
            </div>
        </div> <!-- container -->
        <div th:replace="fragments/footer :: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>