<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Testbed Nodes Status</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body class="mybg loginbackground">
<th:block th:if="${session.id == null}">
    <div th:replace="fragments/login_navigation :: loginnav"></div>
</th:block>
<th:block th:if="${session.id != null}">
    <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
</th:block>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container" style="background-image: url('images/publication_back7.jpg'); object-fit: fill;object-position: 50% 50%;">
    <!--<p class="heading h15 text-center">Testbed Nodes Status</p>-->
    <p align="Center"><b><font size="30px" color="#0d6dba">Testbed Nodes Status</font></b></p>
    <p>&nbsp;</p>
    <div class="row" id="statistics">
        <div class="alert alert-danger" th:if="${freeNodes == '0'}">
            <h4>There are currently no nodes available, please contact <a th:href="#{support.email.link}" th:text="#{support.email}"></a> if you have any queries</h4>
        </div>
        <div class="col-md-6">
            <div class="stats" style="border-color: #00A4E1;">
                <i class="fa fa-cloud active-users pull-left" style="background: #00A4E1;"></i>
                <span class="pull-right stats-info">
                    <span th:text="${runningExperimentsCount}" class="stats-value">0</span>
                    <p class="stats-category">Running Experiments</p>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="stats" style="border-color: #1EAFBB;">
                <i class="fa fa-tv active-users pull-left" style="background: #1EAFBB;"></i><a href="#" data-toggle="tooltip" title="Reserved for : 60% nodes for research, 40% nodes for education" data-placement="bottom"><img src="images/information.png" width="20" height="20"/></a>
                <span class="pull-right stats-info">
                    <span class="stats-value">
                        <span th:text="${freeNodes}">0</span>/<span th:text="${totalNodes}">0</span>
                    </span>
                    <p class="stats-category">Free Nodes /<br/>Total Nodes</p>
                </span>
            </div>
        </div>
    </div>
    <p th:if="${nodesStatus.isEmpty()}" th:text="#{nav.error}"></p>
    <div id="node_status_map">
        <th:block th:each="nodesStatus : ${nodesStatus}">
            <div class="row node_status">
                <div class="col-md-12">
                    <div class="nodebackground1">
                        <h2 class="team-heading team-heading-current-team" th:text="${nodesStatus.key}">Machine Type</h2>
                        <div class="col-sm-6 col-sm-offset-6">
                            <img src="images/ServerFree.png" width="19" height="19"/> <h19>Free (<span th:text="${nodesStatusCount.get(nodesStatus.key).get('FREE')}">0</span>)</h19>
                            <img src="images/ServerInUse.png" width="19" height="19"/>
                            <h19>In Use (<span th:text="${nodesStatusCount.get(nodesStatus.key).get('IN_USE') + nodesStatusCount.get(nodesStatus.key).get('RESERVED')}">0</span>)</h19>
                            <!--
                            <img src="images/ServerUn.png" width="19" height="19"/> <h19>Reloading (<span th:text="${nodesStatusCount.get(nodesStatus.key).get('RELOADING')}">0</span>)</h19>
                            <img src="images/ServerReserved.png" width="19" height="19"/> <h19>Reserved (<span th:text="${nodesStatusCount.get(nodesStatus.key).get('RESERVED')}">0</span>)</h19>
                            -->
                            <hr/>
                        </div>
                        <ul>
                            <th:block th:each="nodes : ${nodesStatus.value}">
                                <li style="display:inline-block; margin: 10px; padding: 15px; width: 6%;">
                                    <img th:if="${nodes.status == 'in_use'}" src="images/ServerInUse.png" width="35" height="35" class="nowrap"/>
                                    <img th:if="${nodes.status == 'free'}" src="images/ServerFree.png" width="35" height="35" class="nowrap"/>
                                    <img th:if="${nodes.status == 'reserved'}" src="images/ServerInUse.png" width="35" height="35" class="nowrap"/>
                                    <!--
                                    <img th:if="${nodes.status == 'reserved'}" src="images/ServerReserved.png" width="35" height="35" class="nowrap"/>
                                    <img th:if="${nodes.status == 'reload'}" src="images/ServerUn.png" width="35" height="35" class="nowrap"/>
                                    -->
                                    <br/>
                                    <span th:text="${nodes.id}">pc00</span>
                                </li>
                            </th:block>
                        </ul>
                        <p>&nbsp;</p>
                    </div><!-- div with border -->
                </div>
            </div> <!-- row -->
        </th:block>
    </div> <!-- container to hold the row for refresh purpose -->
    <div class="cc-wraper">
        <div class="cc-contactpop fixed">
            <h1>Do you need  Help? Get in touch. </h1>
            <div class="renseignement">
                <i class="fa fa-times"></i>
                <p>We will get back to you as soon as possible. </p>
            </div>
            <form>
                <ul>
                    <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                    <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                    <li><i class=""></i> <span> Address: </span><a href="nclDirections.pdf" target="_blank">NCL COM3-B1-09 Computing 3, 11 Research Link, Singapore 119391</a></li>
                </ul>
                <p>&nbsp;</p>
            </form>
        </div>
    </div>
</div><!-- container -->

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
    <script type="text/javascript">
        // auto-refresh testbed nodes' status
        setInterval(function() {
            $('#statistics').load(document.URL +  ' #statistics ');
            $('#node_status_map').load(document.URL +  ' .node_status ');
        }, 30000);
    </script>
</html>
