<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Team Application</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body class="mybg loginbackground">
<th:block th:if="${session.id == null}">
    <div th:replace="fragments/login_navigation :: loginnav"></div>
</th:block>
<th:block th:if="${session.id != null}">
    <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</th:block>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">
    <div class="row">
        <div class="heading h15 text-center">
            <p>Testbed Nodes Status</p>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
        <ul th:each="nodesStatus : ${nodesStatus}" class="nodes-list">
            <div class="col-sm-10 col-sm-offset-2 nodebackground1">
            <th:block th:each="nodes : ${nodesStatus.value}">
                <li style="display:inline-block; margin: 10px; padding: 15px; width: 10%;">
                    <span th:if="${nodes.status == 'up'}">
                        <img src="images/ServerInuse.png" width="35" height="35" class="nowrap"/>
                    </span>
                        <span th:if="${nodes.status == 'down'}">
                           <!--<div class="down"><i class="fa fa-desktop  fa-3x" aria-hidden="true"></i></div>-->
                            <img src="images/ServerFree.png" width="35" height="35" class="nowrap"/>
                        </span>
                     <span th:if="${nodes.status == 'possibly down'}">
                        <img src="images/ServerFree.png" width="35" height="35" class="nowrap"/>
                        </span>
                        <span th:if="${nodes.status == 'unpingable'}">
                            <img src="images/ServerUn.png" width="35" height="35" class="nowrap"/>
                        </span>
                    <br/>
                    <span th:text="${nodes.id}">pc00</span>
                </li>
                <!--<li th:text="${nodes.status}" style="display:none;margin:0px; padding: 10px"/>-->

            </th:block>   <p>&nbsp;</p> <hr/>
                <div class="col-sm-8 col-sm-offset-7 nowrap" >
                    <img src="images/ServerInuse.png" width="19" height="19" class="nowrap"/>  <h19>In Used </h19>
                    <img src="images/ServerFree.png" width="19" height="19" class="nowrap"/> <h19>Free </h19>
                    <!--<img src="images/ServerPD.png" width="19" height="19" class="nowrap"/> <h19>Possibly Up</h19>-->
                    <img src="images/ServerUn.png" width="19" height="19" class="nowrap"/><h19> Unpingable</h19>
                </div>
            </div>



        </ul></div>

        <!---->

        <!--<td th:if="${nodes.status.isUp(nodesStatusStat)} == true"><span class="glyphicon glyphicon-king" data-toggle="tooltip" data-placement="bottom"></span></td>-->
        <!--<td th:unless="${nodes.status.isUp(nodesStatusStat)}"><span class="glyphicon glyphicon-pawn" data-toggle="tooltip" data-placement="bottom"></span></td>-->


        <!--<thead>-->
        <!--<th th:text="#{nodesStatus}">Status</th>-->
        <!--</thead>-->
          <!-- loop through each machine type to get a list of the nodes -->
        <!-- loop through the list -->
        <!-- check if status is up display red color -->
        <!-- check if down display green color -->
        <!--<th:block th:each="realization : ${realizationMap.get(expEntry.id)}">-->
        <!--<th:block th:each="nodesStatus : ${testbedNodesStatus.get(nodesStatus.id)}">-->
                                    <!--<span th:if="${nodesStatus.status == 'UP'}">-->
                                        <!--<td th:text="'RED'"></td>-->
                                    <!--</span>-->
                                    <!--<span th:if="${nodesStatus.status == 'DOWN'}">-->
                                        <!--<td th:text="'BlUE'"></td>-->
                                    <!--</span>-->

     <!--   </th:block>-->

        <div class="cc-wraper">
            <div class="cc-contactpop fixed">
                <h1>Do you need  Help? Get in touch. </h1>
                <div class="renseignement">
                    <i class="fa fa-times"></i>
                    <p>We will get back to you as soon as possible. </p>
                </div>
                <form>
                    <ul>
                        <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                        <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                        <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                    </ul>
                    <p>&nbsp;</p>
                </form>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!--<script>-->
    <!--function checkNodesStatus()-->
    <!--{-->
        <!--var up = "#fff";-->
        <!--var down = "#dd4b39";-->

        <!--if(nodesStatus = up)-->
        <!--{-->
            <!--pass1.style.borderBottomColor ='#fff';-->
        <!--}-->
        <!--else-->
        <!--{-->
            <!--pass1.style.borderBottomColor = badColor;-->
            <!--return;-->
        <!--}-->
    <!--}-->
<!--</script>-->

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>
