<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Testbed Information</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body class="mybg loginbackground">
<th:block th:if="${session.id == null}">
    <div th:replace="fragments/login_navigation :: loginnav"></div>
</th:block>
<th:block th:if="${session.id != null}">
    <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
</th:block>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">
    <p class="heading h15 text-center">Testbed Info</p>
    <div class="row">
        <div class="panel panel-primary dashpanel">
            <h2 class="team-heading team-heading-current-team" th:text="#{Nodes.Specification}">text heading from .properties</h2>
            <p> Each node has the following specifications:</p>
            <p><i class="fa fa-check"></i> Two (2) Intel Xeon Processor E5-2620 V3 (2.40GHz/6-core) or V4 (2.1Ghz/8-core)</p>
            <p><i class="fa fa-check"></i> 64GB 2133MHz DDR4 ECC memory</p>
            <p><i class="fa fa-check"></i> One (1) 2TB 7.2K RPM Enterprise SATA 3.5” Hot-Plug Hard Drive</p>
            <p><i class="fa fa-check"></i> One (1) 1Gb Ethernet RJ45 LAN port</p>
            <p><i class="fa fa-check"></i> Two (2) 10Gb Ethernet ports (Intel X540)</p>
            <p><i class="fa fa-check"></i> One (1) power supply unit</p>
        </div> <!-- panel -->
    </div>

    <div class="row">
        <p>&nbsp;</p>
        <div class="panel panel-primary dashpanel">
            <h2 class="team-heading team-heading-current-team" th:text="#{image.heading.global}">text heading from .properties</h2>
            <p>&nbsp;</p>
            <div class="table-responsive">
                <table class="table1">
                    <thead BGCOLOR="#E0E0E0">
                    <th width="30%"><p><h4><strong th:text="#{image.name}">Name</strong></h4></p></th>
                    <th width="20%"><p><h4><strong th:text="#{image.OS}">OS</strong></h4></p></th>
                    <th width="50%"><p><h4><strong th:text="#{image.description}">Description</strong></h4></p></th>
                    </thead>
                    <tr BGCOLOR="#fff">
                        <td><div align="center">Ubuntu1404-64-STD</div></td>
                        <td><div align="center">Linux</div></td>
                        <td><div align="center">Ubuntu 14.04 LTS 64 bit Standard Image</div></td>
                    </tr>
                    <tr BGCOLOR="#fff">
                        <td><div align="center">Ubuntu1604-64-STD</div></td>
                        <td><div align="center">Linux</div></td>
                        <td><div align="center">Ubuntu 16.04 LTS 64 bit Standard Image</div></td>
                    </tr>
                </table>
            </div>
            <p>&nbsp;</p>
            <p>To load a particular OS image onto your nodes, simply use the <code>tb-set-node-os</code> directive in your network configuration, e.g.:</p>
            <pre><p># Set OS for node 'n0'</p><p>tb-set-node-os $n0 Ubuntu1604-64-STD</p></pre>
        </div> <!-- panel -->
    </div>

    <div class="row">
        <p>&nbsp;</p>

        <div class="panel panel-primary dashpanel">
            <h2 class="team-heading team-heading-current-team" th:text="#{image.heading.cve}">text heading from .properties</h2>
            <p></p>

            <div class="table-responsive">
                <table class="table1" th:if="not ${globalImagesMap.isEmpty()}">
                    <tr BGCOLOR="#E0E0E0">
                        <th width="30%"><p><h4><strong th:text="#{image.name}">Name</strong></h4></p></th>
                        <th width="20%"><p><h4><strong th:text="#{image.OS}">OS</strong></h4></p></th>
                        <th width="50%"><p><h4><strong th:text="#{image.description}">Description</strong></h4></p></th>
                    </tr>
                    <tr BGCOLOR="#fff" th:each="imageMap : ${globalImagesMap}">
                        <td><div align="center" th:text="${imageMap.key}">Name</div></td>
                        <td><div align="center" th:text="${imageMap.value.osname}">OS</div></td>
                        <td><div align="center" th:text="${imageMap.value.description}">Description</div></td>
                    </tr>
                </table>
                <p th:if="${globalImagesMap.isEmpty()}" th:text="#{image.noCveImages}">There is no pre-compiled host vulnerability environment at the moment.</p>
            </div>
        </div> <!-- panel -->
    </div>

    <div class="cc-wraper">
        <div class="cc-contactpop fixed">
            <h1>Do you need Help? Get in touch. </h1>
            <div class="renseignement">
                <i class="fa fa-times"></i>
                <p>We will get back to you as soon as possible. </p>
            </div>
            <form>
                <ul>
                    <li><i class=""></i> <span> Phone: </span>+65 6601 1056</li>
                    <li><i class=""></i><span>Email:</span><a th:href="#{support.email.link}" th:text="#{support.email}"></a></li>
                    <li><i class=""></i> <span> Address: </span><a href="https://www.google.com.sg/maps/dir//NUS+Computing,+13+Computing+Drive,+117417/@1.3437459,103.8240449,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x31da1af8c0faba33:0x9f0d02392be4dfbe!2m2!1d103.773846!2d1.295053?hl=en" >13 COMPUTING DRIVE, COM1 #01-16 Singapore 117417</a></li>
                </ul>
                <p>&nbsp;</p>
            </form>
        </div>
    </div>
</div> <!-- container -->

<div th:replace="fragments/footer :: footer"></div>
<object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>
