<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>National Cybersecurity Laboratories - Experiment</title>
        <object th:include="fragments/header :: header" th:remove="tag" />
    </head>
    <body class="mybg loginbackground">
        <div th:replace="fragments/login_navigation :: loginnav">&nbsp;</div>
        <div class="container">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="heading h15 text-center">
                <p>Tutorials</p>
            </div>
            <div class="row dashpanel">
                <h2>1) How to Create an Experiment </h2>
                    <div class="heading col-sm-12 ">

                        <div class="col-sm-6">
                            <img preload="true" minimal-lightbox="images/createexperiment2.png" src="images/createexperiment2.png" width="500" height="315" alt="screenshot"/></div>
                        <div class="col-sm-6">
                            <div class="heading col-sm-12 col-sm-offset-1">
                                <p>&nbsp;</p>
                                <p> 1) After logging in, click on "Experiment" on the navigation bar at the top. </p>
                                <p> 2) This page provides an overview of your experiments. You can view the status, details, as well as start, stop, terminate or create an experiment</p>
                                <p> 3) To create an experiment, click on "Create Experiment".</p>
                                <p> 4) To view details of an experiment, cick on "View".</p>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>

                        <div class="col-sm-6">
                            <img preload="true" minimal-lightbox="images/createexperiment1.png" src="images/createexperiment1.png" width="500" height="315" alt="screenshot"/></div>
                        <div class="col-sm-6">
                            <div class="heading col-sm-12 col-sm-offset-1">
                                <p>&nbsp;</p>
                                <p> 1) Fill in team info. </p>
                                <p> 2) Fill in name of experiment. </p>
                                <p> 3) Give a description of the experiment.</p>
                                <p> 4) Select your preferred scenario from the drop down menu.</p>
                                <p> 5) Click on submit.</p>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div class="col-sm-6">
                            <img preload="true" minimal-lightbox="images/createexperiment3.png" src="images/createexperiment3.png" width="500" height="315" alt="screenshot"/></div>
                        <div class="col-sm-6">
                            <div class="heading col-sm-12 col-sm-offset-1">
                                <p>&nbsp;</p>
                                <p> 1) Clicking on "View" brings up this page with details on your experiment and instructions on how to access experiment nodes. The fully qualifies name can be found here as well. </p>

                            </div>
                        </div>
                    </div>
<hr/>
                <h2>2) How to Create an Account </h2>
                <div class="heading col-sm-12 ">

                    <div class="col-sm-6">
                        <img preload="true" minimal-lightbox="images/register11.png" src="images/register11.png" width="500" height="315" alt="screenshot"/></div>
                    <div class="col-sm-6">
                        <div class="heading col-sm-12 col-sm-offset-1">
                            <p>&nbsp;</p>
                            <p> 1) To create an account with NCL, click on “Create account” button on the top right of the screen. </p>
                            <p> 2) Fill in a valid email address, your preferred password, and accept the Acceptable Usage Policy and Terms &amp; Conditions, then click on Next.</p>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                   <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <div class="col-sm-6">
                        <img preload="true" minimal-lightbox="images/register2.png" src="images/register2.png" width="500" height="315" alt="screenshot"/></div>
                    <div class="col-sm-6">
                        <div class="heading col-sm-12 col-sm-offset-1">
                            <p>&nbsp;</p>
                            <p> 1) Fill in all required information here. ALL fields are required. </p>

                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div class="col-sm-6">
                        <img preload="true" minimal-lightbox="images/register3.png" src="images/register3.png" width="500" height="315" alt="screenshot"/></div>
                    <div class="col-sm-6">
                        <div class="heading col-sm-12 col-sm-offset-1">
                            <p>&nbsp;</p>
                            <p> 1) Choose to create a new team, or to join an existing team. </p>

                        </div>
                    </div>
                </div>

                <h2>3) How to Join a Team </h2>
                <div class="heading col-sm-12 ">
                    <div class="col-sm-6">
                    <img preload="true" minimal-lightbox="images/jointeam.png" src="images/jointeam.png" width="500" height="315" alt="screenshot"/></div>
                    <div class="col-sm-6">
                        <div class="heading col-sm-12 col-sm-offset-1">
                            <p>&nbsp;</p>
                            <p> 1) At the “Teams” page you can view information about your team as well as pending requests for participation.</p>
                            <p> 2) To view specific team information, click on the team name. </p>
                            <p> 3) You can also create a new team or join a team here.</p>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
           </div>
        </div> <!-- container -->

        <div th:replace="fragments/footer:: footer"></div>
        <object th:include="fragments/javascript :: javascript" th:remove="tag" />
    </body>
</html>