<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Tutorials</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body class="mybg loginbackground">
<th:block th:if="${session.id == null}">
    <div th:replace="fragments/login_navigation :: loginnav"></div>
</th:block>
<th:block th:if="${session.id != null}">
    <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
</th:block>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
    <div class="container" style="background-image: url('images/publication_back7.jpg'); object-fit: fill;object-position: 50% 50%;">
      <!--  <div class="heading h15 text-center">
            <p>Tutorials</p>
        </div>-->
        <p align="Center"><b><font size="30px" color="#0d6dba">Tutorials</font></b></p>
        <p>&nbsp;</p>
        <div class="row ">
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>How to Create an Account</h2>
                    <p>To get started, just create an account with NCL, click on “Create account” button on the top right of the screen.</p>
                    <a th:href="@{/tutorials/createaccount}"> <h18>Learn More >>> </h18></a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/create1.png" src="images/create1.png" width="500" alt="screenshot"/></div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/apply.png" src="images/apply.png" width="500" alt="screenshot"/>
                </div>
                <div class="col-sm-6">
                    <h2>How to Apply a Team</h2>
                    <p>Do you have a dedicated group of like-minded people with similar goals? Start a team today!</p>
                    <a href="/tutorials/applyteam.html" th:href="@{/tutorials/applyteam}"><h18>Learn More >>> </h18></a></div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>How to Join a Team</h2>
                    <p>You can view information about your team as well as pending requests for participation and join a new team.</p>
                    <a href="/tutorials/jointeam.html" th:href="@{/tutorials/jointeam}"><h18>Learn More >>> </h18></a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/join1.png" src="images/join1.png" width="500" alt="screenshot"/>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/createexp1.png" src="images/createexp1.png" width="500" alt="screenshot"/></div>
                <div class="col-sm-6">
                    <h2>How to Create an Experiment</h2>
                    <p>You can create an experiment here. After that, access the node and started your experiment.</p>
                    <a href="/tutorials/createexperiment.html" th:href="@{/tutorials/createexperiment}"> <h18>Learn More >>> </h18></a>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>How to Access your Experiment Node/Stack</h2>
                    <p>You can access your experiment using NCL Client tool.</p>
                    <p>Client Tool is aim to provide a clean GUI to automate the procedure of SSH tunneling,
                        port binding and unbinding and rdesktop to make your life easier.</p>

                    <a href="/tutorials/usenode.html" th:href="@{/tutorials/usenode}"> <h18>Learn how to use >>> </h18></a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/ncl-client.png" src="images/ncl-client.png" width="500" alt="screenshot"/>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/experiment_save_image_ready_to_use.png" src="images/experiment_save_image_ready_to_use.png" width="500" alt="screenshot"/>
                </div>
                <div class="col-sm-6">
                    <h2>How to Create Custom Image</h2>
                    <p>You can save an image for an experiment node and load it into a new experiment.</p>
                    <a href="/tutorials/createcustom.html" th:href="@{/tutorials/createcustom}"> <h18>Learn More >>> </h18></a>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>How to Provision Software Defined Network (SDN) Experiments in NCL Testbed</h2>
                    <a href="bnvirtusage.pdf"><h18>Learn More >>></h18></a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="images/SDNTUT.png" src="images/SDNTUT.png" width="500" alt="screenshot"/>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/teamquota.png" src="../images/teamquota.png" width="500" alt="screenshot"/>
                </div>
                <div class="col-sm-6">
                    <h2>How to Manage Team Resources</h2>
                    <p>You can specify the amount of resources your team may use by setting the budget quota.</p>
                    <a href="/tutorials/manageresource.html" th:href="@{/tutorials/manageresource}"> <h18>Learn More >>> </h18></a>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground">
                <div class="col-sm-6">
                    <h2>How to Get Information about NCL Testbed</h2>
                    <p>You can view information about our testbed, current status of the nodes in the testbed, and the dates nodes are reserved.</p>
                    <a href="/tutorials/testbedinfo.html" th:href="@{/tutorials/testbedinfo}"> <h18>Learn More >>> </h18></a>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/testbedinfo.png" src="../images/testbedinfo.png" width="500" alt="screenshot"/>
                </div>
            </div>
        </div>
    </div> <!-- container -->
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div th:replace="fragments/footer :: footer"></div>
    <object th:include="fragments/javascript :: javascript" th:remove="tag" />
</body>
</html>
