<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Use Node Tutorial</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body>
    <th:block th:if="${session.id == null}">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
    </th:block>
    <th:block th:if="${session.id != null}">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
    </th:block>
    <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="row ">
            <div class="heading col-sm-12 tutorialbackground ">
                <div class="col-sm-8">
                    <h2>The Guide to Access Instances via NCLient </h2>
                    <h2>Step 1</h2>
                    <p>Go to <a href="https://github.com/nus-ncl/Client">https://github.com/nus-ncl/Client</a> to git or download the tool NCLient.</p>
                    <p>Refer to README <a href="https://github.com/nus-ncl/Client#getting-started">https://github.com/nus-ncl/Client#getting-started</a> to learn how to get started.</p>
                </div>
            </div>

            <div class="heading col-sm-12 tutorialbackground ">
                <div class="col-sm-12">
                    <h2>Step 2</h2>
                    <div class="col-sm-1" ></div>
                    <div class="col-sm-11" >
                    <ol>
                        <li>
                            <p>To get the Node/Stack information , goto “Experiment” page <a href="https://ncl.sg/experiments">http://ncl.sg/experiments</a> and press on the name of experiment. Then you will find the detail page of an experiment.
                           <br/><br/> <img class="img-responsive" preload="true" minimal-lightbox="../images/exp_detail.png" src="../images/exp_detail.png" width="800" alt="screenshot"/>
                        </p></li>
                        <br/>
                        <li><p>
                            Click on the “Realization” tab on navigation, will show the node/stack information of specific experiment.
                            <br/><br/><img class="img-responsive" preload="true" minimal-lightbox="../images/deter_guide1.png" src="../images/deter_guide1.png" width="800" alt="screenshot"/>

                        </p></li>
                    </ol>
                    </div>
                </div>
            </div>

            <div class="heading col-sm-12 tutorialbackground ">
                <div class="col-sm-12">
                    <h2>Step 3</h2>
                    <p>Go to client_files folder at root directory,
                        to compose your client file according to your metadata of the instance,
                        based on our provided templates. (Deter or OpenStack)</p>
                </div>
                <div class="col-sm-12">
                    <h3>&emsp;&emsp;&emsp;a. Access to DeterLab Node</h3>
                    <div>
                        <div class="col-sm-2" ></div>

                        <div class="col-sm-10">
                            <p></p>
                            <img class="img-responsive" preload="true" minimal-lightbox="../images/deter_guide.png" src="../images/deter_guide.png" width="800" alt="screenshot"/>
                        </div>
                    </div>
                    <br/><br/>
                    <div>
                        <div class="col-sm-1" ></div>
                        <div class="col-sm-10">
                            <br/>
                            <ol>
                                <li>Refer to Client-deter.xml template. </li>
                                <li><p>For every single node, create a &lt;Node&gt;&lt;/Node&gt; tab under the &lt;NODES&gt;&lt;/NODES&gt; tab and then replace 'name',
                                'ExperimentName','TeamName' and 'vncport'.<br/><br/>
                                    E.g.&emsp; for the example of Fig1.<br/>
                                    &emsp;&emsp;&emsp;name = n0<br/>
                                    &emsp;&emsp;&emsp;ExperimentName = Pentest-2 <br/>
                                    &emsp;&emsp;&emsp;TeamName = TestNODEissue <br/>
                                    &emsp;&emsp;&emsp;vncport = 5901<br/>
                                    &emsp;&emsp;&emsp;for n0 access.<br/><br/>
                                   If you have more than one node,it works the same except for ‘name’ = n0 for node n0.<br/>

                                </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <br/><br/><br/><br/>
                    <div class="col-sm-12">
                    <h3>&emsp;&emsp;&emsp;b. Access to OpenStack Stack</h3>
                    <div>
                        <div class="col-sm-2" ></div>

                        <div class="col-sm-10">
                            <p></p>
                            <img class="img-responsive" preload="true" minimal-lightbox="../images/os_guide.png" src="../images/os_guide.png" width="800" alt="screenshot"/>
                        </div>
                    </div>
                    <br/> <br/>
                    <div>
                        <div class="col-sm-1" ></div>
                        <div class="col-sm-10">
                            <br/>
                            <ol>

                                <li>Refer to Client-openstack.xml template. </li>
                                <li><p>For every single instance, create a &lt;Machine&gt; &lt;/Machine&gt; tab under
                                    the &lt;VM&gt;&lt;/VM&gt; tab and then replace ‘name’, ‘Project’,
                                    ‘TeamName’ , ‘Domain’, ‘username’, ‘password’, ‘vncport’ and ‘IP’ of provider adapter.<br/><br/>
                                    E.g.&emsp; for the example of Fig2.<br/>
                                    &emsp;&emsp;&emsp;name = MYSTACK1-hello_world-unhdzx32xbra<br/>
                                    &emsp;&emsp;&emsp;Project = ARPDemo <br/>
                                    &emsp;&emsp;&emsp;Domain = Default <br/>
                                    &emsp;&emsp;&emsp;username = &lt;ssh account of the instance&gt;<br/>
                                    &emsp;&emsp;&emsp;password = &lt;ssh password of the instance&gt;<br/>
                                    &emsp;&emsp;&emsp;vncport = 5901<br/>
                                    &emsp;&emsp;&emsp;for MYSTACK1 access.<br/><br/>
                                </p>
                                </li>
                            </ol>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div th:replace="fragments/footer :: footer"></div>
    <object th:include="fragments/javascript :: javascript" th:remove="tag"/>
</body>
</html>