<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>National Cybersecurity Laboratories - Use SCP Tutorial</title>
    <object th:include="fragments/header :: header" th:remove="tag" />
</head>
<body>
    <th:block th:if="${session.id == null}">
        <div th:replace="fragments/login_navigation :: loginnav"></div>
    </th:block>
    <th:block th:if="${session.id != null}">
        <div th:replace="fragments/dashboard_navigation :: dashboardnav"></div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </th:block>
    <div class="container">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div class="row ">
            <div class="heading col-sm-12 tutorialbackground ">
                <div class="col-sm-6">
                    <h2>Step 1</h2>
                    <p>Open the SSH terminal on your system go to the directory where the file to be uploaded is located.</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/scplocal.png" src="../images/scplocal.png" width="500" alt="screenshot"/>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground ">
                <div class="col-sm-6">
                    <h2>Step 2</h2>
                    <p>
                        Upload the file using the scp command "scp&nbsp;[filename]&nbsp;[username]@users.ncl.sg:[directory]" <br/>
                        where [directory] can be in your home folder /user/your_username, or your project folder /proj/your_project_name.
                    </p>
                    <p>eg. "scp fileToUpload.txt ncl@users.ncl.sg:/users/ncl/archive"</p>
                    <p>
                        File system on /users or /proj is a networking file system which will be automatically mounted
                        on the users.ncl.sg machine, as well as all the nodes in your experiment. Hence, if you transfer
                        files to /users or /proj, you can access those files on any of your experimental nodes.
                    </p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/scpfile.png" src="../images/scpfile.png" width="500" alt="screenshot"/>
                </div>
            </div>
            <div class="heading col-sm-12 tutorialbackground ">
                <div class="col-sm-6">
                    <h2>Step 3</h2>
                    <p>Copy data from your experimental node to your local computer:</p>
                    <ol>
                        <li>On your experimental node, copy/move the data to your home folder /users/your_username or your project folder /proj/your_project.</li>
                        <li>
                            <p>
                                On your local computer, copy the data using the scp command:
                                "scp&nbsp;[username]@users.ncl.sg:/path/to/your/data&nbsp;path/on/your/local"
                            </p>
                            <p>
                                e.g. "scp ncl@users.ncl.sg:/users/ncl/demo/test.txt tmp" <br/>
                                where "tmp" is a directory in your local system/computer.
                            </p>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive" preload="true" minimal-lightbox="../images/scpdownload.png" src="../images/scpdownload.png" width="500" alt="screenshot"/>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div th:replace="fragments/footer :: footer"></div>
    <object th:include="fragments/javascript :: javascript" th:remove="tag"/>
</body>
</html>